{% extends "base.html" %}

{% block page_meta %}
<meta name="lang.time.hour" content="hour,hours" />
<meta name="lang.time.minute" content="minute,minutes" />
<meta name="lang.time.second" content="second,seconds" />
<meta name="lang.time.in" content="in" />
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/reminder/static/reminder.css" />
{% endblock %}

{% block scripts %}
<script src="/reminder/static/reminder.js"></script>
{% endblock %}


{% block page_body %}

<main>
    {% if upcoming %}
    <div class="band">
        <div class="content-wrapper">

            <h1>Scheduled</h1>

            {% for event in upcoming %}
            <div class="upcoming-reminder">
                <a class="delete-reminder" data-uid="{{ event.time }}" href="#">
                    <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
                </a>
                <time datetime="{{ event.time * 1000 }}">
                    {{ event.time|localtime(format="time12_short") }}
                </time>
                {{ event.argument[1].title }}
                <p class="remaining smaller">calculating time remaining...</p>

            </div>

            {% endfor %}

        </div>
    </div>
    {% endif %}


    <div class="content-wrapper">

        <form id="reminder-form" method="post" action="{{ url }}">
            <div class="{% if not error %}hidden{% endif %} error message">{{ error }}</div>

            {% if templates %}
            <div class="field">
                <label for="template">Templates:</label>
                <select id="template" name="template">
                    <option value=""></option>
                    {% for id, template in templates.items() %}
                    {% set comment = template.get('comments', [])|join %}
                    {% set message = template.get('message', [])|join %}
                    {% set minutes = template.get('minutes', '') %}
                    <option value="1" data-uid="{{ id }}" data-message="{{ message }}" data-minutes="{{ minutes }}" data-comments="{{ comment }}">{{ message }}</option>
                    {% endfor %}
                </select>

                <span id="template-options" class="hidden smaller">
                    <a id="delete-template" href="#">
                        <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
                    </a>
                </span>
            </div>
            {% endif %}

            <div class="field">
                <label for="message">Message:</label>
                <input type="text" id="message" name="message" value="{{ message|default('', true)|e }}"/>
            </div>

            <div class="field">
                <p>Send:</p>
                <div class="half-column">
                    <div class="field">
                        in
                        <input type="text" class="inline" id="minutes" name="minutes" value="{{ delivery|default('', true)|e }}"/>
                        minutes
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="comments">Comments:</label>
                <textarea id="comments" name="comments">{{ comments|default('', true)|e }}</textarea>
            </div>

            <div class="field">
                <input class="inline" type="checkbox" id="remember" name="remember" value="1" />
                <label for="remember" class="inline">Save this as a template for future use</later>
            </div>

            <div class="field">
                <button data-default="Save" data-alt="Please wait">Save</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}
