{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('reminder', 'reminder.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.vueApp('main', ('countdown', 'discardable-record', 'discard-button', '/reminder/static/reminder-form.js', '/reminder/static/reminder-template.js')) }}
    {{ macros.staticAsset('shared', 'js/shortcuts.js') }}
{% endblock %}

{% block app_message %}
    {% if error %}
        <section id="app-message" class="error">{{ error }}</section>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}


{% block page_body %}
    {{ macros.svgSymbols("delete") }}


    <main>
        {% if upcoming %}
            <div id="upcoming">
                {% for event in upcoming %}
                    <discardable-record inline-template url="{{ app_url }}?uid={{ event.time }}">
                        <div class="upcoming-reminder" v-bind:style="styles">
                            <div><discard-button tooltip="Delete this reminder" /></div>
                            <div class="summary">
                                <time datetime="{{ event.time * 1000 }}">
                                    {{ event.time|localtime|dateformat("LT") }}
                                </time>
                                {{ event.argument[1].title }}

                                {% if event.argument[1].body %}
                                    <p>{{ event.argument[1].body }}</p>
                                {% endif %}
                                <p class="remaining smaller">
                                    <countdown v-bind:expiration-seconds="{{ event.time }}" />
                                </p>
                            </div>
                        </div>
                    </discardable-record>
                {% endfor %}
            </div>
        {% endif %}

        <reminder-form inline-template>
            <form ref="reminderForm" id="reminder-form" method="post" action="{{ app_url }}">
                <div id="template">
                    {% if not templates %}
                        <p>No templates.</p>
                    {% endif %}
                    <p>Templates</p>
                    {% for id, template in templates.items() %}
                        <reminder-template
                            inline-template
                            uid="{{ id }}"
                            message="{{ template.message }}"
                            v-bind:minutes="{{ template.minutes }}"
                            comments="{{ template.comments }}"
                            notification-id="{{ template.notification_id }}"
                            url="{{ template.url }}"
                        >
                            <div v-if="visible" class="template">
                                <discardable-record inline-template url="{{ template.delete_url }}">
                                    <div><discard-button tooltip="Delete this template" /></div>
                                    </discardable-record>
                                    <a v-on:click="apply" id="{{ template.notification_id }}" class="summary" href="#">
                                        {{ template.message }}
                                        <br/>
                                        <span class="smaller">
                                            {{ template.duration_in_words }}
                                            {%- if template.notification_id %}
                                                / #{{ template.notification_id }}
                                            {%- endif -%}
                                        </span>
                                    </a>
                            </div>
                        </reminder-template>
                    {% endfor %}
                </div>
                <div>
                    <p>New Reminder</p>

                    <div class="field">
                        <label for="message">Message</label>
                        <input v-model="message" type="text" id="message" name="message" required />
                    </div>


                    <div class="field">
                        <label for="message">Timeframe</label>
                        <span class="inline-container">
                            <input v-model="hours" type="text" class="inline numeric" id="hours" name="hours" />
                            hours
                        </span>

                        <span class="inline-container">
                            <input v-model="minutes" type="text" class="inline numeric" id="minutes" name="minutes"/>
                            minutes
                        </span>
                    </div>
                    <div class="field">
                        <label for="comments">Comments</label>
                        <textarea v-model="comments" id="comments" name="comments"></textarea>
                    </div>

                    <div class="field">
                        <label for="notification_id">Notification ID</label>
                        <input v-model="notificationId" type="text" id="notification_id" name="notification_id" />
                    </div>

                    <div class="field">
                        <label for="url">URL</label>
                        <input v-model="url" type="text" id="url" name="url" />
                        <div class="shortcuts">
                            <a href="#" data-field="url" data-shortcut="set-value" data-value="{{ app_url }}">this page</a>
                        </div>
                    </div>

                    <div class="field">
                        <input type="checkbox" id="remember" name="remember" value="1" />
                        <label for="remember" class="inline">Make this a template</later>
                    </div>

                    <div class="field">
                        <button data-default="Save" data-alt="Please wait">Save</button>
                    </div>
                </div>
            </form>
        </reminder-form>
    </main>
{% endblock %}
