{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block app_icon -%}
    {{ macros.appSpecificIcon(app_url) }}
{%- endblock %}

{% block stylesheets %}
    {{ macros.staticAsset('reminder', 'reminder.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.vueApp('main', ('countdown', 'discardable-record', 'discard-button')) }}
    {{ macros.staticAsset('shared', 'js/shortcuts.js') }}
    {{ macros.staticAsset('reminder', 'reminder.js') }}
{% endblock %}

{% block app_message %}
    {% if error %}
        <section id="app-message" class="error">{{ error }}</section>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}


{% block page_body %}
    {{ macros.svgSymbols("delete", "edit") }}

    <main>
        {% if upcoming %}
            <div id="upcoming">
                {% for event in upcoming %}
                    <discardable-record inline-template url="{{ app_url }}?uid={{ event.time }}">
                        <div class="upcoming-reminder" v-bind:style="styles">
                            <div><discard-button tooltip="Delete this reminder" /></div>
                            <div class="summary">
                                <time datetime="{{ event.time * 1000 }}">
                                    {{ event.time|localtime|dateformat("LT") }}
                                </time>
                                {{ event.argument[1].title }}

                                {% if event.argument[1].body %}
                                    <p>{{ event.argument[1].body }}</p>
                                {% endif %}
                                <p class="remaining smaller">
                                    <countdown end-event="hide" v-bind:expiration-seconds="{{ event.time }}" />
                                </p>
                            </div>
                        </div>
                    </discardable-record>
                {% endfor %}
            </div>
        {% endif %}

        <form id="reminder-form" method="post" action="{{ app_url }}">
            <div id="template">
                {% for id, template in templates.items() %}
                    <discardable-record inline-template url="{{ template.delete_url }}">
                        <div class="template"
                             data-message="{{ template.message }}"
                             data-minutes="{{ template.minutes }}"
                             data-notification_id="{{ template.notification_id }}"
                             data-url="{{ template.url }}"
                        >
                            <a href="#"
                               class="hash-focus-candidate"
                               data-hash-focus-id="{{ template.notification_id }}"
                            >
                                <span class="title">{{ template.message }}</span>
                                <div class="details">
                                    {{ template.duration_in_words }}
                                    {%- if template.notification_id %}
                                        / #{{ template.notification_id }}
                                    {%- endif -%}
                                </div>
                            </a>
                        </div>
                    </discardable-record>
                {% endfor %}

                {% if registry_url %}
                    <a class="template-edit" href="{{ registry_url }}">
                        <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                        Edit templates
                    </a>
                {% endif %}
            </div>
            <div>
                <div class="field">
                    <label for="message">Message</label>
                    <input type="text" id="message" name="message" required />
                </div>


                <div class="field">
                    <label for="message">Timeframe</label>
                    <input type="number" class="inline" id="hours" name="hours" />
                    hours

                    <input type="number" class="inline" id="minutes" name="minutes"/>
                    minutes
                </div>
                <div class="field">
                    <label for="comments">Comments</label>
                    <textarea id="comments" name="comments"></textarea>
                </div>

                <div class="field">
                    <label for="notification_id">Notification ID</label>
                    <input type="text" id="notification_id" name="notification_id" />
                </div>

                <div class="field">
                    <label for="url">URL</label>
                    <input type="text" id="url" name="url" />
                    <div class="shortcuts">
                        <a href="#" data-field="url" data-shortcut="set-value" data-value="{{ app_url }}">this page</a>
                    </div>
                </div>

                <div class="field">
                    <input type="checkbox" id="remember" name="remember" value="1" />
                    <label for="remember" class="inline">Save as a template</later>
                </div>

                <div class="field">
                    <button data-default="Save" data-alt="Please wait">Save</button>
                </div>
            </div>
        </form>
    </main>
{% endblock %}
