{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('bookmarks', 'bookmarks.css') }}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a href="{{ app_url }}">
            <svg class="icon icon-tag"><use xlink:href="#icon-arrow-left"></use></svg>
            Recent
        </a>
    </nav>
{% endblock %}

{% block page_body %}
    <main>
        {{ macros.svgSymbols("icon-tag", "arrow-left") }}

        {% if not tags %}
            <p>No tags found.</p>
        {% endif %}

        {% if tags %}
            <ul id="all-tags" class="tag-list">
                {% for tag in tags %}
                    <li>
                        <a href="{{ app_url }}?query=tag:{{ tag }}&order=date-desc">
                            <svg class="icon icon-tag"><use xlink:href="#icon-tag"></use></svg>
                            {{ tag }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
{% endblock %}
