{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('bookmarks', 'bookmarks.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.vueApp('main', ('discardable-record', 'discard-button', 'wayback-link')) }}
{% endblock %}

{% block page_body %}
    <main>

        {{ macros.svgSymbols("search", "delete", "icon-tag", "arrow-right", "arrow-left", "close", "globe") }}

        <header class="app-nav">
            <form method="get" action="{{ app_url }}">
                <div class="field">
                    <label for="address">Keyword</label>
                    <input type="text" id="query" name="query" value="{{ query|default('', true)|e }}"/>
                </div>
                <div class="field">
                    <button>
                        <svg class="icon"><use xlink:href="#icon-search"></use></svg>
                    </button>
                </div>

                <div class="options">
                    <div class="field">
                        <label for="order-rank">
                            <input type="radio"
                                   id="order-rank"
                                   name="order"
                                   value="rank"
                                   {% if order == "rank" %}checked="checked"{% endif %}
                            />
                            Ranked
                        </label>
                    </div>
                    <div class="field">
                        <label for="order-date-desc">
                            <input type="radio"
                                   id="order-date-desc"
                                   name="order"
                                   value="date-desc"
                                   {% if order == "date-desc" %}checked="checked"{% endif %}
                            />
                            Newest
                        </label>
                    </div>
                    <div class="field">
                        <label for="order-date-asc">
                            <input type="radio"
                                   id="order-date-asc"
                                   name="order"
                                   value="date-asc"
                                   {% if order == "date-asc" %}checked="checked"{% endif %}
                            />
                            Oldest
                        </label>
                    </div>
                </div>

            </form>
        </header>

        <nav class="secondary">
            {% if count %}
                <div>
                    Showing {{ start_index }} – {{ end_index }}
                    of {{ count|pluralize('bookmark', 'bookmarks') }}
                    {%- if max_days %}
                        added in the past {{ max_days // 30 }} months.
                    {%- else -%}
                        .
                    {% endif %}
                </div>
            {% endif %}

            {% if not bookmarks %}
                <div class="warning">Nothing found.</div>
            {% endif %}

            <div>{{ macros.cancelLink(query, app_url) }}</div>

            {% if general_query %}
                <div>{{ general_query|websearch("google") }}</div>
                <div>{{ general_query|websearch("bing") }}</div>
            {% endif %}
        </nav>



        {% if recent_tags %}
            <section>
                <ul class="tag-list">
                    {% for tag in recent_tags|sort %}
                        <li>
                            <svg class="icon icon-tag"><use xlink:href="#icon-tag"></use></svg>
                            <a href="{{ app_url }}?query=tag:{{ tag }}&order=date-desc">{{ tag }}</a>
                        </li>
                    {% endfor %}
                    <li><a href="{{ app_url }}/taglist">view all</a></li>
                </ul>
            </section>
        {% endif %}

        <div class="bookmarks">
            {% for bookmark in bookmarks %}

                <discardable-record inline-template url="{{ app_url }}?url={{ bookmark.url|urlencode }}">
                    <div class="bookmark" v-bind:style="styles">
                        <a class="title" href="{{ bookmark.url|anonymize }}" rel="noreferrer" target="_blank">
                            {{ bookmark.title }}
                        </a>

                        <div class="details">
                            <time>
                                {{ bookmark.added|localtime|dateformat("MMMM D, YYYY") }}
                            </time>

                            {% for tag in bookmark.tags or [] %}
                                <a class="tag" href="{{ app_url }}?query=tags:{{ tag|urlencode }}">
                                    <svg class="icon icon-tag"><use xlink:href="#icon-tag"></use></svg>
                                    {{ tag }}
                                </a>
                            {% endfor %}

                            {% if bookmark.domain %}
                                <p>
                                    <a href="{{ app_url }}?query=domain:{{ bookmark.domain|urlencode}}">{{ bookmark.domain }}</a>
                                </p>
                            {% endif %}

                            <p>
                                <wayback-link url="{{ app_url }}?wayback={{ bookmark.url|urlencode }}" />
                            </p>

                            <discard-button tooltip="Delete this bookmark" />

                        </div>

                        {% if bookmark.comments %}
                            <p class="comments">
                                {{ bookmark.comments }}
                            </p>
                        {% endif %}
                    </div>
                </discardable-record>

            {% endfor %}
        </div>

        <div class="pagination">
            {% if bookmarks %}
                <p>Page {{ page }} of {{ total_pages }}</p>
            {% endif %}

            {% if page > 1 %}
                <a href="{{ app_url }}?page=1{{ query|optional_qs_param("query") }}" class="next">
                    <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
                    First
                </a>
            {% endif %}

            {% if previous_page %}
                <a href="{{ app_url }}?page={{ previous_page }}{{ query|optional_qs_param("query") }}" class="next">
                    <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
                    Previous
                </a>
            {% endif %}
            {% if next_page %}
                <a href="{{ app_url }}?page={{ next_page }}{{ query|optional_qs_param("query") }}" class="previous">
                    Next
                    <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
                </a>
            {% endif %}

            {% if page < total_pages %}
                <a href="{{ app_url }}?page={{ total_pages }}{{ query|optional_qs_param("query") }}" class="previous">
                    Last
                    <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
                </a>
            {% endif %}
        </div>

        {{ macros.queryPlan(query_plan) }}
    </main>
{% endblock %}
