{% extends "templates/base.jinja.html" %}
{% import "templates/macros.jinja.html" as macros -%}

{% block app_icon -%}
    {{ macros.appSpecificIcon("bookmarks") }}
{%- endblock %}

{% block stylesheets %}
    {{ macros.asset("css/bookmarks.css") }}
{% endblock %}

{% block scripts %}
    {{ macros.asset("js/delete.js") }}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a href="{{ app_url }}/taglist">
            <svg class="icon"><use xlink:href="#icon-list"></use></svg>
            Tags
        </a>
    </nav>
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("search", "delete", "tag", "list", "arrow-right", "arrow-left", "globe") }}

    <main>
        <header id="app-nav">
            <form method="get" action="{{ app_url }}">
                <div class="field">
                    <input
                        type="search"
                        id="query"
                        name="query"
                        value="{{ query|default('', true)|e }}"
                        autocapitalize="none"
                    />
                </div>
                <div class="field">
                    <button>Search</button>
                </div>
                <div class="options">
                    <div class="field">
                        <label for="order-rank">
                            <input type="radio"
                                   id="order-rank"
                                   name="order"
                                   value="rank"
                                   {% if order == "rank" %}checked="checked"{% endif %}
                            />
                            Ranked
                        </label>
                    </div>
                    <div class="field">
                        <label for="order-date-desc">
                            <input type="radio"
                                   id="order-date-desc"
                                   name="order"
                                   value="date-desc"
                                   {% if order == "date-desc" %}checked="checked"{% endif %}
                            />
                            Newest
                        </label>
                    </div>
                    <div class="field">
                        <label for="order-date-asc">
                            <input type="radio"
                                   id="order-date-asc"
                                   name="order"
                                   value="date-asc"
                                   {% if order == "date-asc" %}checked="checked"{% endif %}
                            />
                            Oldest
                        </label>
                    </div>
                </div>
            </form>
        </header>

        {% if count and not max_days %}
            <h2>
                <svg class="icon"><use xlink:href="#icon-search"></use></svg>
                Found {{ count|pluralize('bookmark', 'bookmarks') }}
                added in the past {{ max_days // 30 }} months.
            </h2>
        {% endif %}

        {% if not bookmarks %}
            <p>Nothing found.</p>
        {% endif %}

        <div id="collection">
            <ul>
                {% for bookmark in bookmarks %}
                    <li>
                        <div class="bookmark" v-bind:style="styles">
                            <a class="title" href="{{ bookmark.url|anonymize }}" rel="noreferrer" target="_blank">
                                {{ bookmark.title }}
                            </a>

                            {% if bookmark.tags %}
                                <div class="tags">
                                    {% for tag in bookmark.tags %}
                                        <a class="tag" href="{{ app_url }}?query=tags:{{ tag|urlencode }}">
                                            <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                                            {{ tag }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="details">
                                <div class="action-button delete-button">
                                    <a href="#"
                                       class="delete"
                                       tooltip="Delete this bookmark"
                                       data-hide-closest="li"
                                       data-delete-url="{{ app_url }}?url={{ bookmark.url|urlencode }}"
                                    >
                                        <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                                    </a>
                                </div>

                                <div>
                                    <time>{{ bookmark.added|dateformat("%B %-d, %Y") }}</time>
                                </div>

                                {% if bookmark.domain %}
                                    <div>
                                        <a href="{{ app_url }}?query=domain:{{ bookmark.domain|urlencode}}">{{ bookmark.domain }}</a>
                                    </div>
                                {% endif %}

                                <div>
                                    <wayback-link url="{{ app_url }}?wayback={{ bookmark.url|urlencode }}" />
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {{ macros.pagination(pagination_url, offset, per_page, total_records) }}
        {{ macros.queryPlan(query_plan) }}
    </main>
{% endblock %}
