{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('bookmarks', 'bookmarks.css') }}
{% endblock %}

{% block page_body %}
    <main>
        {{ macros.svgSymbols("icon-tag") }}

        {% if not tags %}
            <p align="center">No tags found.</p>
        {% endif %}

        {% if tags %}
            <ul id="all-tags" class="tag-list">
                {% for tag in tags %}
                    <li>
                        <svg class="icon icon-tag"><use xlink:href="#icon-tag"></use></svg>
                        <a href="{{ app_url }}?query=tag:{{ tag }}&order=date-desc">{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
{% endblock %}
