{% extends "templates/base.jinja.html" %}
{% import "templates/macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('bookmarks', 'bookmarks.css') }}
{% endblock %}

{% block page_body %}
    <main>
        {{ macros.svgSymbols("tag") }}

        {% if not tags %}
            <p>No tags found.</p>
        {% endif %}

        {% if tags %}
            <ul id="all-tags" class="tag-list">
                {% for tag in tags %}
                    <li>
                        <a href="{{ app_url }}?query=tag:{{ tag }}&order=date-desc">
                            <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                            {{ tag }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
{% endblock %}
