.hosts {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.host {
    display: inline-block;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.host p {
    width: 100%;
    text-align: center;
    margin: .5em 0 0;
}

.add-host {
    text-align: right;
    margin-bottom: 1.5em;
}
