BUTTON {
    width: 100%;
    font-size: .75em;
}

SECTION {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1.5em;
    align-items: center;
}

.mac-address {
    font-family: monospace;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    BUTTON {
        font-size: 1em;
    }
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
