.entry {
    margin-bottom: 2em;
    background-color: #fff;
}

.entry > * {
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entry header {
    display: flex;
    background-color: #768EBE;
    color: #fff;
}

.entry .value {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    overflow: hidden;
    overflow-wrap: break-word;
    flex-grow: 1;
}
