<header>
    <app-delete-button *ngIf="canDelete()" (deletionConfirmed)="deleteTransaction()" [resourceName]="singularResourceName"></app-delete-button>
</header>

<form (ngSubmit)="save()" [formGroup]="transactionForm" autocomplete="off">
    <div class="field" [class.invalid]="payee.touched && payee.invalid">
        <label for="payee">
            Payee
            <span class="validation-message arrow-down" *ngIf="payee.touched && payee.invalid">This field is required.</span>
        </label>

        <input
            id="payee"
            type="text"
            formControlName="payee"
        />
        <p *ngIf="autocompleteFrom"><a href="#" (click)="applyAutocompletedTransaction($event)">Autocomplete</a> from transaction #{{ autocompleteFrom.uid }} of {{ autocompleteFrom.occurred_on |date:'longDate' }}</p>
    </div>

    <div class="field-group">
        <div class="field" [class.invalid]="amount.touched && amount.invalid">
            <label for="amount">
                Amount
                <span class="validation-message arrow-down" *ngIf="amount.touched && amount.hasError('required')">An amount is required.</span>
                <span class="validation-message arrow-down" *ngIf="amount.touched && amount.hasError('pattern')">The amount should be numeric.</span>
                <span class="validation-message arrow-down" *ngIf="amount.touched && amount.hasError('min')">The amount should be greater than zero.</span>
            </label>
            <input
                id="amount"
                type="text"
                formControlName="amount"
            />

        </div>
    </div>

    <div class="field">
        <label for="transactionCleared">
            <input
                id="transactionCleared"
                type="checkbox"
                [checked]="datesExpanded"
                (click)="toggleTransactionCleared($event)" /> This transaction has cleared.
        </label>
    </div>

    <div formGroupName="dates">
        <div class="field-group">
            <div class="field" [class.invalid]="occurredOn.invalid && (occurredOn.dirty || occurredOn.touched)">
                <label for="occurredOn">Date</label>
                <input
                    id="occurredOn"
                    type="date"
                    formControlName="occurred_on"
                    [max]="today"
                />
                <p *ngIf="occurredOn.hasError('required')" class="validation-message">A date is required.</p>
            </div>

            <div *ngIf="datesExpanded" class="field" [class.invalid]="(clearedOn.dirty || clearedOn.touched) && (clearedOn.invalid || dates.invalid)">
                <label for="clearedOn">Cleared On</label>
                <input
                    id="clearedOn"
                    type="date"
                    formControlName="cleared_on"
                    [max]="today"
                />

                <p *ngIf="dates.hasError('daterange')" class="validation-message">The clearance date must be after the transaction date.</p>
                <p *ngIf="clearedOn.hasError('required')" class="validation-message">The clearance date must be specified.</p>
                <p *ngIf="clearedOn.hasError('dateinpast')" class="validation-message">The clearance date must be in the past.</p>
            </div>

            <div *ngIf="!datesExpanded" class="field"></div>
        </div>
    </div>

    <div formGroupName="accounts">
        <div class="field-group">
            <div class="field" [class.invalid]="accounts.hasError('atLeastOneAccount')">
                <app-account-menu fieldId="accountId" [control]="accountId" [disabledValue]="destinationId.value" label="Withdraw from"></app-account-menu>
                <p *ngIf="accountId.disabled">The account cannot be changed because it is closed.</p>
                <p class="validation-message arrow-up"  *ngIf="transactionForm.dirty && accounts.hasError('atLeastOneAccount')">At least one account is needed.</p>
            </div>

            <div class="field" [class.invalid]="accounts.hasError('atLeastOneAccount')">
                <app-account-menu fieldId="destinationId" [control]="destinationId" [disabledValue]="accountId.value" label="Deposit To"></app-account-menu>
            </div>
        </div>
    </div>

    <div class="field">
        <label for="tag-">Tags</label>
        <div class="tag-grid" formArrayName="tags">
            <div *ngFor="let tags of tags.controls; let i=index">
                <div class="tag">
                    <input id="tag-{{ i }}" type="text" [formControlName]="i">
                </div>
            </div>
            <div class="tag">
                <button type="button" (click)="tagFieldPush()">+ Add</button>
            </div>
            <div class="tag" *ngIf="tags.controls.length > 0">
                <button type="button" (click)="tagFieldPop()">- Remove</button>
            </div>
        </div>

    </div>

    <div class="field" [class.invalid]="(note.dirty || note.touched) && note.invalid">
        <label for="accountNote">Notes</label>
        <textarea
            id="accountNote"
            type="text"
            formControlName="note"
        ></textarea>
    </div>

    <div class="field">
        <button type="submit">Save</button>
        <p *ngIf="errorMessage" class="validation-message">{{ errorMessage }}</p>
    </div>
</form>
