<header>
    <app-delete-button *ngIf="canDelete()" (deletionConfirmed)="deleteTransaction()" [resourceName]="singularResourceName"></app-delete-button>
</header>

<form (ngSubmit)="save()" [formGroup]="transactionForm" autocomplete="off">
    <div class="field" [class.invalid]="(payee.dirty || payee.touched) && payee.invalid" [class.valid]="payee.valid">
        <label for="payee">Payee</label>
        <input
            id="payee"
            type="text"
            formControlName="payee"
        />
        <p *ngIf="autocompleteFrom"><a href="#" (click)="applyAutocompletedTransaction($event)">Autocomplete</a> from transaction #{{ autocompleteFrom.uid }} of {{ autocompleteFrom.occurred_on |date:'longDate' }}</p>

        <p *ngIf="payee.hasError('required')" class="validation-message">A payee is required.</p>
    </div>

    <div class="field-group">
        <div class="field" [class.invalid]="(amount.dirty || amount.touched) && amount.invalid" [class.valid]="amount.valid">
            <label for="amount">Amount</label>
            <input
                id="amount"
                type="text"
                formControlName="amount"
            />

            <p *ngIf="amount.hasError('required')" class="validation-message">An amount is required.</p>
            <p *ngIf="amount.hasError('pattern')" class="validation-message">The amount should be numeric.</p>
            <p *ngIf="amount.hasError('min')" class="validation-message">The amount should be greater than zero.</p>
        </div>
    </div>

    <div class="field">
        <label for="transactionCleared">
            <input
                id="transactionCleared"
                type="checkbox"
                [checked]="datesExpanded"
                (click)="toggleTransactionCleared($event)" /> This transaction has cleared.
        </label>
    </div>

    <div formGroupName="dates">
        <div class="field-group">
            <div class="field" [class.invalid]="occurredOn.invalid && (occurredOn.dirty || occurredOn.touched)" [class.valid]="occurredOn.valid">
                <label for="occurredOn">Date</label>
                <input
                    id="occurredOn"
                    type="date"
                    formControlName="occurred_on"
                    [max]="today"
                />
                <p *ngIf="occurredOn.hasError('required')" class="validation-message">A date is required.</p>
            </div>

            <div *ngIf="datesExpanded" class="field" [class.invalid]="(clearedOn.dirty || clearedOn.touched) && (clearedOn.invalid || dates.invalid)" [class.valid]="clearedOn.valid">
                <label for="clearedOn">Cleared On</label>
                <input
                    id="clearedOn"
                    type="date"
                    formControlName="cleared_on"
                    [max]="today"
                />

                <p *ngIf="dates.hasError('daterange')" class="validation-message">The clearance date must be after the transaction date.</p>
                <p *ngIf="clearedOn.hasError('required')" class="validation-message">The clearance date must be specified.</p>
                <p *ngIf="clearedOn.hasError('dateinpast')" class="validation-message">The clearance date must be in the past.</p>
            </div>

            <div *ngIf="!datesExpanded" class="field"></div>
        </div>
    </div>

    <div class="field">
        <label for="transferToggle">
            <input
                id="transferToggle"
                type="checkbox"
                [checked]="transferExpanded"
                (click)="toggleTransfer($event)" /> This is a transfer.
        </label>
    </div>

    <div class="field-group">
        <div class="field" [class.invalid]="(accountId.dirty || accountId.touched) && accountId.invalid" [class.valid]="accountId.valid">
            <label *ngIf="!transferExpanded" for="accountId">Account</label>
            <label *ngIf="transferExpanded" for="accountId">Source Account</label>
            <app-account-menu [control]="accountId"></app-account-menu>
            <p *ngIf="accountId.disabled">The account cannot be changed because it is closed.</p>
            <p *ngIf="accountId.hasError('required')" class="validation-message">An account is required.</p>
        </div>

        <div class="field" *ngIf="transferExpanded">
            <label for="accountId">Destination Account</label>
            <app-account-menu [control]="destinationId"></app-account-menu>
        </div>

        <div *ngIf="!transferExpanded" class="field"></div>
    </div>


    <div class="field" [class.valid]="tags.length > 0 && !tags.value.includes('')">
        <label for="tag-">Tags</label>
        <div class="tag-grid" formArrayName="tags">
            <div *ngFor="let tags of tags.controls; let i=index">
                <div class="tag">
                    <input id="tag-{{ i }}" type="text" [formControlName]="i">
                </div>
            </div>
            <div class="tag">
                <button type="button" (click)="tagFieldPush()">+ Add</button>
            </div>
            <div class="tag" *ngIf="tags.controls.length > 0">
                <button type="button" (click)="tagFieldPop()">- Remove</button>
            </div>
        </div>

    </div>

    <div class="field" [class.invalid]="(note.dirty || note.touched) && note.invalid">
        <label for="accountNote">Notes</label>
        <textarea
            id="accountNote"
            type="text"
            formControlName="note"
        ></textarea>
    </div>

    <footer>
        <button type="submit" [disabled]="!transactionForm.valid || !transactionForm.dirty">Save</button>
    </footer>
</form>

<br/>Dirty: {{ transactionForm.dirty }}
<br/>Touched: {{ transactionForm.touched }}
<br/>Valid: {{ transactionForm.valid }}
<br/>Value: {{ transactionForm.value | json }}
