HEADER {
    display: flex;
    justify-content: flex-end;
}

.tag-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.tag {
    max-width: 10em;
}

.valid label:after {
    content: '✓';
    color: green;
    padding-left: .25em;
}
