{% extends "base.html" %}

{% set page_title = "Registry" %}

{% set home_link = True %}

{% block scripts %}
<script src="/static/registry/registry.js"></script>
{% endblock %}


{% block page_body %}

<main class="ui page grid stackable">
    <div class="ui sixteen wide column">
        <form id="search-form" class="ui form">
            <div class="field">
                <label for="key">Key:</label>
                <input type="text" id="q" name="q" value="{{ q|default('', true) }}"/>
            </div>
            <div class="field">
                <button class="ui submit button">Search</button>
            </div>
        </form>
    </div>

    <div class="ui sixteen wide column">
        <div id="insert-form" class="ui form">
            <div class="field">
                <label for="key">Key:</label>
                <input type="text" id="key" name="key" value="{{ key|default('', true) }}"/>
            </div>
            <div class="field">
                <label for="comments">Value:</label>
                <textarea id="value" name="value" {% if key and not value %}autofocus="autofocus"{% endif %}>{{ value|default('', true) }}</textarea>
            </div>
            <div class="field">
                <button class="ui submit button">Add</button>
                <div class="ui error message"></div>
                <div class="hidden ui green message">Success!</div>
            </div>
        </div>
    </div>

    <div class="ui sixteen wide column">
        <table id="records" class="ui sixteen column table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if not records %}
                <tr>
                    <td colspan="4">There are no records.</td>
                </tr>
                {% endif %}

                {% for record in records %}
                <tr>
                    <td> {{ record.key }}</td>
                    <td>{{ record.value }}</td>
                    <td>{{ record.created|localtime("datetime12") }}</td>
                    <td class="right aligned"><a href="#" data-uid="{{ record.rowid }}" class="delete" title="Delete record"><i class="remove circle icon"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</main>


{% endblock %}
