{% extends "apps/registry/registry.jinja.html" %}

{% block app_icon -%}
    {{ macros.appSpecificIcon("registry") }}
{%- endblock %}

{% block scripts %}
    {{ macros.asset("js/delete.js") }}
    {{ macros.asset("js/clipboard.js") }}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        {% if ":" in query %}
            <a href="{{ app_url }}?q={{ parent_key|urlencode }}">
                <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
                Parent
            </a>
        {% endif %}

        <a id="add-record" href="{{ app_url }}/new?key={{ query|urlencode }}">
            <svg class="icon"><use xlink:href="#icon-new-item"></use></svg>
            Add
        </a>

        <a href="{{ app_url }}/.json?q={{ query|urlencode }}" target="_blank">
            <svg class="icon"><use xlink:href="#icon-download"></use></svg>
            Export
        </a>
    </nav>
{% endblock %}

{% block content %}
    {{ macros.svgSymbols("copy", "delete", "new-item", "arrow-left", "download", "edit") }}
    <main>
        <header id="page-title">
            <h2>{{ query }}</h2>

            <div>
                {{ record_count|pluralize('record', 'records') }} found
            </div>
        </header>

        <section>
            {% set ns = namespace(records_found=False) %}

            {% for record in records %}
                {% set ns.records_found = True %}
                <div class="record">
                    <header>
                        {{ record.key }}
                        <div class="toolbar">
                            <div class="action-button">
                                <a href="{{ app_url }}/new?key={{ record.key|e }}" title="New record with this key">
                                    <svg class="icon"><use xlink:href="#icon-new-item"></use></svg>
                                </a>
                            </div>

                            {{ macros.clipboardButton("value-" ~ loop.index, "Copy value") }}

                            {{ macros.deleteButton("/registry/" ~ record.rowid, ".record", "Delete this record") }}

                            <div class="action-button">
                                <a id="edit-record" href="{{ app_url}}/{{ record.rowid}}/edit">
                                    <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </header>

                    <div>
                        <div id="value-{{ loop.index }}" class="value">{{ record.value }}</div>
                    </div>
                </div>
            {% endfor %}

            {% if not ns.records_found %}
                <p>No records found.</p>
            {% endif %}

        </section>
    </main>
{% endblock %}
