{% extends "apps/registry/registry.jinja.html" %}

{% block app_icon -%}
    {{ macros.appSpecificIcon("registry") }}
{%- endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a class="cancel" href="{{ cancel_url }}">
            <svg class="icon"><use xlink:href="#icon-triangle"></use></svg>
            Cancel
        </a>
    </nav>
{% endblock %}

{% block content %}
    {{ macros.svgSymbols("arrow-left", "triangle") }}

    <main id="editor">
        <form method="post" action="{{ submit_url }}">
            <div class="field">
                <label for="key">Key</label>
                <input
                    type="text"
                    id="key"
                    name="key"
                    value="{{ key }}"
                    required
                />
            </div>
            <div class="field stretch">
                <label for="value">Value</label>
                <textarea
                    id="value"
                    name="value"
                >{{ value }}</textarea>
            </div>
            <div class="field">
                <button>Save</button>
            </div>
        </form>
    </main>
{% endblock %}
