{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros %}

{% block stylesheets %}
    {{ macros.staticAsset('registry', 'registry.css') }}
{% endblock %}

{% block scripts %}
    {% if roots %}
        {{ macros.staticAsset('shared', 'js/focus-as-you-type.js') }}
    {% endif %}

    {{ macros.staticAsset('registry', 'registry.js') }}

    {{ macros.vueApp('main', ('discardable-record', 'discard-button', 'clipboard-button', 'new-item-button')) }}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("copy", "delete", "download", "new-item", "add-item", "close", "search") }}
    {% if view == "search" %}
        <header class="app-nav">
            <form id="search-form">
                <div class="field-group">
                    <div class="field">
                        <label for="q">Key</label>
                        <input type="text" id="q" name="q" value="{{ q|default('', true) }}"/>
                    </div>
                </div>
                <div class="field">
                    <button>
                        <svg class="icon"><use xlink:href="#icon-search"></use></svg>
                    </button>
                </div>
            </form>
        </header>

        <nav class="secondary">
            {% if q and entries %}
                <div>
                    {% if total_entries != entries|length %}
                        Showing the first {{ entries|length }} of
                    {% else %}
                        Found
                    {% endif %}
                    {{ total_entries|pluralize('entry', 'entries') }}.
                </div>
                {% endif %}

            {% if q or view == "add"%}
                <div>{{ macros.cancelLink(app_url) }}</div>
            {% endif %}

            <div>
                <a href="{{ app_url}}?view=add&key={{ q|default('', true) }}" class="{{ "active" if view == "add" }}">
                    <svg class="icon"><use xlink:href="#add-item"></use></svg>
                    Add
                </a>
            </div>

            {% if q and entries %}
                <div>
                    <a href="{{ app_url }}/.json?q={{ q }}" target="_blank">
                        <svg class="icon"><use xlink:href="#icon-download"></use></svg>
                        Export
                    </a>
                </div>
            {% endif %}
        </nav>
    {% endif %}

    <main>
        {% if view == "add" %}
            <form id="insert-form" action="{{ app_url }}">
                <div class="field">
                    <label for="key">Key:</label>
                    <input type="text" id="key" name="key" value="{{ key|default('', true) }}" required/>
                </div>
                <div class="field">
                    <label for="comments">Value:</label>
                    <textarea id="value" name="value" required>{{ value|default('', true) }}</textarea>
                </div>

                <button>Add</button>
                {{ macros.cancelLink(app_url, False) }}
            </form>
        {% endif %}

        {% if (uid or q) and not entries %}
            <section>
                <p>No entries found.</p>
            </section>
        {% endif %}

        {% if roots %}
            <section>
                <ul class="roots">
                    {% for root in roots %}
                        <li><a href="{{ app_url}}?q={{root}}">{{ root }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}

        <section>
            {% for entry in entries %}
                <discardable-record inline-template url="{{ app_url }}?uid={{ entry.rowid }}">
                    <div class="entry" v-bind:style="styles">
                        <header>
                            {{ entry.key|e }}
                            <div class="toolbar">
                                <div><new-item-button target-url="{{ app_url}}?view=add&key={{ entry.key|e}}" tooltip="New record with this key" /></div>
                                <div><clipboard-button target-id="value-{{ loop.index }}" tooltip="Copy value" /></div>
                                <div><discard-button tooltip="Delete this entry" /></div>
                            </div>
                        </header>

                        <div>
                            <div id="value-{{ loop.index }}" class="value">{{ entry.value|e }}</div>
                        </div>
                    </div>
                </discardable-record>
            {% endfor %}
        </section>
    </main>
{% endblock %}
