{% extends "base.html" %}

{% set home_link = True %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/registry/registry.css" />
{% endblock %}

{% block scripts %}
<script src="/static/registry/registry.js"></script>
{% endblock %}


{% block page_body %}

<main>
    <form id="search-form" class="content-wrapper">
        <div class="field">
            <label for="q">Key:</label>
            <input type="text" id="q" name="q" value="{{ q|default('', true) }}"/>
        </div>
        <div class="field">
            <button>Search</button>
        </div>
    </form>

    <form id="insert-form" class="content-wrapper">
        <div class="hidden error message"></div>
        <div class="hidden success message">Success!</div>

        <div class="field">
            <label for="key">Key:</label>
            <input type="text" id="key" name="key" value="{{ key|default('', true) }}"/>
        </div>
        <div class="field">
            <label for="comments">Value:</label>
            <textarea id="value" name="value" {% if key and not value %}autofocus="autofocus"{% endif %}>{{ value|default('', true) }}</textarea>
        </div>
        <div class="field">
            <button>Add</button>
        </div>
    </form>

    <div class="content-wrapper">
        {% if not records %}
        <p>There are no records.</p>
        {% endif %}

        <dl id="records">
            {% for record in records %}
            <dt>{{ record.key }}</dt>

            <dd>
                {{ record.value }}
                <div class="secondary">
                   <div>Created {{ record.created|localtime("datetime12") }}</div>
                   <a href="#" data-uid="{{ record.rowid }}" class="delete" title="Delete record">
                       <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
                   </a>
                </div>
            </dd>

            {% endfor %}
        </dl>
    </div>

</main>


{% endblock %}
