{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros %}

{% block stylesheets %}
    {{ macros.asset("css/registry.css") }}
{% endblock %}

{% block scripts %}
    {{ macros.asset("js/focus-as-you-type.js") }}
    {{ macros.asset("js/registry.js") }}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a id="add-record" href="{{ add_url }}">
            <svg class="icon"><use xlink:href="#icon-new-item"></use></svg>
            Add
        </a>
    </nav>
{% endblock %}

{% block page_body %}
    {% block content %}
        {{ macros.svgSymbols("new-item", "arrow-let", "download", "tag") }}
        <main id="tagset">
            <header id="app-nav">
                <form id="search-form" action="{{ app_url }}">
                    <div class="field">
                        <input
                            autocapitalize="none"
                            autocomplete="off"
                            id="q"
                            name="q"
                            placeholder="Key or value"
                            type="search"
                            value="{{ query|default('', true) }}"
                        />
                    </div>
                    <div class="field">
                        <button>Search</button>
                    </div>
                </form>
            </header>

            <header id="page-title">
                <h2>Groups</h2>
            </header>

            <div id="collection">
                {% set ns = namespace(roots_found=False) %}
                <ul>
                    {% for root in roots %}
                        {% set ns.roots_found = True %}
                        <li>
                            <a href="/registry?q={{ root|urlencode }}">
                                {{ root }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% if not ns.roots_found %}
                <p>No groups found.</p>
            {% endif %}
        </main>
    {% endblock %}
{% endblock %}
