{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/registry/static/registry.css" />
{% endblock %}

{% block scripts %}
<script src="/registry/static/registry.js"></script>
{% endblock %}


{% block page_body %}

<main>
    <div class="views content-wrapper">
        <ul>
            <li><a href="#search-form" class="{{ "active" if view == "search" }}">Search</a></li>
            <li><a href="#insert-form" class="{{ "active" if view == "add" }}">Add</a></li>
        </ul>
    </div>

    <form id="search-form" class="content-wrapper {{ "hidden" if not view == "search" }}">
        <div class="field">
            <label for="q">Key:</label>
            <input type="text" id="q" name="q" value="{{ q|default('', true) }}"/>
        </div>
        <div class="field">
            <button>Search</button>
        </div>
    </form>

    <form id="insert-form" class="content-wrapper {{ "hidden" if not view == "add" }}">
        <div class="hidden error message"></div>
        <div class="hidden success message">Success!</div>

        <div class="field">
            <label for="key">Key:</label>
            <input type="text" id="key" name="key" value="{{ key|default('', true) }}"/>
        </div>
        <div class="field">
            <label for="comments">Value:</label>
            <textarea id="value" name="value" {% if key and not value %}autofocus="autofocus"{% endif %}>{{ value|default('', true) }}</textarea>
        </div>
        <div class="field">
            <button>Add</button>
        </div>
    </form>

    <div class="content-wrapper">
        {% if (uid or q) and not entries %}
        <p>No entries found.</p>
        {% endif %}

        <dl id="entries">
            {% for entry in entries %}
            <dt><span class="counter">{{ loop.index }}.</span> {{ entry.key }}</dt>

            <dd class="secondary">
                   Created {{ entry.created|localtime("datetime12") }}
                   <a href="#" data-uid="{{ entry.rowid }}" class="delete" title="Delete entry" rel="noreferrer">
                       <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
                   </a>
            </dd>
            <dd class="value">{{ entry.value }}</dd>

            {% endfor %}
        </dl>
    </div>

</main>


{% endblock %}
