{% extends "registry.jinja.html" %}

{% block content %}
    {{ macros.svgSymbols("arrow-left") }}

    <main id="editor">
        <form method="post" action="{{ submit_url }}">
            <div class="field">
                <label for="key">Key</label>
                <input
                    type="text"
                    id="key"
                    name="key"
                    value="{{ key }}"
                    required
                />
            </div>
            <div class="field stretch">
                <label for="value">Value</label>
                <textarea
                    id="value"
                    name="value"
                >{{ value }}</textarea>
            </div>
            <div class="field">
                <button>Save</button>
                {{ macros.cancelLink(cancel_url, False) }}
            </div>
        </form>
    </main>
{% endblock %}
