{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('homepage', 'homepage.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.staticAsset('shared', 'js/focus-as-you-type.js') }}
    {{ macros.staticAsset('homepage', 'homepage.js') }}
{% endblock %}

{% block page_body %}
    <main>
        <div class="module-grid">
            {% for name, url, description, user_facing in apps %}

                {% if user_facing %}
                    <a class="module" href="{{ url }}">
                        <h2>{{ name }}</h2>
                        <p>{{ description }}</p>
                    </a>
                {% endif %}

            {% endfor %}
        </div>


        <h1 class="module-grid-title">Services</h1>
        <div class="module-grid">
            {% for name, _, description, user_facing in apps %}

                {% if not user_facing %}
                    <div class="module">
                        <h2>{{ name}}</h2>
                        <p>{{ description }}</p>
                    </div>
                {% endif %}

            {% endfor %}
        </div>

    </main>
{% endblock %}
