{% extends "base.jinja.html" %}1
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('homepage', 'homepage.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.staticAsset('shared', 'js/focus-as-you-type.js') }}
    {{ macros.staticAsset('homepage', 'homepage.js') }}
{% endblock %}

{% block page_body %}
    <main>
        <section class="grid">
            {% for name, url, description, user_facing in apps %}
                {% if user_facing %}
                    <a class="item" href="{{ url }}">
                        <span class="name">{{ name }}</span>
                        <span class="description">{{ description }}</span>
                    </a>
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}
