{% extends "apps/static/templates/base.jinja.html" %}1
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.asset("css/homepage.css") }}
{% endblock %}

{% block scripts %}
    {{ macros.asset("js/focus-as-you-type.js") }}
    {{ macros.asset("js/homepage.js") }}
{% endblock %}

{% block page_body %}
    <main>
        <section>
            {% for name, url, description in apps %}
                <a class="item" href="{{ url }}">
                    <span class="name">{{ name }}</span>
                    <span class="description">{{ description }}</span>
                </a>
            {% endfor %}
        </section>
    </main>
{% endblock %}
