{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
{% endblock %}

{% block scripts %}
<script src="/static/js/focus-as-you-type.js"></script>
<script src="/static/js/index.js"></script>
{% endblock %}

{% block page_body %}

<main>
    <div class="module-grid">
        {% for name, description, user_facing in apps %}

        {% if user_facing %}
        <a class="module" href="/{{ name }}">
            <h2>{{ name }}</h2>
            <p>{{ description }}</p>
        </a>
        {% endif %}

        {% endfor %}
    </div>


    <h1 class="module-grid-title">Services</h1>
    <div class="module-grid">
        {% for name, description, user_facing in apps %}

        {% if not user_facing %}
        <div class="module">
            <h2>{{ name}}</h2>
            <p>{{ description }}</p>
        </div>
        {% endif %}

        {% endfor %}
    </div>

</main>

{% endblock %}
