/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    #ip-report {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
        max-width: 48em;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
