{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% macro bookmarklet_url(url, label) -%}
    {% if not url.startswith("http") %}
        {% set url = app_url + "/static/js/" + url %}
    {% endif %}
    <div class="bookmarklet-container">
        <a href="javascript:d=new Date();s=document.createElement('script');s.setAttribute('src','{{ url }}?d=' + d.getTime());document.body.appendChild(s);void(s)">{{ label }}</a>
    </div>
{%- endmacro %}

{% macro inline_bookmarklet(js, label) -%}
    <div class="bookmarklet-container">
        <a href="javascript:{{ js|e }}">{{ label }}</a>
    </div>
{%- endmacro %}

{% block stylesheets %}
    {{ macros.cacheBustedStylesheet('bookmarklets', 'css/bookmarklets.css') }}
{% endblock %}

{% block scripts %}
{% endblock %}


{% block page_body %}

    <main>
        <div class="content-wrapper">
            <dl>
                <dt>{{ inline_bookmarklet("location='https://www.google.com/#' + location.search.slice(1).split('&').filter(function(v) { return v.startsWith('q=') })", "google") }}</dt>
                <dd>Retry a web search on Google</dd>

                <dt>{{ bookmarklet_url("validate.js", "validate") }}</dt>
                <dd>Submit the current page to the W3C HTML validator</dd>
            </dl>
        </div>
    </main>
{% endblock %}
