{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% macro bookmarklet_url(url, label) -%}
    {% if not url.startswith("http") %}
        {% set url = app_url + "/static/js/" + url %}
    {% endif %}
    <div class="bookmarklet-container">
        <a href="javascript:d=new Date();s=document.createElement('script');s.setAttribute('src','{{ url }}?d=' + d.getTime());document.body.appendChild(s);void(s)">{{ label }}</a>
    </div>
{%- endmacro %}

{% macro inline_bookmarklet(js, label) -%}
    <div class="bookmarklet-container">
        <a href="javascript:{{ js|e }}">{{ label }}</a>
    </div>
{%- endmacro %}

{% block stylesheets %}
    {{ macros.staticAsset('bookmarklets', 'css/bookmarklets.css') }}
{% endblock %}

{% block scripts %}
{% endblock %}


{% block page_body %}
    <main>
        {{ inline_bookmarklet("e=encodeURIComponent;m=document.querySelectorAll('META[name=description]');void(window.open('" + later_url + "/?comments=' + e(window.getSelection().toString()||(m.length>0?m[0].getAttribute('content'):'')) + '&url='+e(window.location.href) + '&title='+e(document.title), 'later'))", "later") }}
        <p>Submit the current page to the Later app for bookmarking</p>

        {{ inline_bookmarklet("location='https://www.google.com/#' + location.search.slice(1).split('&').filter(function(v) { return v.startsWith('q=') })", "google") }}
        <p>Retry a web search on Google</p>

        {{ bookmarklet_url("validate.js", "validate") }}
        <p>Submit the current page to the W3C HTML validator</p>
    </main>
{% endblock %}
