{% extends "base.jinja.html" %}

{% block page_body %}
    {{ macros.svgSymbols("close", "search", "arrow-right", "arrow-left") }}

    <main>
        <header id="app-nav">
            <form method="get" action="{{ app_url }}">
                <div class="field">
                    <input
                        type="search"
                        id="source"
                        name="source"
                        value="{{ source|default('', true)|e }}"
                        autocapitalize="none"
                        placeholder="Source"
                    />
                </div>
                <div>
                    <button>Search</button>
                </div>
            </form>
        </header>

        {% if not records %}
            <p>No records.</p>
        {% else %}

            <section class="table-sleeve">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Source</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                            <tr>
                                <td nowrap>
                                    {{ record["created"]|localtime|dateformat("YYYY-MM-DD") }}
                                </td>
                                <td nowrap>
                                    {{ record["created"]|localtime|dateformat("h:mm:ss A")}}
                                </td>
                                <td nowrap>
                                    <a href="{{ app_url }}?source={{ record["source"]|urlencode }}">{{ record["source"] }}</a>
                                </td>
                                <td>
                                    {{ record["message"] }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>

            {{ macros.newerOlderPagination(newer_url, older_url) }}
        {% endif %}

        {{ macros.queryPlan(query_plan) }}
    </main>

{% endblock %}
