#upcoming {
    background-color: var(--secondary);
    margin: 0 -1em 1em -1em;
}

#upcoming > div:not([hidden]) {
    display: flex;
}

#upcoming .upcoming-reminder {
    padding: 0 1em;
}

#upcoming .upcoming-reminder:first-of-type {
    margin-top: -1em;
    padding-top: 1em;
}

#upcoming .upcoming-reminder:last-of-type {
    padding-bottom: 1em;
}

#upcoming .summary {
    padding: .5em;
}

#upcoming p {
    margin: 0;
    padding: .25em 0 0 0;
}

#upcoming time {
    font-weight: bold;
}

#reminder-form {
    display: grid;
}

#reminder-form input[type=number] {
    width: 4em;
    margin-right: .5em;
}

#reminder-form input[name=minutes] {
    margin-left: 1em;
}

.template {
    margin-bottom: 1em;
}

.template > a {
    display: block;
    grid-area: template-trigger;
    padding: .25em;
    margin-left: -.25em;
}

.template p {
    margin: 0;
}

.template .details {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    font-size: .75em;
    margin-left: 1.5em;
}

.template .action-button {
    margin-left: 1em;
}

.template a:focus {
    background-color: var(--secondary);
    color: currentColor;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    #reminder-form {
        grid-template-columns: auto 1fr;
    }

    .template {
        margin-right: 5em;
    }
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
