.content-wrapper {
    margin: auto;
    padding: 1em 0;
    max-width: 500px;
}

.field {
    padding-bottom: 2em;
}

INPUT[type=checkbox] {
    padding-right: 1em;
}

.content-wrapper H1 {
    font-size: 1.4em;
    font-weight: normal;

}

.content-wrapper > .half-column {
    padding: 0 1em;
}

.upcoming-reminder {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-bottom: 2em;
}

.upcoming-reminder:last-of-type {
    margin-bottom: 1em;
}


.upcoming-reminder .summary {
    flex-grow: 1;
}

.upcoming-reminder.done {
    text-decoration: line-through;
    color: #666;
}

.upcoming-reminder.done .delete-reminder {
    display: none;
}

.upcoming-reminder .delete-reminder {
    text-decoration: none;
    line-height: 2;
}

.icon-bin {
    padding: .5em;
    margin-right: .5em;
    border-radius: .25em;
}
.icon-bin:hover, .icon-bin:active {
    fill: #fff;
    background-color: red;
}


.upcoming-reminder p {
    margin: 0;
    padding: .25em 0 0 0;
}

.upcoming-reminder time {
    font-weight: bold;
}

#minutes {
    width: 3em;
    margin: 0 .5em;
}

#reminder-form select {
    margin-bottom: .5em;
}

#template-options {
    padding-left: 1em;
}

#page-header {
    margin-bottom: 0;
}

.band {
    background-color: lightskyblue;
}

.template-container {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

.template-container .template {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: .5em;
}

.template-container .summary {
    flex-grow: 1;
    background-color: #666;
    color: #fff;
    border: 1px solid #666;
    border-radius: .25em;
    padding: 1em;
    text-decoration: none;
    display: inline-block
}

.template-container .summary:hover,
.template-container .summary:active {
    color: #666;
    background-color: #fff;
}
