TAGS
*.prof
*.pyc
*.retry
.DS_Store
.Python
.\#*
._*
.coverage
.mypy_cache
.pytest_cache
/apps/static/coverage
/apps/static/mypy
/coverage
\#*
__pycache__
db
storage
venv
medley
build
flycheck_*
node_modules
.angular
apps/static/js/ledger
