.DS_Store
._*
.\#*
\#*
__pycache__
*.db
.Python
medley.conf
!ansible/***/medley.conf
*.pyc
.coverage
/coverage
/apps/coverage/static
htmlcov
logfetch.ini
db
*.log
logs
.vagrant
ansible/*.hosts
ansible/host_vars
ansible/install.retry
venv
node_modules
.pytest_cache
.mypy_cache
storage
