[global]
database_dir: "db"
log_dir: "logs"
cache_dir: "cache"
engine.autoreload.on: True
log.screen: True
server.socket_host: "0.0.0.0"
server.socket_port: 8085
server.daemonize: False
server.pid: None
tools.conditional_auth.on: False
tools.conditional_auth.whitelist: ("127.0.0.1")
users: {"medley":"medley"}
request.show_tracebacks: True
