[global]
database_dir: "/var/db"
log_dir: "/var/log/medley"
cache_dir: "/var/cache/medley"
engine.autoreload.on: True
log.screen: False
server.socket_host: "0.0.0.0"
server.socket_port: 8085
server.daemonize: True
server.pid: "/var/run/medley.pid"
tools.conditional_auth.on: False
tools.conditional_auth.whitelist: "192.168.0"
users: {"medley":"medley"}
request.show_tracebacks: True
memorize_checksums: True
