bandit==1.7.1
coverage==6.2
flake8==4.0.1
flake8-comprehensions==3.7.0
lxml==4.7.1
memory-profiler==0.60.0
mypy==0.930
mypy-extensions==0.4.3
pylint==2.12.2
pytest-cov==3.0.0
pytest==6.2.5
pytest-timeout==2.0.2
requests-mock==1.9.3
responses==0.16.0
types-pytz==2021.3.3
types-requests==2.26.3
typing-extensions==4.0.1
