bandit==1.8.6
coverage==7.10.1
httpx==0.28.1
lxml==6.0.0
memory-profiler==0.61.0
mypy==1.17.1
mypy-extensions==1.1.0
pylint==3.3.7
Pygments==2.19.2
pytest-cov==6.2.1
pytest==8.4.1
pytest-timeout==2.4.0
python-lsp-server==1.13.0
requests-mock==1.12.1
responses==0.25.7
ruff==0.12.7
types-maxminddb==1.5.0
types-pytz==2025.2.0.20250516
types-requests==2.32.4.20250611
types-Pygments==2.19.0.20250715
