CherryPy==18.10.0
Jinja2==3.1.6
PyJWT~=1.7
feedparser==6.0.12
httplib2==0.31.0
importlib-resources==6.5.2
maxminddb==3.0.0
mistletoe==1.5.1
pytz==2025.2
requests==2.32.5
sdnotify==0.3.2
shiv==1.0.8
typing-extensions==4.15.0
