bandit==1.7.5
coverage==7.3.2
httpx==0.25.0
lxml==4.9.3
memory-profiler==0.61.0
mypy==1.5.1
mypy-extensions==1.0.0
pylint==3.0.1
Pygments==2.16.1
pytest-cov==4.1.0
pytest==7.4.2
pytest-timeout==2.1.0
python-lsp-server==1.8.1
requests-mock==1.11.0
responses==0.23.3
types-pytz==2023.3.1.1
types-requests==2.31.0.8
typing-extensions==4.8.0
types-Pygments==2.16.0.0
