:root {
    --alturl-code: #FDF6E8;
}

h2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

code {
    display: inline-block;
    font-size: .85em;
    line-height: 1.3;
    background-color: var(--alturl-code);
    white-space: pre-wrap;
}

#collection .headline {
    display: block;
    position: relative;
}

#collection .headline A {
    word-break: break-word;
}

#collection .headline.today {
    padding-left: 1.75em;
}

#collection .headline.today:before {
    font-size: .65em;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: top left;
    position: absolute;
    top: 5.30em;
    left: 0.1em;
    line-height: 1.5;
    padding: 0 .5em;
    content: 'today';
    background-color: palegreen;
    border: 1px solid var(--black);
}

#collection li {
    display: inline-flex;
    align-items: center;
}

#collection time {
    display: inline-block;
}

#collection .info {
    font-size: .85em;
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
}

#collection .info svg {
    margin-right: .5em;
}

#comments {
    margin: 1em auto 0 auto;
}

.comment a {
    word-break: break-word;
}

.comment h1, .comment h2, .comment h3, .comment h4, .comment h5, .comment h6,
.intro h1, .intro h2, .intro h3, .intro h4, .intro h5, .intro h6 {
    font-size: 1.1em;
    margin: 0 0 .5em 0;
}

.comment summary {
    margin: 0 -1em;
    padding: 0.75em;
    background-color: var(--tertiary);
    font-size: .75em;
}

.comment summary .jump {
    float: right;
}

.comment summary:hover {
    cursor: pointer;
}

.comment.from-author > summary {
    background-color: var(--secondary);
}

.comment ul {
    margin-top: 0.5em;
    padding-left: 1.25em;
}

.comment ul li {
    margin-bottom: .5em;
}

.comment .body {
    padding: 0.5em 0;
}

.comment p {
    line-height: 1.4;
    margin: 0 0 .5em 0;
}

.comment blockquote {
    font-size: 1rem;
    border-left: .25em solid var(--grey);
    font-style: italic;
    padding-left: 0.5em;
    font-family: monospace;
    margin: 1.5em 0;
    line-height: 1.2;
}

.intro {
    padding: 0.5em 0 1em 0;
    margin: auto;
}

.intro .info {
    display: block;
    align-items: center;
    margin-right: 1em;
    margin-bottom: .5em;
}

.intro .info svg {
    margin-right: .5em;
}

.intro .title {
    font-size: 1.25em;
}

.intro p:last-of-type {
    margin-bottom: 0;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    .intro .title {
        font-size: 1.5em;
    }

    .intro .info {
        display: inline-flex;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .intro, #comments {
        max-width: 60em;
    }

    .comment summary {
        margin: 0;
    }

    .comment .comment {
        margin-left: 1em;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
