#app-nav FORM {
    grid-row-gap: .5em;
    margin-bottom: 1em;
}

#app-nav .options {
    padding: 0;
    grid-column: span 2;
    margin-bottom: 1em;
    font-size: .85em;
}

.bookmark {
    padding-bottom: 1em;
}

#collection .bookmark time {
    font-size: 1em;
    margin-right: 1em;
}

#collection .meta {
    font-size: .85em;
    line-height: 1;
}

#collection .meta > * {
    display: inline-block;
}

.bookmark .title {
    line-height: 1.2;
    font-weight: bold;
    display: block;
}

.bookmark .actions {
    padding-right: 0;
    align-items: center;
    font-size: .85em;
}

.bookmark .actions > div {
    margin-right: 1em;
}

.bookmark .tags {
    padding: 0.5em 0;
    font-size: 0.75em;
}

.bookmark .tag {
    color: currentColor;
    display: inline-block;
}

.bookmark .comments {
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
}

.tag-list {
    flex-grow: 1;
    padding-left: 0;
    list-style-type: none;
    column-count: 2;
}

.tag-list + a {
    display: block;
    font-size: .85em;
}

.tag-list li {
    padding: .5em 0 0 0;
    font-size: .85em;
    white-space: nowrap;
}

#all-tags {
    column-count: 1;
    line-height: 1.5;
}

#all-tags LI {
    display: block;
}

/* Small devices */
@media (min-width: 576px) {
    #all-tags {
        column-count: 2;
    }

    .tag-list {
        column-count: 3;
        column-gap: 2em;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .tag-list {
        column-count: 4;
        column-gap: 1em;
    }
}

/* Large devices */
@media (min-width: 992px) {

    #all-tags {
        column-count: 3;
    }

    .tag-list {
        column-count: 5;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    #all-tags {
        column-count: 4;
    }

    .tag-list {
        column-count: 6;
    }

}
