#collection LI {
    display: flex;
    flex-flow: column;
}

#collection A {
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    padding: .5em 1.5em;
    border-radius: .25em;
    text-align: center;
    margin-bottom: .5em;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
