SECTION {
    display: grid;
    grid-row-gap: 1.25em;
}

.item:hover {
    text-decoration: none;
}

.item .description {
    font-size: .85em;
    display: block;
    color: var(--black);
}

.item .name {
    font-weight: bold;
}

/* Small devices */
@media (min-width: 576px) {
    SECTION {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3em;
        grid-row-gap: 3em;
    }

}

/* Medium devices */
@media (min-width: 768px) {
    SECTION {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large devices */
@media (min-width: 992px) {
    SECTION {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    SECTION {
        grid-template-columns: repeat(5, 1fr);
    }
}
