#collection ul {
    grid-template-columns: 1fr;
}

.scatter {
    display: block;
    margin: auto;
    width: 90vw;
    height: 60vh;
}

.scatter line {
    stroke: #666;
    stroke-width: 0.25;
}

.scatter .legend {
    font-size: .2em;
    text-transform: uppercase;

}

.scatter .labels text {
    font-size: .2em;
}

.scatter .x.labels .label-pair:last-of-type text {
    text-anchor: end;
}

.scatter .dot {
    fill: dodgerblue;
}

.scatter .dot:hover {
    cursor: pointer;
}

.scatter #label.hidden {
    display: none;
}

.scatter #label rect {
    fill: #ccc;
}

.scatter #label text {
    font-size: .2em;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
    #collection ul {
        grid-template-columns: repeat(2, auto);
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    #collection ul {
        grid-template-columns: repeat(3, auto);
    }
}
