#collection ul {
    grid-template-columns: 1fr;
}

.scatter {
    width: 100%;
    height: 50vh;
}

.scatter line {
    stroke: black;
    stroke-width: 0.25;
}

.scatter .labels text {
    font-size: .2em;
}

.scatter .label-pair:first-of-type text {
    text-anchor: end;
}

.scatter circle {
    fill: #666;
}

.scatter circle.best {
    fill: green;
}

.scatter circle.worst {
    fill: red;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
    #collection ul {
        grid-template-columns: repeat(2, auto);
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    #collection ul {
        grid-template-columns: repeat(3, auto);
    }
}
