#attachments {
    margin: 0;
    padding: 1em 0 0 0;
}

#attachments LI {
    display: inline-flex;
    align-items: center;
    margin: 0 1em 1em 0;
}

#attachments LI .actions {
    margin-right: 0.5em;
    background-color: var(--grey);
}

#collection time {
    margin-top: 0.5em;
    font-size: 0.75em;
    display: block;
}

#recipe SECTION:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0.75em;
    margin-bottom: 0;
    border-top: 1px solid var(--grey);
}

#recipe SECTION P, #recipe SECTION LI {
    break-inside: avoid;
    padding: 0.5em 0.75em;
    margin: 0 -0.75em;
}

#directions {
    padding-top: 1em;
    padding-bottom: 1em;
}

#directions H1 {
    font-size: 1.15em;
    margin-top: 2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid currentColor;
}

#directions H1:first-child {
    margin-top: 0;
}

#directions H2 {
    break-after: avoid;
    font-size: 1.05em;
    margin: 2em 0 0 0;
}

#directions H2 + P {
    margin-top: 0;
}


#directions UL {
    list-style-type: square;
    padding-left: 0;
}

#directions UL LI {
    margin-left: 1.25em;
    padding-left: 0;
}

#ingredients {
    padding-top: 1em;
}

#ingredients UL {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#recipe SECTION P:hover, #recipe SECTION LI:hover {
    cursor: pointer;
}

#recipe SECTION P:hover, #recipe SECTION LI:hover {
    background-color: var(--secondary);
}

#recipe FOOTER {
    font-size: .85em;
    padding: 1em 0;
}

#recipe FOOTER TIME {
    display: block;
    margin-bottom: 1em;
}

#editor {
    display: flex;
}

#editor FORM {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto 1fr auto;
}

#editor .stretch {
    display: grid;
    grid-template-rows: auto 1fr;
}

#editor TEXTAREA {
    height: 100%;
}

#tagset ul {
    padding-left: 0;
    list-style-type: none;
}

#tagset LI {
    white-space: nowrap;
    padding-bottom: 1em;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    #attachments {
        border-top: 1px solid var(--grey);
    }

    #ingredients {
        border-right: 1px solid var(--grey);
        padding-right: 0.75em;
    }

    #directions {
        columns: 32em;
        column-fill: auto;
        column-gap: 3em;
    }

    #recipe {
        display: grid;
        grid-template-rows: auto 1fr;
        margin-bottom: 2.25em;
    }

    #recipe.with-ingredients SECTION:nth-of-type(1) {
        grid-template-columns: 18em 1fr;
    }

    #recipe FOOTER {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--grey);
    }

    #recipe FOOTER TIME {
        display: inline-block;
        margin-right: 2em;
        margin-bottom: 0;
    }

    #tagset ul {
        columns: 16em;
    }
}

/* Large devices */
@media (min-width: 992px) {
    #recipe FOOTER TIME:last-of-type {
        margin-right: 0;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
}

/* Print layout */
@media print {
    #attachments {
        display: none;
    }

    #recipe FOOTER {
        display: none;
    }

    #recipe.with-ingredients SECTION:nth-of-type(1) {
        grid-template-columns: 15em 1fr;
        grid-column-gap: 2em;
    }

    #page-title UL {
        display: none;
    }

    #recipe SECTION P, #recipe SECTION LI {
        background-color: #fff !important;
    }

    .done {
        text-decoration: none;
        opacity: 1;
    }


}
