.inprogress {
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

.page-actions BUTTON.wakeup {
    background-color: var(--accent);
}

.page-actions LI:last-of-type {
    grid-column: auto / span 2;
}

.sleeplog circle.highlight {
    fill: red;
}

.sleeplog polyline {
    stroke: black;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.sleeplog polyline:nth-of-type(2) {
    stroke: purple;
}


.sleeplog .ideal {
    fill: mediumseagreen;
    opacity: 0.5;
}

.sessions td {
    white-space: nowrap;
}

.sessions .verdict .icon {
    width: 30px;
    height: 30px;
}

.sessions .verdict {
    width: 5em;
    text-align: center;
    vertical-align: middle;
}

td.neutral {
    background-color: lemonchiffon;
}

td.negative {
    background-color: lightcoral;
}

td.positive {
    background-color: palegreen;
}

#history-legend {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 2em;
}

#history-legend div:first-letter {
   font-size: 1.25em;
}

#history-legend div:nth-of-type(2):first-letter {
    color: purple;
}

#stats {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.5em;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#stats SPAN.primary {
    color: var(--accent);
    font-weight: bold;
    font-size: 2em;
}

#stats SPAN.secondary {
    font-weight: bold;
    font-size: 1.25em;
}


.panels {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
}

.panels H2 {
    margin-bottom: .5em;
}

.panels > div:nth-of-type(2) {
    order: -1;
}


.notes {
    font-style: italic;
}

TD P {
    margin: 0.25em;
}

.details *:last-child {
    margin-bottom: 0;
}

#quick-actions {
    text-align: center;
}

#quick-actions FORM {
    display: inline-grid;
    grid-column-gap: 1em;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
}

/* Small devices */
@media (min-width: 576px) {
    #stats {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;
    }

    #stats li {
        text-align: center;
    }
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
    .inprogress {
        font-size: 1.5em;
    }

    .page-actions LI:last-of-type {
        grid-column: auto / auto;
    }

    #stats {
        grid-template-columns: repeat(3, 1fr);
    }

    #stats SPAN.primary {
        font-size: 2.5em;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    MAIN {
        margin-left: auto;
        margin-right: auto;
        max-width: 80em;

    }

    #stats SPAN.primary {
        font-size: 3em;
    }
}
