main {
}

#status {
    text-align: center;
    padding: 2em 0;
}

#status svg {
    font-size: 4em;
}

#actions {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 2em;
    text-align: center;
}

.deprecated > TD {
    background-color: var(--grey);
}

.default > TD {
    background-color: var(--success);
}


/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    #actions {
        grid-template-columns: auto auto auto;
        grid-column-gap: 2em;
        justify-content: center;
    }
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
