:root {
    --visitors-nocontent: #fcebd3;
    --visitors-notfound: #b8676d;
    --visitors-gone: #e5e5e5;
    --visitors-redirect-permanent: GhostWhite;
    --visitors-moved: LightCyan;
}

#saved-queries select {
    font-size: 1em;
}

#app-nav form {
    grid-template-columns: auto;
}

#delete-saved-query {
    margin-left: 1em;
}

input[type=range] {
    width: 100%;
}

.code-204 td {
    background-color: var(--visitors-nocontent);
}

.code-404 td {
    background-color: var(--visitors-notfound);
    color: var(--white);
}

.code-404 a {
    color: var(--white);
}

.code-410 td {
    background-color: var(--visitors-gone);
}

.code-301 td {
    background-color: var(--visitors-redirect-permanent);
}

.code-302 td {
    background-color: var(--visitors-moved);
}

.calc-delta.active .icon {
    fill: var(--success);
}

.flag-icon {
    padding: .25em;
    margin-bottom: .25em;
    box-shadow: 1px 2px 2px 0 var(--black);
}

.delete {
    margin-left: 1em;
}

.expandable {
    display: none;
}

.expandable td {
    background-color: var(--offwhite);
    padding: .5em 1em;
}

.expandable.expanded {
    display: table-row;
}

.shortcuts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5em;
}

.shortcuts button {
    margin-top: 0;
}

.table-top {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1em;
}

#matches {
    border: 0;
}

#matches p {
    margin: 0;
    line-height: 1.75;
}

#matches td {
    border-color: transparent;
    border-bottom-color: var(--offwhite);
}

.next-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.next-actions > * {
    margin-left: -1em;
    padding: 0 1em;
}

ul.querystring {
    background-color: var(--offwhite);
    border-left: .3em solid var(--accent);
    margin: 0;
    padding: .3em;
    list-style-type: none;
    line-height: 1.5;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
