#hosts {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 2em;
    padding-top: 1em;
}

#hosts BUTTON {
    min-width: 10em;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
