.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(10em, 100%), 1fr));
    grid-column-gap: 5em;
    grid-row-gap: 2em;
    margin-bottom: 3em;
    font-size: .85em;
    padding: 0.5em;
}

.card {
    display: grid;
    grid-template-columns: 2em 1fr;
    align-items: center;
    grid-column-gap: 0.5em;

}

.card p, table p {
    margin: 0;
    line-height: 1.5;
}

.card .icon {
    width: 2em;
    height: 2em;
}

.panels H2 {
    margin-bottom: .5em;
}

.weather-alerts {
    margin-bottom: 1em;
}

.weather-alert {
    background-color: var(--secondary);
    padding: 1em;
    margin-left: -0.75em;
    margin-right: -0.75em;
    margin-bottom: 1em;
}

.weather-alert:last-of-type {
    margin-bottom: 0;
}

.weather-alert .title {
    margin: 0;
    text-indent: -1.5em;
    margin-left: 1.5em;
    line-height: 1.3;
    font-weight: bold;
    font-size: 1.3em;
}

.weather-alert .title span {
    text-transform: uppercase;
}

.weather-alert .title svg {
    color: var(--alert);
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
    .panels {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 3em;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
