.alert {
    background-color: var(--alert);
    color: var(--white);
    padding: 1em;
    margin: 1em 0;
    line-height: 1.3;
}

.panels H2 {
    margin-bottom: .5em;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    .panels {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 3em;
    }
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
