{% extends "apps/static/templates/base.jinja.html" %}

{% block stylesheets %}
{% endblock %}

{% block scripts %}
    {{ macros.asset("js/delete.js") }}
    {{ macros.asset("js/clipboard.js") }}
{% endblock %}

{% block app_message %}
    {% if failure == "nofile" %}
        <div id="app-message" class="error">
            <p>
                No file provided.
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("copy", "file", "delete", "calendar") }}
    <main>

        <form enctype="multipart/form-data" method="post" action="{{ upload_url }}">
            <div class="field">
                <input
                    id="content"
                    name="content"
                    type="file"
                    value=""
                />
            </div>
            <div class="field-group">
                <div class="field">
                    <input
                        autocapitalize="none"
                        autocomplete="off"
                        id="storage_path"
                        name="storage_path"
                        placeholder="Path"
                        type="text"
                        value=""
                    />
                </div>
                <div class="field">
                    <button>
                        Upload
                    </button>
                </div>
            </div>
        </form>

        <div class="table-sleeve">
            {% for file in files %}
                {% if loop.first %}
                    <table id="tags" class="key-value">
                        <tbody>
                {% endif %}
                <tr>
                    <td>
                        <svg class="icon"><use xlink:href="#icon-file"></use></svg>
                        <a href="{{ file.path.address }}" target="_blank">
                            {{ file.path.text }}
                        </a>
                    </td>
                    <td>
                        {{ macros.clipboardButton("url-" ~ loop.index, "Copy URL") }}
                        <div id="url-{{ loop.index }}" hidden>{{ app_url }}{{ file.path.address }}</div>
                    </td>
                    <td>
                        {{ file.total_bytes|filesize }}
                    </td>
                    <td>
                        {% if file.path.text == added_file %}<div class="new">NEW</div>{% endif %}
                        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                        {{ file.created|dateformat("%B %d at %-I:%M:%S %p") }}
                    </td>
                    <td>
                        {{ macros.deleteButton(file.path.address, "tr", "Delete this file") }}
                    </td>
                </tr>


                {% if loop.last %}
                        </tbody>
                    </table>
                {% endif %}

                    {% else %}
                <p>The warehouse is empty.</p>
            {% endfor %}
        </div>
    </main>
{% endblock %}
