{% extends "apps/static/templates/base.jinja.html" %}

{% block stylesheets %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block app_message %}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("file", "delete", "calendar") }}
    <main>
        <div class="table-sleeve">
            <table id="tags" class="key-value">
                <tbody>
                    {% for file in files %}
                        <tr>
                            <td>
                                <svg class="icon"><use xlink:href="#icon-file"></use></svg>
                                <a href="{{ file.path.address }}">
                                    {{ file.path.text }}
                                </a>
                            </td>
                            <td>
                                {{ file.total_bytes|filesize }}
                            </td>
                            <td>
                                <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                                {{ file.created|dateformat("%B %d at %-I:%M:%S %p") }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
