{% extends "apps/static/templates/base.jinja.html" %}

{% block stylesheets %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block app_message %}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("file", "delete", "calendar") }}
    <main>
        <form enctype="multipart/form-data" method="post" action="{{ upload_url }}">
            <div class="field">
                <input
                    id="content"
                    name="content"
                    type="file"
                    value=""
                />
            </div>
            <div class="field-group">
                <div class="field">
                    <input
                        autocapitalize="none"
                        autocomplete="off"
                        id="storage_path"
                        name="storage_path"
                        placeholder="Path"
                        type="text"
                        value=""
                    />
                </div>
                <div class="field">
                    <button>
                        Upload
                    </button>
                </div>
            </div>
        </form>

        <div class="table-sleeve">
            {% for file in files %}
                {% if loop.first %}
                    <table id="tags" class="key-value">
                        <tbody>
                {% endif %}
                <tr>
                    <td>
                        <svg class="icon"><use xlink:href="#icon-file"></use></svg>
                        <a href="{{ file.path.address }}" target="_blank">
                            {{ file.path.text }}
                        </a>
                    </td>
                    <td>
                        {{ file.total_bytes|filesize }}
                    </td>
                    <td>
                        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                        {{ file.created|dateformat("%B %d at %-I:%M:%S %p") }}
                    </td>
                </tr>

                {% if loop.last %}
                        </tbody>
                    </table>
                {% endif %}

                    {% else %}
                <p>The warehouse is empty.</p>
            {% endfor %}
        </div>
    </main>
{% endblock %}
