{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('headlines', 'headlines.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.staticAsset('headlines', 'headlines.js') }}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <form action="#">
            <button
                data-limit="{{ limit }}"
                data-offset="{{ offset }}"
            >Walk links {{ offset }} to {{ offset + limit - 1}}</button>
        </form>
        <a href="{{ 'https://www.bing.com'|anonymize }}" rel="noreferrer">
            <svg class="icon"><use xlink:href="#icon-globe"></use></svg>
            Bing.com
        </a>
    </nav>
{% endblock %}


{% block page_body %}
    {{ macros.svgSymbols("globe") }}
    <main>
        <section id="headlines">
            {% set ns = namespace(loop_count=1) %}
            {% for category in headlines %}
                <div class="group">
                    <h2>{{ category|capitalize }}</h2>

                    <ol start="{{ ns.loop_count }}">
                        {% for article in headlines[category] %}
                            {% set ns.loop_count = ns.loop_count + 1 %}
                            <li>
                                <a class="title"
                                   href="{{ article["url"]|anonymize }}"
                                   rel="noreferrer"
                                   data-search-href="https://www.bing.com/search/?q={{ article["title"]|urlencode }}"
                                >{{ article["title"] }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endfor %}
        </section>

        <footer>
            <p>Powered by <a href="https://newsapi.org">News API</a></p>
        </footer>

    </main>

{% endblock %}
