{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('headlines', 'headlines.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.staticAsset('headlines', 'headlines.js') }}
{% endblock %}

{% block page_body %}
    <main>
        <header class="app-nav">
            <button
                data-limit="{{ limit }}"
                data-offset="{{ offset }}"
            >Walk Headlines</button>
            <span class="label">from {{ offset }} to {{ offset + limit - 1}}</span>
        </header>

        <nav class="secondary">
            <div>
                <a href="{{ 'https://www.bing.com'|anonymize }}" rel="noreferrer">Bing.com</a>
            </div>
        </nav>

        <div id="headlines">
            {% set ns = namespace(loop_count=1) %}
            {% for category in headlines %}
                <div class="group">
                    <h2>{{ category|capitalize }}</h2>

                    <ol start="{{ ns.loop_count }}">
                        {% for article in headlines[category] %}
                            {% set ns.loop_count = ns.loop_count + 1 %}
                            <li>
                                <a class="title" href="{{ article["url"]|anonymize }}" rel="noreferrer">{{ article["title"] }}</a>
                                <div class="item-nav">
                                    <a class="search" href="https://www.bing.com/search/?q={{ article["title"]|urlencode }}"
                                       rel="noreferrer" target="_blank">search</a>
                                </footer>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endfor %}
        </div>

        <footer class="align-center">
            <p class="align-center">Powered by <a href="https://newsapi.org">News API</a></p>
        </footer>

    </main>

{% endblock %}
