TABLE.key-value TD {
    padding: 0;
}

TABLE.key-value CAPTION {
    text-align: left;
    font-weight: normal;
    line-height: 2;
    padding: 1em;
}

DL {
    margin: 0;
    padding: 1em;
}

DT {
    color: var(--success);
}

DD {
    font-family: monospace;
}

.options .field, .options INPUT {
    font-size: .85em;
}

.text {
    padding: 1em;
    font-family: monospace;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
