{% extends "base.html" %}
{% import "macros.html" as macros -%}

{% block page_meta %}
<meta name="active_date" content="{{ active_date }}" />
{% endblock %}

{% block stylesheets %}
{{ macros.cacheBustedStylesheet('visitors', 'jquery-ui.min.css') }}
{{ macros.cacheBustedStylesheet('visitors', 'jquery-ui.theme.min.css') }}
{{ macros.cacheBustedStylesheet('visitors', 'visitors.css') }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/1.3.0/css/flag-icon.min.css" />
{% endblock %}

{% block scripts %}
{{ macros.cacheBustedScript('visitors', 'jquery-ui.min.js') }}
{{ macros.cacheBustedScript('visitors', 'visitors.js') }}
{% endblock %}

{% block svg_defs %}
<symbol id="icon-flag" viewBox="0 0 1024 1024">
    <title>flag</title>
    <path class="path1" d="M614 256h240v426h-300l-16-84h-240v298h-84v-726h384z"></path>
</symbol>

<symbol id="icon-clock" viewBox="0 0 1024 1024">
    <title>clock</title>
    <path class="path1" d="M658.744 749.256l-210.744-210.746v-282.51h128v229.49l173.256 173.254zM512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512 512-229.23 512-512-229.23-512-512-512zM512 896c-212.078 0-384-171.922-384-384s171.922-384 384-384c212.078 0 384 171.922 384 384s-171.922 384-384 384z"></path>
</symbol>

<symbol id="icon-binoculars" viewBox="0 0 1024 1024">
    <title>binoculars</title>
    <path class="path1" d="M64 0h384v64h-384zM576 0h384v64h-384zM952 320h-56v-256h-256v256h-256v-256h-256v256h-56c-39.6 0-72 32.4-72 72v560c0 39.6 32.4 72 72 72h304c39.6 0 72-32.4 72-72v-376h128v376c0 39.6 32.4 72 72 72h304c39.6 0 72-32.4 72-72v-560c0-39.6-32.4-72-72-72zM348 960h-248c-19.8 0-36-14.4-36-32s16.2-32 36-32h248c19.8 0 36 14.4 36 32s-16.2 32-36 32zM544 512h-64c-17.6 0-32-14.4-32-32s14.4-32 32-32h64c17.6 0 32 14.4 32 32s-14.4 32-32 32zM924 960h-248c-19.8 0-36-14.4-36-32s16.2-32 36-32h248c19.8 0 36 14.4 36 32s-16.2 32-36 32z"></path>
</symbol>

<symbol id="icon-bookmark" viewBox="0 0 1024 1024">
    <title>bookmark</title>
    <path class="path1" d="M192 0v1024l320-320 320 320v-1024z"></path>
</symbol>

<symbol id="icon-tag" viewBox="0 0 32 32">
    <title>tag</title>
    <path d="M30.5 0h-12c-0.825 0-1.977 0.477-2.561 1.061l-14.879 14.879c-0.583 0.583-0.583 1.538 0 2.121l12.879 12.879c0.583 0.583 1.538 0.583 2.121 0l14.879-14.879c0.583-0.583 1.061-1.736 1.061-2.561v-12c0-0.825-0.675-1.5-1.5-1.5zM23 12c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"></path>
</symbol>


{% endblock %}


{% block page_body %}

<main>
    <div class="content-wrapper">
        <form method="get" action="{{ app_url }}">
            <div id="saved-queries" class="field {% if saved_queries|count == 0 %}hidden{% endif %}">
                <label for="saved">Saved Queries</label>
                <select id="saved">
                    <option value=""></option>
                    {% for query in saved_queries %}
                    <option data-id="{{ query[0] }}" value="{{ query[2] }}" {% if query[3] %}selected="selected"{% endif %}>{{ query[1] }}</option>
                    {% endfor %}
                </select>

                <a href="#" class="delete hidden">
                    <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
                </a>

            </div>

            <div class="two-third-column">
                <div class="field">
                    <label for="q">Query:</label>
                    <textarea id="q" name="q">{{ q|default('', true) }}</textarea>
                </div>
            </div>
            <div class="third-column">
                <div class="field">
                    <label>Date:</label>
                    <div id="datepicker"></div>
                </div>
            </div>

            <div class="field actions">
                <button id="submit">Run query</button>
                <a id="save" href="#save">Save query</a>
            </div>

    </div>
        </form>
    </div>

    {% if results|count == 0 %}
    <div class="content-wrapper centered">
        <p>No results found.</p>
    </div>
    {% endif %}


    {% if results|count > 0 %}
    <div class="content-wrapper">
        <div class="table-top">
            <div class="right">
                <a id="matches-master-toggle" class="master-toggle" href="#" rel="noreferrer"><span class="label">expand</a> all</a>
            </div>
        </div>

        <div class="sleeve">
            <table id="matches">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>IP</th>
                        <th>Date</th>
                        <th>Request</th>
                        <th>Code</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    {% for result in results %}

                    {% set new_ip = loop.changed(result.ip) %}

                    <tr class="result code-{{ result.statusCode }}">
                        {% if new_ip %}
                        <td>
                            <div class="flag-icon flag-icon-{{ result.country|lower()}}"></div>

                            <p>
                                {% if result.city %}
                                {{ result.city|default("", true) }}<br/>
                                {% endif %}

                                {% if result.country == "US" %}
                                {{ result.region|default("", true) }}
                                {% else %}
                                {{ country_names[result.country] }}
                                {% endif %}
                            </p>
                        </td>
                        <td>
                            <p>
                                <a href="/visitors?q=ip+{{ result.ip }}" title="Search for visits from this address" rel="noreferrer">
                                    {{ result.ip }}
                                </a>
                            </p>

                            {% if result.ip_reverse_domain %}
                            <a href="/visitors?q=ip_reverse_domain+{{ result.ip_reverse_domain }}" title="Search for visits from this network" rel="noreferrer">
                                {{ result.ip_reverse_domain|hostname_truncate(3) }}
                            </a>
                            {% endif %}

                            {% if result.organization %}
                            <p>{{ result.organization }}</p>

                            {% endif %}

                            <div class="annotations">
                                {% for annotation in annotations.get(result.ip, ()) %}
                                <p>{{ annotation }}</p>
                                {% endfor %}
                            </div>

                            <div class="next-actions">
                                {% if result.cookie %}
                                <a href="/visitors?q=cookie+{{ result.cookie }}" title="Search for visits with this cookie" rel="noreferrer">
                                    <svg class="icon icon-tag"><use xlink:href="#icon-tag"></use></svg>
                                </a>
                                {% endif %}

                                <a href="/whois/{{ result.ip }}" target="_blank" title="View whois details for this address" rel="noreferrer">
                                    <svg class="icon icon-binoculars"><use xlink:href="#icon-binoculars"></use></svg>
                                </a>

                                <a href="#annotate" data-ip="{{ result.ip }}" class="annotate-ip" title="Annotate this ip">
                                    <svg class="icon icon-bookmark"><use xlink:href="#icon-bookmark"></use></svg>
                                </a>
                            </div>

                        </td>
                        {% else %}
                        <td colspan="2"></td>
                        {% endif %}



                        <td nowrap="nowrap">
                            <p>
                                <a class="calc-delta" data-timestamp-unix="{{ result.timestamp_unix }}" href="#" rel="noreferrer">
                                    <svg class="icon icon-flag"><use xlink:href="#icon-flag"></use></svg>
                                </a>
                                {{ result.timestamp|localtime('date') }}
                                at
                                {{ result.timestamp|localtime('time12') }}
                            </p>

                            <p class="delta {% if loop.last %}hidden{% endif %}" data-default="{{ deltas[loop.index]}}">
                                Δ <span class="value">{{ deltas[loop.index0] }}</span>
                                <span class="label"></span>
                            </p>

                        </td>
                        <td nowrap="nowrap">
                            <p>
                                <a href="/visitors?q=date+{{ result.timestamp|localtime('date') }}%0Auri+{{result.uri}}" title="Search for visits to this page" rel="noreferrer">
                                    {{ result.method }} {{ result.uri|truncate(30, True) }}
                                </a>
                            </p>

                            {% if result.referrer and result.referrer_domain not in site_domains %}
                            <p>
                                Referrer: <a href="/visitors?q=date+{{ result.timestamp|localtime('date') }}%0Areferrer_domain+{{result.referrer_domain}}">{{ result.referrer_domain }}</a>
                            </p>
                            {% endif %}
                        </td>
                        <td>
                            <p class="help" title="{{ result.statusCode|status_message()}}">
                                {{ result.statusCode }}
                            </p>
                        </td>
                        <td>
                            <a href="#" class="toggle toggle-next-row" rel="noreferrer">
                                <span class="label">more</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="expandable">
                        <td colspan="6">
                            <p class="meta">
                                <svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg>
                                {{ result.timestamp|ago() }}
                                {% if result.time_zone %}
                                at {{ result.timestamp|localtime('time12', result.time_zone) }} local time
                                {% endif %}
                            </p>

                            <p class="wordwrap"><code>{{ result.logline }}</code></p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}
