{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.asset("css/visitors.css") }}
    {{ macros.asset("flag-icon-css/css/flag-icon.min.css") }}
{% endblock %}

{% block scripts %}
    {{ macros.asset("js/visitors.js") }}
    {{ macros.asset("js/shortcuts.js") }}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a id="add-record" class="secondary-action" href="{{ registry_url }}">
            <svg class="icon"><use xlink:href="#icon-new-item"></use></svg>
            Save
        </a>

        <a id="edit-record" href="/registry/?q=visitors">
            <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
            Edit
        </a>
    </nav>
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("arrow-left", "arrow-right", "delete", "edit", "flag", "clock", "new-item", "bookmark", "tag", "search") }}

    <main>
        <header id="app-nav">
            <form id="visitors-form" method="get" action="{{ app_url }}">
                <div class="field">
                    <textarea id="query" name="query">{{ query|default('', true) }}</textarea>
                    <div class="shortcuts">
                        {% if saved_queries %}
                            <div id="saved-queries" class="field">
                                <label for="saved">Saved queries</label>
                                <select id="saved">
                                    <option value=""></option>
                                    {% for name, query in saved_queries.items() %}
                                        <option value="{{ query|replace("\n", ";") }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}

                        <div class="field">
                            <label for="fields">Search fields</label>
                            <select id="fields" data-field="query" data-shortcut="splice-to-newline">
                                <option value=""></option>
                                <option value="agent">agent</option>
                                <option value="agent_domain">agent_domain</option>
                                <option value="city">city</option>
                                <option value="classification">classification</option>
                                <option value="cookie">cookie</option>
                                <option value="country">country</option>
                                <option value="date">date</option>
                                <option value="datestamp">datestamp</option>
                                <option value="host">host</option>
                                <option value="ip">ip</option>
                                <option value="method">method</option>
                                <option value="query">query</option>
                                <option value="referrer">referrer</option>
                                <option value="referrer_domain">referrer_domain</option>
                                <option value="region">region</option>
                                <option value="reverse_domain">reverse_domain</option>
                                <option value="source_file">source_file</option>
                                <option value="status">status</option>
                                <option value="statuscode">statuscode</option>
                                <option value="uri">uri</option>
                            </select>
                        </div>
                        <div class="field">
                            {% if "date" in query %}
                                <button data-field="query" data-shortcut="query-date-backward">
                                    <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
                                </button>

                                <button data-field="query" data-shortcut="query-date-forward">
                                    <svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg>
                                </button>
                            {% endif %}
                        </div>

                        <div class="field">
                            <button id="search">Search</button>
                        </div>
                    </div>
                </div>

            </form>
        </header>

        {% if results|count == 0 %}
            <p class="warning">No results found.</p>
        {% endif %}

        {% if results|count > 0 %}
            <section class="table-sleeve">
                <table id="matches">
                    <thead>
                        <tr>
                            <th width="20%">Location</th>
                            <th width="20%">Source</th>
                            <th width="25%">Date</th>
                            <th widtt="25%">Request</th>
                            <th width="5%">Code</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set ns = namespace(previous=None) %}

                        {% for result in results %}
                            {% if loop.first %}
                                {% set is_new_ip = True %}
                                {% set is_new_datestamp = True %}
                            {% else %}
                                {% set is_new_ip = result.ip != ns.previous.ip %}
                                {% set is_new_datestamp = result.datestamp != ns.previous.datestamp %}
                            {% endif %}

                            {% set reverse_domain = reversed_ips.get(result.ip) %}
                            {% set ns.previous = result %}

                            <tr class="result code-{{ result.statusCode }}">
                                {% if is_new_ip or is_new_datestamp %}
                                    <td nowrap>
                                        {% if result.country not in flagless_countries %}
                                            <div class="flag-icon flag-icon-{{ result.country|lower()}}"></div>
                                        {% endif %}

                                        <p>
                                            {% if result.city %}
                                                {{ result.city }}<br/>
                                                <span class="smaller">
                                                    {% if result.country == "US" %}
                                                        {{ result.region|default("", true) }}
                                                    {% else %}
                                                        {{ country_names.get(result.country, 'Unknown') }}
                                                    {% endif %}
                                                </span>
                                            {% else %}
                                                {{ country_names.get(result.country, 'Unknown') }}
                                            {% endif %}
                                        </p>
                                    </td>

                                    <td nowrap>
                                        <p>
                                            <a href="/visitors?query=ip+{{ result.ip }}"
                                               title="Search for visits from this address"
                                               rel="noreferrer"
                                            >{{ result.ip|truncate(20, True)  }}</a>
                                        </p>

                                        {% if reverse_domain and result.ip != "0.0.0.0" %}
                                            <p class="smaller">
                                                <a href="/visitors?query=reverse_domain+{{ reverse_domain }}"
                                                   title="Search for visits from this network"
                                                   rel="noreferrer"
                                                >{{ reverse_domain|hostname_truncate(3) }}</a>
                                            </p>
                                        {% endif %}

                                        {% if result.organization %}
                                            <p>{{ result.organization }}</p>
                                        {% endif %}

                                        <div class="annotations">
                                            {% for annotation in annotations.get(result.ip, ()) %}
                                                <p>{{ annotation }}</p>
                                            {% endfor %}
                                        </div>

                                        <div class="next-actions">
                                            {% if result.ip in cookies %}
                                                <a href="/visitors?query=cookie+{{ cookies.get(result.ip) }}"
                                                   title="Search for visits with this cookie"
                                                   rel="noreferrer"
                                                ><svg class="icon"><use xlink:href="#icon-tag"></use></svg></a>
                                            {% endif %}

                                            {% if result.ip != "0.0.0.0" %}
                                            <a href="/whois?address={{ result.ip }}"
                                               target="_blank"
                                               title="View whois details for this address"
                                               rel="noreferrer"
                                            ><svg class="icon"><use xlink:href="#icon-search"></use></svg></a>
                                            {% endif %}

                                            <a href="#annotate" data-ip="{{ result.ip }}"
                                               class="annotate-ip"
                                               title="Annotate this ip"
                                            ><svg class="icon"><use xlink:href="#icon-bookmark"></use></svg></a>
                                        </div>
                                    </td>
                                {% else %}
                                    <td colspan="2"></td>
                                {% endif %}

                                <td nowrap="nowrap">
                                    <p>
                                        {{ result.unix_timestamp|date(local=True)|dateformat("%Y-%m-%d at %-I:%M:%S %p") }}
                                    </p>
                                </td>
                                <td nowrap="nowrap">
                                    <p>
                                        <a href="/visitors?query=date+{{ active_date|dateformat("%Y-%m-%d") }}%0Auri+{{result.uri}}" title="Search for visits to this page" rel="noreferrer">
                                            {{ result.method }} {{ result.uri|truncate(30, True) }}
                                        </a>
                                    </p>

                                    {% if result.query and result.statusCode != 404 %}
                                        <ul class="querystring smaller">
                                            {% for item in result.query|dictsort %}
                                                <li>{{ item.0|truncate(50, True) }}: {{ item.1|join(',')|truncate(50, True) }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    {% if result.referrer_domain and result.referrer_domain not in site_domains %}
                                        <p>
                                            Referrer: <a href="/visitors?query=date+{{ active_date|dateformat('%Y-%m-%d') }}%0Areferrer_domain+{{result.referrer_domain}}">{{ result.referrer_domain }}</a>
                                        </p>
                                    {% endif %}
                                </td>
                                <td>
                                    <p class="help" title="{{ result.statusCode|status_message()}}">
                                        {{ result.statusCode }}
                                    </p>
                                </td>
                                <td nowrap>
                                    <p>
                                        <a href="#" class="toggle toggle-next-row" rel="noreferrer" data-default-label="more" data-expanded-label="less">
                                            more
                                        </a>
                                    </p>
                                </td>
                            </tr>
                            <tr class="expandable">
                                <td colspan="6">
                                    <p>
                                        <code>{{ result|logline_with_links() }}</code>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        {% endif %}
        {{ macros.queryPlan(query_plan) }}
    </main>
{% endblock %}
