{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block page_meta %}
    <meta name="active_date" content="{{ active_date|localtime|dateformat("YYYY-MM-DD") }}" />
{% endblock %}

{% block stylesheets %}
    {{ macros.staticAsset('visitors', 'jquery-ui.min.css') }}
    {{ macros.staticAsset('visitors', 'jquery-ui.theme.min.css') }}
    {{ macros.staticAsset('visitors', 'visitors.css') }}
    {{ macros.staticAsset('visitors', 'flag-icon-css/css/flag-icon.min.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.staticAsset('visitors', 'jquery-ui.min.js') }}
    {{ macros.staticAsset('visitors', 'visitors.js') }}
{% endblock %}

{% block page_body %}
    <main>
        {{ macros.svgSymbols("delete", "database", "flag", "clock", "binoculars", "bookmark", "tag") }}

        <form method="get" action="{{ app_url }}">
            <header class="app-nav">
                <div class="field">
                    <label>Date</label>
                    <div id="datepicker"></div>
                </div>

                <div>
                    <div id="saved-queries" class="field {% if saved_queries|count == 0 %}hidden{% endif %}">
                        <label for="saved">Saved Searches</label>
                        <select id="saved">
                            <option value=""></option>
                            {% for query in saved_queries %}
                                <option data-id="{{ query[0] }}" value="{{ query[2] }}" {% if query[3] %}selected="selected"{% endif %}>{{ query[1] }}</option>
                            {% endfor %}
                        </select>

                        <a href="#" class="delete hidden">
                            <svg class="icon"><use xlink:href="#delete"></use></svg>
                        </a>
                    </div>

                    <div class="field">
                        <label for="query">Search</label>
                        <textarea id="query" name="query">{{ query|default('', true) }}</textarea>
                    </div>

                    <div class="field actions">
                        <button id="submit">Run query</button>
                        <a id="save" href="#save">Save query</a>
                    </div>
                </div>
            </header>
        </form>

        {% if results|count == 0 %}
            <div class="content-wrapper centered">
                <p>No results found.</p>
            </div>
        {% endif %}

        {% if results|count > 0 %}
            <header class="table-top">
                <a id="matches-master-toggle"
                   class="master-toggle"
                   href="#"
                   rel="noreferrer"
                >
                    <span class="label">expand</span>
                    all
                </a>
            </header>

            <div class="table-sleeve">
                <table id="matches">
                    <thead>
                        <tr>
                            <th width="20%">Location</th>
                            <th width="20%">Source</th>
                            <th width="25%">Date</th>
                            <th widtt="25%">Request</th>
                            <th width="5%">Code</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}

                            {% set new_ip = loop.changed(result.ip) %}
                            {% set year_month_day = result.unix_timestamp|localtime|dateformat('YYYY-MM-DD') %}
                            {% set new_day = False %}
                            {% if loop.previtem is defined %}
                                {% set prev_year_month_day = loop.previtem.unix_timestamp|localtime|dateformat("YYYY-MM-DD") %}
                                {% set new_day = year_month_day != prev_year_month_day %}
                            {% endif %}

                            {% set reverse_domain = reversed_ips.get(result.ip) %}
                            {% set duration = durations.get((result.ip, result.unix_timestamp|localtime|dateformat("YYYY-MM-DD"))) %}
                            <tr class="result code-{{ result.statusCode }}">
                                {% if new_ip or new_day %}
                                    <td nowrap>
                                        {% if result.country not in flagless_countries %}
                                            <div class="flag-icon flag-icon-{{ result.country|lower()}}"></div>
                                        {% endif %}

                                        <p>
                                            {% if result.city %}
                                                {{ result.city }}<br/>
                                                <span class="smaller">
                                                    {% if result.country == "US" %}
                                                        {{ result.region|default("", true) }}
                                                    {% else %}
                                                        {{ country_names.get(result.country, 'Unknown') }}
                                                    {% endif %}
                                                </span>
                                            {% else %}
                                                {{ country_names.get(result.country, 'Unknown') }}
                                            {% endif %}
                                        </p>
                                    </td>

                                    <td nowrap>
                                        <p>
                                            <a href="/visitors?query=ip+{{ result.ip }}"
                                               title="Search for visits from this address"
                                               rel="noreferrer"
                                            >{{ result.ip|truncate(20, True)  }}</a>
                                        </p>


                                        {% if duration  %}
                                            <p class="smaller">Active
                                                {% if duration.in_hours() > 1 %}
                                                    {{ duration.in_hours() }} hours
                                                {% elif duration.in_minutes() > 1 %}
                                                    {{ duration.in_minutes() }} minutes
                                                {% elif duration.in_seconds() > 1 %}
                                                    {{ duration.in_seconds() }} seconds
                                                {% else %}
                                                    {{ duration.in_seconds() }} second
                                                {% endif %}
                                            </p>
                                        {% endif %}


                                        {% if reverse_domain %}
                                            <p class="smaller">
                                                <a href="/visitors?query=reverse_domain+{{ reverse_domain }}"
                                                   title="Search for visits from this network"
                                                   rel="noreferrer"
                                                >{{ reverse_domain|hostname_truncate(3) }}</a>
                                            </p>
                                        {% endif %}

                                        {% if result.organization %}
                                            <p>{{ result.organization }}</p>
                                        {% endif %}

                                        <div class="annotations">
                                            {% for annotation in annotations.get(result.ip, ()) %}
                                                <p>{{ annotation }}</p>
                                            {% endfor %}
                                        </div>

                                        <div class="next-actions">
                                            {% if result.ip in cookies %}
                                                <a href="/visitors?query=cookie+{{ cookies.get(result.ip) }}"
                                                   title="Search for visits with this cookie"
                                                   rel="noreferrer"
                                                ><svg class="icon icon-tag"><use xlink:href="#icon-tag"></use></svg></a>
                                            {% else %}
                                                <span title="No cookie on request"><svg class="icon icon-tag inactive"><use xlink:href="#icon-tag"></use></svg></span>
                                            {% endif %}

                                            <a href="/whois?address={{ result.ip }}"
                                               target="_blank"
                                               title="View whois details for this address"
                                               rel="noreferrer"
                                            ><svg class="icon icon-binoculars"><use xlink:href="#icon-binoculars"></use></svg></a>

                                            <a href="#annotate" data-ip="{{ result.ip }}"
                                               class="annotate-ip"
                                               title="Annotate this ip"
                                            ><svg class="icon icon-bookmark"><use xlink:href="#icon-bookmark"></use></svg></a>
                                        </div>
                                    </td>
                                {% else %}
                                    <td colspan="2"></td>
                                {% endif %}

                                <td nowrap="nowrap">
                                    <p>
                                        <a class="calc-delta" data-timestamp-unix="{{ result.unix_timestamp }}" href="#" rel="noreferrer">
                                            <svg class="icon icon-flag"><use xlink:href="#icon-flag"></use></svg>
                                        </a>
                                        {{ year_month_day }}
                                        at
                                        {{ result.unix_timestamp|localtime|dateformat("LTS") }}
                                    </p>

                                    <p class="delta {% if loop.last %}hidden{% endif %} smaller" data-default="{{ deltas[loop.index]}}">
                                        Δ <span class="value">{{ deltas[loop.index0] }}</span>
                                        <span class="label"></span>
                                    </p>
                                </td>
                                <td nowrap="nowrap">
                                    <p>
                                        <a href="/visitors?query=date+{{ year_month_day }}%0Auri+{{result.uri}}" title="Search for visits to this page" rel="noreferrer">
                                            {{ result.method }} {{ result.uri|truncate(30, True) }}
                                        </a>
                                    </p>

                                    {% if result.query %}
                                        <ul class="querystring smaller">
                                            {% for item in result.query|dictsort %}
                                                <li>{{ item.0|truncate(50, True) }}: {{ item.1|join(',')|truncate(50, True) }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    {% if result.referrer_domain and result.referrer_domain not in site_domains %}
                                        <p>
                                            Referrer: <a href="/visitors?query=date+{{ year_month_day }}%0Areferrer_domain+{{result.referrer_domain}}">{{ result.referrer_domain }}</a>
                                        </p>
                                    {% endif %}
                                </td>
                                <td>
                                    <p class="help" title="{{ result.statusCode|status_message()}}">
                                        {{ result.statusCode }}
                                    </p>
                                </td>
                                <td nowrap>
                                    <p>
                                        <a href="#" class="toggle toggle-next-row" rel="noreferrer">
                                            <span class="label">more</span>
                                        </a>
                                    </p>
                                </td>
                            </tr>
                            <tr class="expandable">
                                <td colspan="6">
                                    <p class="meta">
                                        <svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg>
                                        {{ result.unix_timestamp|ago() }}
                                        {% if result.time_zone %}
                                            at {{ result.unix_timestamp|localtime(result.time_zone)|dateformat('LTS') }} local time
                                        {% endif %}
                                    </p>

                                    <p class="meta">
                                        <svg class="icon"><use xlink:href="#icon-database"></use></svg>
                                        {{ result.host }}
                                    </p>
                                    <p>
                                        <code>{{ result|logline_with_links() }}</code>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {{ macros.queryPlan(query_plan) }}
    </main>
{% endblock %}
