{% extends "base.html" %}
{% import "macros.html" as macros -%}

{% block page_meta %}
<meta name="active_date" content="{{ active_date }}" />
{% endblock %}

{% block stylesheets %}
{{ macros.cacheBustedStylesheet('visitors', 'jquery-ui.min.css') }}
{{ macros.cacheBustedStylesheet('visitors', 'jquery-ui.theme.min.css') }}
{{ macros.cacheBustedStylesheet('visitors', 'visitors.css') }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/1.3.0/css/flag-icon.min.css" />
{% endblock %}

{% block scripts %}
{{ macros.cacheBustedScript('visitors', 'jquery-ui.min.js') }}
{{ macros.cacheBustedScript('visitors', 'visitors.js') }}
{% endblock %}

{% block svg_defs %}
<symbol id="icon-flag" viewBox="0 0 1024 1024">
    <title>flag</title>
    <path class="path1" d="M614 256h240v426h-300l-16-84h-240v298h-84v-726h384z"></path>
</symbol>

<symbol id="icon-clock" viewBox="0 0 1024 1024">
    <title>clock</title>
    <path class="path1" d="M658.744 749.256l-210.744-210.746v-282.51h128v229.49l173.256 173.254zM512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512 512-229.23 512-512-229.23-512-512-512zM512 896c-212.078 0-384-171.922-384-384s171.922-384 384-384c212.078 0 384 171.922 384 384s-171.922 384-384 384z"></path>
</symbol>

<symbol id="icon-binoculars" viewBox="0 0 1024 1024">
    <title>binoculars</title>
    <path class="path1" d="M64 0h384v64h-384zM576 0h384v64h-384zM952 320h-56v-256h-256v256h-256v-256h-256v256h-56c-39.6 0-72 32.4-72 72v560c0 39.6 32.4 72 72 72h304c39.6 0 72-32.4 72-72v-376h128v376c0 39.6 32.4 72 72 72h304c39.6 0 72-32.4 72-72v-560c0-39.6-32.4-72-72-72zM348 960h-248c-19.8 0-36-14.4-36-32s16.2-32 36-32h248c19.8 0 36 14.4 36 32s-16.2 32-36 32zM544 512h-64c-17.6 0-32-14.4-32-32s14.4-32 32-32h64c17.6 0 32 14.4 32 32s-14.4 32-32 32zM924 960h-248c-19.8 0-36-14.4-36-32s16.2-32 36-32h248c19.8 0 36 14.4 36 32s-16.2 32-36 32z"></path>
</symbol>

<symbol id="icon-bookmark" viewBox="0 0 1024 1024">
    <title>bookmark</title>
    <path class="path1" d="M192 0v1024l320-320 320 320v-1024z"></path>
</symbol>

{% endblock %}


{% block page_body %}

<main>
    <div class="content-wrapper">
        <form method="get" action="/visitors">
            <div id="saved-queries" class="field {% if saved_queries|count == 0 %}hidden{% endif %}">
                <label for="saved">Saved Queries</label>
                <select id="saved">
                    <option value=""></option>
                    {% for query in saved_queries %}
                    <option data-id="{{ query.rowid }}" value="{{ query.value }}" {% if query.key == active_query %}selected="selected"{% endif %}>{{ query.key|replace("visitors:", "") }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="two-third-column">
                <div class="field">
                    <label for="q">Query:</label>
                    <textarea id="q" name="q">{{ q|default('', true) }}</textarea>
                </div>
            </div>
            <div class="third-column">
                <div class="field">
                    <label>Date:</label>
                    <div id="datepicker"></div>
                </div>
            </div>

            <div class="field actions">
                <button id="submit">Run query</button>
                <a id="save" href="#save" rel="noreferrer">Save query</a>

                <a href="#" class="delete hidden" rel="noreferrer">
                    <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
                    Delete query
                </a>
            </div>

            </div>
        </form>
    </div>

    {% if results|count == 0 %}
    <div class="content-wrapper centered">
        <p>No results found.</p>
    </div>
    {% endif %}


    {% if results|count > 0 %}
    <div class="content-wrapper">
        <div class="table-top">
            <div class="left">
                {% if result_limit < total_matches %}
                Showing {{ result_limit }} of {{ total_matches|pluralize("match", "matches") }}
                {% else %}
                Showing {{ total_matches|pluralize("match", "matches") }}
                {% endif %}
            </div>
            <div class="right">
                <a id="matches-master-toggle" class="master-toggle" href="#" rel="noreferrer"><span class="label">expand</a> all</a>
            </div>
        </div>

        <div class="sleeve">
            <table id="matches">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th colspan="2">IP</th>
                        <th>Date</th>
                        <th>Request</th>
                        <th>Code</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr class="result code-{{ result.statusCode }}">
                        {% if result.ip == prev_ip %}
                        <td></td>
                        {% else %}
                        <td>
                            <div class="flag-icon flag-icon-{{ result.ip_facts.geo.country_code|lower()}}"></div>

                            <p>
                                {% if result.ip_facts.geo.city %}
                                {{ result.ip_facts.geo.city|default("", true) }}<br/>
                                {% endif %}

                                {% if result.ip_facts.geo.country_code == "US" %}
                                {{ result.ip_facts.geo.region_code|default("", true) }}
                                {% else %}
                                {{ result.ip_facts.geo.country_name|default("", true) }}
                                {% endif %}
                            </p>
                        </td>
                        {% endif %}

                        {% if result.ip == prev_ip %}
                        <td colspan="2"></td>
                        {% else %}
                        <td>
                            <p><a href="/visitors?q=ip+{{ result.ip }}" title="Search for visits from this address" rel="noreferrer">{{ result.ip|truncate(25, true) }}</a></p>
                            {% if result.ip_facts.organization %}
                            <p>{{ result.ip_facts.organization }}</p>
                            {% endif %}

                            {% if result.ip_facts.annotations|count == 0 %}
                            <p class="annotation" data-id=""></p>
                            {% endif %}

                            {% for annotation in result.ip_facts.annotations %}
                            <p class="annotation" data-id="{{ annotation[1] }}">{{ annotation[0] }}</p>
                            {% endfor %}

                        </td>
			<td>
			    <a href="/whois/{{ result.ip }}" target="_blank" title="View whois details for this ip" rel="noreferrer">
                                <svg class="icon icon-binoculars"><use xlink:href="#icon-binoculars"></use></svg>
                            </a>
                            <a href="#annotate" data-ip="{{ result.ip }}" class="annotate-ip" title="Annotate this ip">
                                <svg class="icon icon-bookmark"><use xlink:href="#icon-bookmark"></use></svg>
                            </a>

			</td>
                        {% endif %}
                        <td nowrap="nowrap">
                            <p>
                                <a class="calc-delta" data-timestamp-unix="{{ result.timestamp_unix }}" href="#" rel="noreferrer">
                                    <svg class="icon icon-flag"><use xlink:href="#icon-flag"></use></svg>
                                </a>
                                {{ result.timestamp|localtime('date') }}
                                at
                                {{ result.timestamp|localtime('time12') }}
                            </p>

                            <p class="delta {% if loop.last %}hidden{% endif %}" data-default="{{ result.delta}}">Δ <span class="value">{{ result.delta }}</span> <span class="label"></span></p>
                            </p>

                        </td>
                        <td nowrap="nowrap">
                            <p>
                                <a href="/visitors?q=date+{{ result.timestamp|localtime('date') }},include+{{result.method}}+{{result.uri}}" title="Search for visits to this page" rel="noreferrer">{{ result.method }} {{ result.uri|truncate(30, True) }}</a>
                            </p>

                            {% if result.agent != prev_agent %}
                            <p>
                                {{ result.agent|useragent()|truncate(50) }}
                                {% if result.referrer and result.referrer_domain not in site_domains  %}
                                <br/>
                                Referrer: <a href="{{ result.referrer }}" target="_blank" rel="noreferrer">{{ result.referrer_domain }}</a>
                                {% endif %}
                            </p>
                            {% endif %}
                        </td>
                        <td>
                            <p class="help" title="{{ result.statusCode|status_message()}}">
                                {{ result.statusCode }}
                            </p>
                        </td>
                        <td>
                            <a href="#" class="toggle toggle-next-row" rel="noreferrer">
                                <span class="label">more</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="expandable">
                        <td colspan="7">
                            <p class="meta">
                                <svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg>
                                {{ result.timestamp|ago() }}
                                {% if result.ip_facts.geo.time_zone %}
                                at {{ result.timestamp|localtime('time12', result.ip_facts.geo.time_zone) }} local time
                                {% endif %}
                            </p>

                            <p class="wordwrap"><code>{{ result.line }}</code></p>
                        </td>
                    </tr>

                    {% set prev_ip = result.ip %}
                    {% set prev_agent = result.agent %}
                    {% set prev_date = result.timestamp|localtime('date') %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p>This query ran in {{ duration|round(4) }} seconds</p>

        {% endif %}
    </div>
</main>

{% endblock %}
