{% extends "base.html" %}

{% set page_title = "Lettercase" %}
{% set home_link = True %}

{% block scripts %}
<script src="/static/lettercase/lettercase.js"></script>
{% endblock %}

{% block page_body %}
<main class="ui page grid stackable">
    <form class="ui sixteen wide column form" method="post" action="/lettercase">
        <div class="field">
            <label for="value">Input:</label>
            <textarea id="value" name="value">{{ value|default('', true) }}</textarea>
        </div>
        <div class="field">
            <label for="style">Convert to:</label>

            <div class="inline fields">
                {% for option in styles %}
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="style" value="{{ option }}" {% if option == style %}checked{% endif %} />
                        <label>{{ option|title }}case</label>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="field">
            <button class="ui button">Convert</button>
        </div>
    </form>


    {% if result %}
    <div class="ui sixteen wide column">
        <div class="ui segment">
            <a href="#" data-selection-target="#result" class="select-all">Select All</a>
            <div class="ui divider"></div>
            <div id="result">{{ result|nl2br() }}</div>
        </div>
    </div>
    {% endif %}
</form>
</main>

{% endblock %}
