.app-nav p {
    margin-bottom: 0;
}

.grid THEAD TH {
    min-width: 6em;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}

/* Print layout */
@media print {
    .app-nav {
        display: none;
    }

    .grid {
        font-size: 12px;
        margin-bottom: 0;
    }

    .grid TD, .grid TH {
        padding: .6em;
    }
}
