.grid-select {
    padding: 0 0 2em;
}

.grid-select p {
    margin-bottom: 0;
}

.grid {
    border: 1px solid black;
    border-collapse: collapse;
}

.grid THEAD TH {
    background-color: #000;
    color: #fff;
    min-width: 6em;
}

.grid TBODY TD {
    border: 1px solid #000;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}

/* Print layout */
@media print {
    .grid-list {
        display: none;
    }

    .grid {
        font-size: 12px;
    }

    .grid TD, .grid TH {
        padding: .6em;
    }
}
