BUTTON {
    background-color: var(--alert);
    border: 0;
    margin: 0;
    padding: 1.25em;
    color: var(--white);
}

BUTTON:hover {
    background-color: var(--accent);
}

BUTTON .icon {
    margin: 0 0.5em 0 0;
}
