.tags {
    columns: 20em auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tags LI {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

.tags LI .rename {
    margin-left: 3em;
    display: none;
}

.tags LI:hover .rename {
    display: inline;
}
