{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset("recipes", "recipes.css") }}
{% endblock %}

{% block scripts %}
    {{ macros.vueApp("nav.secondary", ("discardable-record", "discard-button")) }}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <ul>
            {% block main_toolbar_links %}{% endblock %}
            <li class="rest">
                <form method="get" action="/recipes/search">
                    <fieldset>
                        <input
                            type="search"
                            id="q"
                            name="q"
                            value="{{ query }}"
                            autocapitalize="none"
                        />
                        <button>
                            Search
                        </button>
                    </fieldset>
                </form>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block page_body %}
    {% block content %}
    {% endblock %}
{% endblock %}
