{% extends "recipes.jinja.html" %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a id="add-record" href="/recipes/new">
            <svg class="icon"><use xlink:href="#icon-new-item"></use></svg>
            Add
        </a>
    </nav>
{% endblock %}

{% block content %}
    {{ macros.svgSymbols("new-item", "arrow-let", "tag") }}
    <main id="tagset">
        <header id="app-nav">
            <form method="get" action="/recipes/search">
                <div class="field">
                    <input
                        type="search"
                        id="q"
                        name="q"
                        value="{{ query }}"
                        autocapitalize="none"
                    />
                </div>
                <div class="field">
                    <button>
                        Search
                    </button>
                </div>
            </form>
        </header>

        <section>
            <h2>Tags</h2>

            {% set ns = namespace(tags_found=False) %}
            <ul>
                {% for tag in tags %}
                    {% set ns.tags_found = True %}
                    <li>
                        <a href="/recipes/tag/{{ tag["name"]|urlencode }}">
                            <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                            {{ tag["name"] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {% if not ns.tags_found %}
                <p>No tags found.</p>
            {% endif %}
        </section>
    </main>
{% endblock %}
