{% if attachments  %}
    <ul id="attachments">
        {% for attachment in attachments %}
            <li>
                <div class="actions">
                    {{ macros.deleteButton("/recipes/" ~ recipe_id ~ "/attachments/" ~ attachment["id"], "li", "Delete this attachment") }}
                </div>

                <a href="/recipes/{{ recipe_id }}/{{ attachment["filename"] }}" target="_blank">
                    {{ attachment["filename"] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
