<li>
    <div>
        <h2 class="title">
            <a href="/recipes/{{ recipe["id"] }}">
                {{ recipe["title"] }}
            </a>
        </h2>

        <p class="tags">
            {% for recipe_tag in recipe["tags"] %}
                {% if recipe_tag != tag %}
                <a href="/recipes/tag/{{ recipe_tag|urlencode }}">
                    <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                    {{ recipe_tag }}
                </a>
                {% endif %}
            {% endfor %}
        </p>
        {% if recipe["last_made"] %}
            <time datetime="{{ recipe["last_made"] }}">
                <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                Last made {{ recipe["last_made"]|dateformat("%B %-d, %Y") }}
            </time>
        {% endif %}
    </div>
</li>
