<li>
    <div>
        <p class="title">
            <a href="/recipes/{{ recipe["id"] }}">
                {{ recipe["title"] }}
            </a>
        </p>

        <p class="tags">
            {% for tag in recipe["tags"] %}
                <a href="/recipes/tag/{{ tag|urlencode }}">
                    <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                    {{ tag }}
                </a>
            {% endfor %}
        </p>
        {% if recipe["last_made"] %}
            <time datetime="{{ recipe["last_made"] }}">
                <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                Last made {{ recipe["last_made"]|dateformat("MMMM D, YYYY") }}
            </time>
        {% endif %}
    </div>
</li>
