{% extends "recipes.jinja.html" %}

{% block content %}
    {{ macros.svgSymbols("new-item", "calendar", "search", "tag") }}

    <main id="collection">
        {% include "recipe-search.jinja.html" %}

        <header id="page-title">
            <h2>
                {% if tag %}
                    <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                    {{ tag|capitalize }} Recipes
                {% endif %}

                {% if query %}
                    <svg class="icon"><use xlink:href="#icon-search"></use></svg>
                    Search Results
                {% endif %}
            </h2>
        </header>


        {% set ns = namespace(recipes_found=False) %}
        <ul>
            {% for recipe in recipes %}
                {% set ns.recipes_found = True %}

                {% include "recipe-listing.jinja.html" %}
            {% endfor %}
        </ul>

        {% if not ns.recipes_found %}
            <p>No recipes found.</p>
        {% endif %}
    </main>

{% endblock %}
