{% extends "apps/recipes/recipes.jinja.html" %}

{% block scripts %}
    {{ macros.asset("js/shortcuts.js") }}
    {{ macros.asset("js/delete.js") }}
{% endblock %}


{% block main_toolbar %}
    <nav id="main-toolbar">
        <a class="cancel" href="{{ cancel_url }}">
            <svg class="icon"><use xlink:href="#icon-x"></use></svg>
            Cancel
        </a>

        {% if recipe_id > 0 %}
            <a class="delete"
               href="#"
               data-delete-url="/recipes/{{ recipe_id }}"
               data-delete-redirect="/recipes"
               data-delete-resource-name="recipe">
                <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                Delete
            </a>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    {{ macros.svgSymbols("arrow-left", "delete", "x", "zap", "calendar", "link", "tag", "file", "filetext") }}

    <main id="editor">
        <form enctype="multipart/form-data" method="post" action="{{ submit_url }}">
            <div class="field">
                <label for="title">Title</label>
                <input
                    type="text"
                    id="title"
                    name="title"
                    value="{{ title|default('', true)|e }}"
                    required
                />
            </div>
            <div class="field-group">
                <div class="field">
                    <label for="tags">
                        <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                        Tags
                    </label>
                    <input
                        type="text"
                        id="tags"
                        name="tags"
                        value="{{ ", ".join(tags)|e }}"
                    />
                </div>
                <div class="field">
                    <label for="url">
                        <svg class="icon"><use xlink:href="#icon-link"></use></svg>
                        URL
                    </label>
                    <input
                        type="text"
                        id="url"
                        name="url"
                        value="{{ url|default('', true)|e }}"
                    />
                </div>
                <div class="field">
                    <label for="created">
                        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                        Created
                    </label>
                    <input
                        type="date"
                        id="created"
                        name="created"
                        placeholder="yyyy-mm-dd"
                        value="{{ created|e }}"
                    />
                </div>
                <div class="field">
                    <label for="last_made">
                        <svg class="icon"><use xlink:href="#icon-zap"></use></svg>
                        Last made
                    </label>
                    <input
                        type="date"
                        id="last_made"
                        name="last_made"
                        placeholder="yyyy-mm-dd"
                        value="{{ last_made|e }}"
                    />
                    <div class="shortcuts">
                        <a href="#" data-field="last_made" data-shortcut="today">
                            Today
                        </a>
                    </div>
                </div>
            </div>

            <div class="field stretch">
                <label for="body">
                    <svg class="icon"><use xlink:href="#icon-filetext"></use></svg>
                    Ingredients, Directions, and Notes
                </label>
                <textarea
                    id="body"
                    name="body"
                >{{ body }}</textarea>
                <div class="shortcuts">
                    <a href="#" data-field="body" data-shortcut="unwrap">
                        Unwrap
                    </a>

                    <a href="#" data-field="body" data-shortcut="markdown-list">
                        Selection to list
                    </a>
                    <a href="#" data-field="body" data-shortcut="spaced-sentences">
                        Spaced sentences
                    </a>
                </div>
            </div>

            <div class="field">
                <label for="attachments_input">
                    <svg class="icon"><use xlink:href="#icon-file"></use></svg>
                    Attachments
                </label>
                <input type="file" id="attachments_input" name="attachments" multiple />
            </div>

            {% include "apps/recipes/recipe-attachments.jinja.html" %}

            <div class="field">
                <button>Save</button>
            </div>

        </form>
    </main>
{% endblock %}
