{% extends "apps/recipes/recipes.jinja.html" %}

{% block scripts %}
    {{ macros.vueApp('main', ('discardable-record', 'discard-button')) }}
    {{ macros.staticAsset('recipes', 'recipes.js') }}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a id="edit-record" href="/recipes/{{ recipe_id }}/edit">
            <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
            Edit
        </a>

        <a id="add-record" href="/recipes/new">
            <svg class="icon"><use xlink:href="#icon-new-item"></use></svg>
            Add
        </a>
    </nav>
{% endblock %}

{% block content %}
    {{ macros.svgSymbols("new-item", "arrow-left", "calendar", "edit", "globe", "tag", "delete") }}

    <main id="recipe" class="{% if ingredients %}with-ingredients{% endif %}">
        <header id="page-title">
            <h2>{{ title }}</h2>

            <ul>
                {% for tag in tags %}
                    <li>
                        <a href="/recipes/tag/{{ tag|urlencode }}">
                            <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                            {{ tag }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </header>

        <section>
            {% if ingredients %}
                <div id="ingredients">{{ ingredients|safe }}</div>
            {% endif %}
            <div id="directions">{{ body|safe }}</div>
        </section>

        {% include "recipe-attachments.jinja.html" %}

        <footer>
            <div>
                {% if last_made %}
                    <time datetime="{{ last_made }}">
                        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                        Last made on {{ last_made|dateformat("MMMM D, YYYY") }}
                    </time>
                {% endif %}

                {% if updated %}
                    <time datetime="{{ updated|localtime }}">
                        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                        Updated on {{ updated|localtime|dateformat("MMMM D, YYYY") }}
                    </time>
                {% else %}
                    <time datetime="{{ added|localtime }}">
                        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                        Added on {{ added|localtime|dateformat("MMMM D, YYYY") }}
                    </time>
                {% endif  %}
            </div>
            {% if url %}
                <div>
                    <a href="{{ url|anonymize }}" target="_blank">
                        <svg class="icon"><use xlink:href="#icon-globe"></use></svg>
                        {{ url_domain }}
                    </a>
                </div>
            {% endif %}
        </footer>
    </main>
{% endblock %}
