{% extends "recipes.jinja.html" %}

{% block scripts %}
    {{ macros.vueApp('main', ('discardable-record', 'discard-button')) }}
    {{ macros.staticAsset('shared', 'js/shortcuts.js') }}
    {{ macros.staticAsset('shared', 'js/delete.js') }}
{% endblock %}


{% block main_toolbar %}
    <nav id="main-toolbar">
        <a class="cancel" href="{{ cancel_url }}">
            <svg class="icon"><use xlink:href="#icon-triangle"></use></svg>
            Cancel
        </a>

        {% if recipe_id > 0 %}
            <a class="delete"
               href="#"
               data-delete-url="/recipes/{{ recipe_id }}"
               data-delete-redirect="/recipes"
               data-delete-resource-name="recipe">
                <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                Delete
            </a>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    {{ macros.svgSymbols("arrow-left", "triangle", "delete") }}

    <main id="editor">
        <form enctype="multipart/form-data" method="post" action="{{ submit_url }}">
            <div class="field">
                <label for="title">Title</label>
                <input
                    type="text"
                    id="title"
                    name="title"
                    value="{{ title|default('', true)|e }}"
                    required
                />
            </div>
            <div class="field-group">
                <div class="field">
                    <label for="tags">Tags</label>
                    <input
                        type="text"
                        id="tags"
                        name="tags"
                        value="{{ ", ".join(tags)|e }}"
                    />
                </div>
                <div class="field">
                    <label for="url">URL</label>
                    <input
                        type="text"
                        id="url"
                        name="url"
                        value="{{ url|default('', true)|e }}"
                    />
                </div>
                <div class="field">
                    <label for="last_made">Created</label>
                    <input
                        type="text"
                        id="created"
                        name="created"
                        placeholder="yyyy-mm-dd"
                        value="{{ created|e }}"
                    />
                </div>
                <div class="field">
                    <label for="last_made">Last made</label>
                    <input
                        type="text"
                        id="last_made"
                        name="last_made"
                        placeholder="yyyy-mm-dd"
                        value="{{ last_made|e }}"
                    />
                </div>
            </div>

            <div class="field stretch">
                <label for="body">Ingredients, Directions, and Notes</label>
                <textarea
                    id="body"
                    name="body"
                >{{ body }}</textarea>
                <div class="shortcuts">
                    <a href="#" data-field="body" data-shortcut="markdown-list">
                        Selection to list
                    </a>
                    <a href="#" data-field="body" data-shortcut="spaced-sentences">
                        Spaced sentences
                    </a>
                </div>
            </div>

            <div class="field">
                <label for="attachments_input">Attachments</label>
                <input type="file" id="attachments_input" name="attachments" multiple />
            </div>

            {% include "recipe-attachments.jinja.html" %}

            <div class="field">
                <button>Save</button>
            </div>

        </form>
    </main>
{% endblock %}
