[Unit]
Description=Timer for Medley database maintenance

[Timer]
OnBootSec=15min
OnUnitActiveSec=1d

# Skip missed runs
Persistent=false

[Install]
WantedBy=timers.target

# Local Variables:
# mode: conf
# End:
