[Unit]
Description=Timer for Medley headlines precache

[Timer]
# Daily at 7:15 AM
OnCalendar=07:15

# Do not skip missed runs
Persistent=true

[Install]
WantedBy=timers.target

# Local Variables:
# mode: conf
# End:
