[Unit]
Description=Timer for Medley bucketpull app

[Timer]
# Hourly between 7:22 AM and 11:22 PM
OnCalendar=07..23:22:00

# Skip missed runs
Persistent=false

[Install]
WantedBy=timers.target

# Local Variables:
# mode: conf
# End:
