[Unit]
Description=Medley database maintenance
OnFailure=medley-failure@%n

[Service]
Type=exec
ExecStart=/usr/bin/curl --user-agent medley-db-maintenance.service --silent --show-error --max-time 30 -d "group=db" "http://127.0.0.1:8085/maintenance"
Restart=no

# Local Variables:
# mode: conf
# End:
