[Unit]
Description=Timer for Medley headlines precache

[Timer]
# Daily at 7:00 AM
OnCalendar=07:00

# Catch up if schedule was missed
Persistent=true

[Install]
WantedBy=timers.target

# Local Variables:
# mode: conf
# End:
