[Unit]
Description=Timer for Medley geodb app

[Timer]
# Second Sunday of the month at 7:16 AM
OnCalendar=Sunday *-*-8..14 07:16:00

# Do not skip missed runs
Persistent=true

[Install]
WantedBy=timers.target

# Local Variables:
# mode: conf
# End:
