[Unit]
Description=Medley Geodb Database Download

[Service]
Type=simple
ExecStart=/usr/bin/curl --user-agent medley-geodb.service --silent --show-error --max-time 30 -d "action=update" "http://127.0.0.1:8085/geodb"
Restart=no

# Local Variables:
# mode: conf
# End:
