[Unit]
Description=Timer for Medley database maintenance

[Timer]
# First Sunday of the month at 7:45 AM
OnCalendar=Sunday *-*-1..7 07:45:00

# Skip missed runs
Persistent=false

[Install]
WantedBy=timers.target

# Local Variables:
# mode: conf
# End:
