{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/topics/static/topics.css" />
{% endblock %}

{% block scripts %}
<script src="/topics/static/topics.js"></script>
{% endblock %}

{% block page_body %}

<main>
    <div class="content-wrapper align-center">
        <p>
            <a href="{{ 'https://www.bing.com'|anonymize }}" rel="noreferrer">Bing.com</a>
        </p>
        <p>
            <a href="{{ 'https://www.bing.com/rewards/dashboard'|anonymize }}" rel="noreferrer">Rewards Dashboard</a>
        </p>
    </div>

    <div class="content-wrapper align-center">
        <button data-count="{{ count }}">Walk topics</button>
    </div>
    <div id="topics" class="content-wrapper align-center">
        {% for topic in topics %}
        <p>
            {{ loop.index }}.
            <a href="https://www.bing.com/search/?q={{ topic|urlencode }}" rel="noreferrer" target="_blank">{{ topic }}</a>
        </p>
        {% endfor %}
    </div>
</main>

{% endblock %}
