{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/topics/topics.css" />
{% endblock %}

{% block scripts %}
<script src="/static/topics/topics.js"></script>
{% endblock %}

{% block page_body %}

<main>
    <div class="content-wrapper centered">
        <button data-count="{{ count }}">Walk topics</button>
        <p><a href="{{ 'https://www.bing.com/rewards/dashboard'|anonymize }}" rel="noreferrer">Rewards Dashboard</a></p>
    </div>

    <div id="topics" class="content-wrapper centered">
        {% for topic in topics %}
        <p>
            {{ loop.index }}.
            <a href="https://www.bing.com/search/?q={{ topic|urlencode }}" rel="noreferrer" target="_blank">{{ topic }}</a>
        </p>
        {% endfor %}
    </div>

    <div class="content-wrapper centered">
        {% if cache_date %}
        <p>Using cached value from {{cache_date}}</p>
        {% else %}
        <p>The URL was not cached.</p>
        {% endif %}
    </div>
</main>

{% endblock %}
