{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% set time_format = "%-I:%M %p" %}

{% block stylesheets %}
    {{ macros.asset("css/weather.css") }}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        {% for latitude, longitude, label in other_locations %}
            {% if label != location_name %}
                <a href="{{ app_url }}/{{ latitude }},{{ longitude }}">
                    <svg class="icon"><use xlink:href="#icon-globe"></use></svg>
                    {{ label }}
                </a>
            {% endif %}
        {% endfor %}
        <a id="edit-record" class="template-edit" href="{{ edit_url }}">
            <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
            Edit
        </a>
    </nav>
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("globe", "edit", "thermometer", "clouds", "sun", "droplet", "wind", "umbrella", "snow", "sunrise") }}

    <main>
        <header id="page-title">
            <h2>
                {{ location_name }}
                as of
                {{ forecast.currently.dt|date(local=True)|dateformat(time_format) }}
            </h2>

        </header>

        <p>
            {{ forecast.currently.weather_description }},
            {{ forecast.currently.temp|round|int }}° F
            {% if (forecast.currently.feels_like - forecast.currently.temp)|abs > 2 %}
                Feels like {{ forecast.currently.feels_like|round|int }}° F.
            {% endif %}
        </p>

        <div class="cards">
            <div class="card">
                <svg class="icon"><use xlink:href="#icon-thermometer"/></svg>
                <div>
                    <p>Low of {{ forecast.today.temp.min|round|int }}° F</p>
                    <p>High of {{ forecast.today.temp.max|round|int }}° F</p>

                </div>
            </div>

            {% if "rain" in forecast.currently.weather_groups %}
                <div class="card">
                    <svg class="icon"><use xlink:href="#icon-umbrella"/></svg>
                    <div>
                        {{ forecast.currently.rain.get("1h") }} mm in past hour
                    </div>
                </div>
            {% endif %}

            {% if "snow" in forecast.currently.weather_groups %}
                <div class="card">
                    <svg class="icon"><use xlink:href="#icon-snow"/></svg>
                    <div>
                        {{ forecast.currently.snow.get("1h") }} mm in past hour
                    </div>
                </div>
            {% endif %}

            <div class="card">
                <svg class="icon"><use xlink:href="#icon-clouds"/></svg>
                <div>
                    <p>
                        {{ forecast.currently.clouds|percentage }} cloudy
                    </p>
                </div>
            </div>

            <div class="card">
                <svg class="icon"><use xlink:href="#icon-sun"/></svg>
                <div>
                    <p>
                        UV Index {{ forecast.currently.uvi }}
                    </p>
                </div>
            </div>

            <div class="card">
                <svg class="icon"><use xlink:href="#icon-droplet"/></svg>
                <div>
                    <p>
                        {{ forecast.currently.humidity|percentage }} humidity
                    </p>
                </div>
            </div>

            <div class="card">
                <svg class="icon"><use xlink:href="#icon-wind"/></svg>
                <div>
                    <p>
                        {{ forecast.currently.wind_speed|round|int }} mph winds
                    </p>

                    {% if forecast.currently.wind_gust %}
                        <p>
                            Gusting to {{ forecast.currently.wind_gust }} mph
                        </p>
                    {% endif %}
                    </p>
                </div>
            </div>

            <div class="card">
                <svg class="icon"><use xlink:href="#icon-sunrise"/></svg>
                <div>
                    <p>{{ forecast.today.sunrise|date(local=True)|dateformat(time_format) }} sunrise</p>
                    <p>{{ forecast.today.sunset|date(local=True)|dateformat(time_format) }} sunset</p>
                </div>
            </div>
        </div>

        <div class="panels">
            <div>
                {% if forecast.hourly %}
                    <h2>Today</h2>

                    <table>
                        <colgroup>
                            <col/>
                            <col/>
                            <col width="100%"/>
                        </colgroup>
                        {% for record in forecast.hourly %}
                        <tr>
                            <th>{{ record.dt|date(local=True)|dateformat(time_format) }}</th>
                            <td nowrap>{{ record.temp|round|int }}° F</td>
                            <td>
                                <p>
                                    {% for group in record.weather %}
                                        {{ group.description|capitalize }}.
                                    {% endfor %}
                                </p>

                                <p>{{ record.get("pop")|percentage }} chance of precipitation.</p>
                            </td>
                        </tr>
                        {% endfor %}
                </table>
                {% endif %}
            </div>
            <div>
                {% if forecast.hourly_tomorrow %}
                    <h2>Tomorrow Morning</h2>

                    <table>
                        <colgroup>
                            <col/>
                            <col/>
                            <col width="100%"/>
                        </colgroup>
                        {% for record in forecast.hourly_tomorrow %}
                            <tr>
                                <th>{{ record.dt|date(local=True)|dateformat(time_format) }}</th>
                                <td nowrap>{{ record.temp|round|int }}° F</td>
                                <td>
                                    <p>
                                        {% for group in record.weather %}
                                            {{ group.description|capitalize }}.
                                        {% endfor %}
                                    </p>

                                    <p>{{ record.get("pop")|percentage }} chance of precipitation.</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div>
                {% if forecast.upcoming %}
                    <h2>Coming Up</h2>
                    <table>
                        <colgroup>
                            <col/>
                            <col/>
                            <col width="100%" />
                        </colgroup>

                        {% for day in forecast.upcoming %}
                            <tr>
                                <th>{{ day.dt|date(local=True)|dateformat("%A") }}</th>
                                <td nowrap>{{ day.temp.max|round|int }}° F</td>
                                <td>
                                    <p>
                                        {% for group in day.weather %}
                                            {{ group.description|capitalize }}.
                                        {% endfor %}
                                    </p>

                                    <p>{{ day.get("pop")|percentage }} chance of precipitation.</p>

                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
