{% extends "base.jinja.html" %}

{% block page_body %}
    <main>
        {% for label, forecast in forecasts.items() %}

            <h1>
                {{ label }}
                {% if forecast.time %}
                    at {{ forecast.time|dateformat('LT') }}
                {% endif %}
            </h1>

            <p>
                {{ forecast.current_temperature }}° F
                as of {{ forecast.current_time|dateformat('LT') }}.
                {{ forecast.current_summary|capitalize }}.
            </p>


            {% if "alerts" in forecast %}
                {{ forecast.alerts }}
            {% endif %}


            <p>{{ forecast.summary }}</p>

            {% if forecast.precip_prob == 0 %}
                <p>No chance of rain.</p>
            {% else %}
                <p>
                    {{ forecast.precip_prob|percentage }} chance
                    of {{ forecast.precip_type or 'rain' }}
                </p>
            {% endif %}


            {% if forecast.high %}
                <p>High of {{ forecast.high }}° F at {{ forecast.high_at|dateformat('LT') }}.</p>
            {% endif %}

            {% if forecast.low %}
                <p>Low of {{ forecast.low }}° F at {{ forecast.low_at|dateformat('LT') }}.</p>
            {% endif %}


            <p>{{ forecast.humidity|percentage }} humidity.</p>

            {% if forecast.sunrise %}
                <p>Sunrise at {{ forecast.sunrise|dateformat('LT') }}</p>
            {% endif %}

            {% if forecast.sunset %}
                <p>Sunset at {{ forecast.sunset|dateformat('LT') }}</p>
            {% endif %}

            <h2>Hourly</h2>

            {% if forecast.hourly %}
                <table>
                    <colgroup>
                        <col>
                        <col width="100%">
                    </colgroup>

                    {% for record in forecast.hourly %}
                        <tr>
                            <th>{{ record.time|dateformat('LT') }}</th>
                            <td>
                                {{ record.temperature|round|int }}° F
                                {{ record.summary }},
                                {% if record.temperature != record.apparentTemperature %}
                                    but will feel like {{ record.apparentTemperature }}
                                {% endif %}
                                {% if record.humidity %}
                                    {{ record.humidity|percentage }} humidity.
                                {% endif %}
                                {% if record.windSpeed %}
                                    Wind {{ record.windSpeed }} mph.
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

        {% endfor %}

        <p>
            <a href="https://darksky.net/poweredby/" target="_blank" rel="noopener noreferrer">Powered by Dark Sky</a>
        </p>
    </main>
{% endblock %}
