{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block app_icon -%}
    {{ macros.appSpecificIcon(app_url) }}
{%- endblock %}

{% block page_body %}
    <main>
        {% for label, forecast in forecasts.items() %}

            <h1>{{ label }} Weather</h1>

            <p>
                {{ forecast.current_summary|capitalize }},
                {{ forecast.current_temperature }}° F
                as of {{ forecast.current_time|dateformat('LT') }}.
            </p>

            {% if "alerts" in forecast %}
                {{ forecast.alerts }}
            {% endif %}

            <p>{{ forecast.summary }}</p>

            {% if forecast.high %}
                <p>High of {{ forecast.high }}° F at {{ forecast.high_at|dateformat('LT') }}.</p>
            {% endif %}

            {% if forecast.low %}
                <p>Low of {{ forecast.low }}° F at {{ forecast.low_at|dateformat('LT') }}.</p>
            {% endif %}

            <p>{{ forecast.humidity|percentage }} humidity.</p>

            {% if forecast.sunrise %}
                <p>Sunrise at {{ forecast.sunrise|dateformat('LT') }}</p>
            {% endif %}

            {% if forecast.sunset %}
                <p>Sunset at {{ forecast.sunset|dateformat('LT') }}</p>
            {% endif %}

            {% if forecast.upcoming %}
                <h2>Upcoming</h2>
                <table>
                    {% for forecast in forecast.upcoming %}
                        <tr>
                            <th>{{ forecast.time|dateformat('dddd') }}</th>
                            <td>
                                {{ forecast.summary }}

                            </td>
                            <td>
                                {% if forecast.high %}
                                    High of {{ forecast.high }}° F at {{ forecast.high_at|dateformat('LT') }}.
                                {% endif %}
                            </td>
                            <td>
                            {% if forecast.low %}
                                Low of {{ forecast.low }}° F at {{ forecast.low_at|dateformat('LT') }}.
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if forecast.hourly %}
                <h2>Today</h2>
                <table>
                    <colgroup>
                        <col>
                        <col width="100%">
                    </colgroup>

                    {% for record in forecast.hourly %}
                        <tr>
                            <th>{{ record.time|dateformat('LT') }}</th>
                            <td>
                                {{ record.summary }},
                                {{ record.temperature|round|int }}° F
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endfor %}

        <p>
            <a href="https://darksky.net/poweredby/" target="_blank" rel="noopener noreferrer">Powered by Dark Sky</a>
        </p>
    </main>
{% endblock %}
