[Unit]
Description=Medley headlines precache
OnFailure=medley-failure@%n

[Service]
Type=exec
ExecStart=/usr/bin/curl --user-agent medley-headlines.service --silent --show-error "http://127.0.0.1:8085/headlines"
StandardOutput=null
Restart=no
