[Unit]
Description=Timer for Medley filesystem maintenance

[Timer]
# Daily at 5:03 AM
OnCalendar=05:03

# Don't catch up on missed runs
Persistent=false

[Install]
WantedBy=timers.target
