[Unit]
Description=Medley filesystem maintenance
OnFailure=medley-failure@%n

[Service]
Type=exec
ExecStart=/usr/bin/curl --user-agent medley-fs-maintenance.service --silent --show-error -d "group=filesystem" "http://127.0.0.1:8085/maintenance"
Restart=no
