[Unit]
Description=Medley Geodb Database Download
After=medley
Requires=medley
OnFailure=medley-failure@%n

[Service]
Type=simple
ExecStart=/usr/bin/curl --user-agent medley-geodb.service --silent --show-error -d "action=update" "http://127.0.0.1:8085/geodb"
Restart=no
