[Unit]
Description=Medley

After=network.target

# Keep trying to restart forever, do not rate limit.
StartLimitIntervalSec=0

[Service]
User=medley
Group=medley
WorkingDirectory=/srv/medley

ExecStart=/srv/medley/venv/bin/python medley.py

Type=simple

# Try to restart automatically in case of trouble.
Restart=on-abnormal

# How long to wait before attempting a restart. Defaults to 100ms.
RestartSec=1m


[Install]
WantedBy=multi-user.target
