[Unit]
Description=Timer for Medley database maintenance

[Timer]
# Daily at 6:03 AM
OnCalendar=06:03

# Don't catch up on missed runs
Persistent=false

[Install]
WantedBy=timers.target
