[Unit]
Description=Timer for Medley geodb app

[Timer]
# Second Monday of the month at 1 AM
OnCalendar=Monday *-*-8..14 01:00:00

[Install]
WantedBy=timers.target
