{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.asset("css/bounce.css") }}
{% endblock %}

{% block main_toolbar %}
    {% if registry_url %}
    <nav id="main-toolbar">
        <a id="edit-record" href="{{ registry_url }}">
            <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
            Edit
        </a>
    </nav>
    {% endif %}
{% endblock %}

{% block app_message %}
    {% if error == "group" %}
        <div id="app-message" class="error">Invalid group.</div>
    {% elif error == "name" %}
        <div id="app-message" class="error">Invalid name.</div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("edit") }}

    <main>
        {% if not bounces %}
            <form method="post" action="/bounce">
                <div class="field">
                    <label for="url">URL</label>
                    <input required type="text" id="url" name="url" value="{{ url }}"/>
                </div>
                <div class="field-group">
                    <div class="field">
                        <label for="name">Site Name</label>
                        <input required type="text" id="name" name="name" value="{{ name }}"/>
                    </div>

                    <div class="field">
                        <label for="group">Group</label>
                        <input required type="text" id="group" name="group" value="{{ group }}"/>
                    </div>
                </div>

                <div class="field">
                    <button data-default="Add" data-alt="Please wait">Add</button>
                </div>
            </form>
        {% endif %}

        {% if bounces %}
            {% for url in bounces %}
                <p class="destination">
                    <a class="numeric-shortcut"
                       data-numeric-shortcut="{{ loop.index }}"
                       href="{{ url.anonymized }}"
                    >
                        <span>{{ loop.index }}</span>
                        {{ url.text }} @  {{ url.address|truncate(100) }}
                    </a>
                </p>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}
