{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('bounce', 'bounce.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.vueApp('main', ('shortcut-link', '/bounce/static/bounce.js')) }}
{% endblock %}

{% block page_body %}

    <main>
        {% if not bounces %}
            <bounce-form
                inline-template
                endpoint="/bounce"
                url="{{ departing_url|default('', true)|e }}"
                site="{{ site|default('', true)|e }}"
                group="{{ group|default('', true)|e }}"
                name="{{ name|default('', true)|e }}"
            >
                <form v-on:submit.prevent="submit" method="post" action="/bounce">
                    <div v-if="errorMessage" v-text="errorMessage" class="error message"></div>
                    <div v-if="successMessage" v-text="successMessage" class="success message"></div>

                    <div class="field-group">
                        <div class="field">
                            <label for="title">Group</label>
                            <input v-model="group" required type="text" id="group" name="group" value="{{ group|default('', true)|e }}"/>
                        </div>
                        <div class="field">
                            <label for="title">Site Name</label>
                            <input v-model="name" required type="text" id="name" name="name" value="{{ name|default('', true)|e }}"/>
                        </div>
                        <div class="field">
                            <label for="title">Site</label>
                            <input v-model="site" required type="text" id="site" name="site" value="{{ site|default('', true)|e }}"/>
                        </div>
                    </div>

                    <div class="field">
                        <button data-default="Add" data-alt="Please wait">Add</button>
                    </div>
                </form>
            </bounce-form>
        {% endif %}

        {% if bounces %}
            {% for id, values in bounces.items() %}
                <p class="destination">
                    <shortcut-link
                        v-bind:index="{{ loop.index }}"
                        url="{{ values[0]|anonymize }}"
                        label="{{ values[1] }} @ {{ values[0]|truncate(100) }}"
                    />
                </p>
            {% endfor %}

            {% if registry_url %}
                <p><a href="{{ registry_url }}" target="_blank">Edit</a></p>
            {% endif %}
        {% endif %}
    </main>
{% endblock %}
