{% extends "base.html" %}

{% block scripts %}
<script src="/static/bounce/bounce.js"></script>
{% endblock %}

{% block page_body %}

<main>
    <div class="content-wrapper">
        <div class="bookmarklet-container">
            <p>Bookmarklet:
            <a href="javascript:e=encodeURIComponent;void(window.location.href='{{ app_url }}/bounce?u=' + e(location.href))" rel="noreferrer">bounce</a></p>
        </div>


        <form id="insert-form" method="post" action="/bounce">
            {% if bounceless_domain %}
            <p class="error message">No bounces found for {{ bounceless_domain }}</p>
            {% elif not bounces %}
            <p class="error message">No bounces defined.</p>
            {% else %}
            <div class="hidden error message"></div>
            {% endif %}

            <div class="hidden success message">Success!</div>

            <div class="field-group">
                <div class="field">
                    <label for="title">Source</label>
                    <input type="text" id="source" name="source" value="{{ source|default('', true)|e }}"/>
                </div>
                <div class="field">
                    <label for="title">Destination</label>
                    <input type="text" id="destination" name="destination" value=""/>
                </div>
            </div>

            <div class="field">
                <button data-default="Add" data-alt="Please wait">Add</button>
            </div>
        </form>


        {% if bounces %}
        <div class="table-wrapper">
            <table id="bounces" class="key-value">
                <thead>
                    <tr>
                        <td>Source</td>
                        <td>Destination</td>
                        <td align="right">Remove</td>
                    </tr>
                </thead>
                <tbody>
                    {% for bounce in bounces %}
                    <tr>
                        <td><a href="http://{{ bounce.key }}" rel="noreferer noopener">{{ bounce.key }}</a></td>
                        <td><a href="http://{{ bounce.value }}" rel="noreferer noopener">{{ bounce.value }}</a></td>
                        <td align="right">
                            <a href="#" data-uid="{{ bounce.rowid }}" class="delete" title="Delete entry" rel="noreferrer">
                                <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="content-wrapper">
    </div>
</main>
{% endblock %}
