.module-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 3em;
}

.module-grid-title {
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}

.module-grid .module {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: .5em;
    margin: 1em;
    width: 40%;
    text-decoration: none;
    color: inherit;
    font-size: .85em;
    background-color: #fff;
}

.module-grid .module:focus {
    background-color: #56904e;
    color: white;
}

.module-grid .focus-candidate {
    background-color: #e8f7cc;
}

.module-grid H2 {
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

.module-grid P {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .module-grid .module {
        width: 100%;
        margin: .5em;
    }
}