BODY {
    font-family: 'Lato', sans-serif;
    background-color: #efefef;
}

TABLE {
    min-width: 100%;
    margin: auto;
    background-color: white;
    border: 1px solid #ccc;
    font-size: .85em;
    border-collapse: collapse;
}

TABLE TR {
    border-bottom: 1px solid rgba(0, 0, 0, .03);
}

TABLE TR:last-child {
    border-bottom: none;
}

TABLE TH {
    font-weight: bold;
    padding: .75em;
    white-space: nowrap;
    text-align: left;
    background-color: rgba(0, 0, 0, .03);
}

TABLE TD {
    padding: .75em;
    background-color: #fff;
}

TABLE.key-value TH {
    text-align: right;
}

.pagination {
    margin: auto;
    text-align: center;
    height: 2em;
}

.pagination .next {
    padding: 0 1em;
}

.pagination .previous {
    padding: 0 1em;
}

.icon {
    width: 1em;
    height: 1em;
    fill: #333;
    vertical-align: middle;
    padding-right: .5em;
}

.half-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.third-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

.quarter-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.two-third-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 66%;
}

.middle-column {
    padding: 0 1em;
}

.svg-defs {
    display: none;
}

#shortcuts {
    display: none;
}

.content-wrapper {
    width: 75%;
    margin: auto;
}

.centered {
    text-align: center;
}

DT {
    font-weight: bold;
    margin-left: 0;
}

DD {
    margin-left: 0;
    margin-bottom: 1em;
}

.focus-candidate .header {
    background-color: green;
}

CODE {
    word-break: break-all;
    white-space: pre-line;
}

HEADER .ui.header {
    margin-bottom: 0;
}

.ui.form TEXTAREA {
    height: 2em;
}

#page-header {
    background-color: #3366cc;
    color: white;
    padding: 1em;
    border-bottom: 2px solid #666;
    margin-bottom: 1em;
}

#page-header .home {
    float: right;
    text-decoration: none;
    padding-right: .5em;
}

#page-header .icon {
    fill: #fff;
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

#page-header H1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-weight: normal;
}

#page-header A {
    color: black;
    text-decoration: none;
}

#page-header A:hover {
    text-decoration: underline;
}

#page-header P {
    margin: 0;
}

.smaller {
    font-size: .85em;
}

.hidden {
    display: none;
}

.help:hover {
    cursor: help;
}

.shortcuts {
    padding: 1em 0;
    font-size: .85em;
    text-align: right;
}

.shortcuts A {
    margin-left: 1em;
}

.field {
    padding-bottom: 1em;
}

.field LABEL {
    display: block;
    margin: .25em 0;
}

.field .inline {
    display: inline-block;
    padding-right: 1em;
}

.field INPUT[type=text], .field TEXTAREA {
    border: 1px solid #ccc;
    padding: .5em;
    width: 100%;
}

.field TEXTAREA {
    height: 5em;
}

.message {
    margin-bottom: 1em;
    padding: 1em;
}

.error {
    background-color: #B03C25;
    color: white;
}

.success {
    background-color: #90EE90;
    padding: .5em;
}



BUTTON {
    border-radius: .25em;
    border: 1px solid #333;
    color: #fff;
    background-color: green;
    padding: .5em 2em;
}

BUTTON:hover {
    background-color: forestGreen;
}


BUTTON[disabled] {
    background-color: #ccc;
    border: #efefef;
    color: #efefef;
}

BUTTON.small {
    font-size: .85em;
    padding: .5em;
}


/* Use the same focus state for text inputs and texteareas as for buttons */
.ui.form TEXTAREA:focus, .ui.form INPUT[type=text]:focus {
    box-shadow: 0 0 0 1px transparent inset,0 0 1px rgba(81,167,232,.8) inset,0 0 3px 2px rgba(81,167,232,.8);
}

/* Use the default selection style */
::-webkit-selection {
    background-color: blanchedalmond;
}

::-moz-selection {
    background-color: blanchedalmond;
}

::selection {
    background-color: blanchedalmond;
}

.ui.button.focal {
    margin: 2em 0;
}

.ui.table .wordwrap {
    word-wrap: break-word;
}

.ui.table TD {
    vertical-align: top;
}

.ui.table .right {
    text-align: right;
}

.horizontal.linkset A {
    margin-left: 2em;
}

.sleeve {
    max-width: 100%;
    overflow-x: auto;
}

@media only screen and (min-width: 40.063em) {
    .sleeve {
        min-width: auto;
        overflow-x: inherit;
    }
}

.nudge-right {
    padding-left: 1em;
}

.strikeout {
    text-decoration: line-through;
}

.flag {
    color: #ccc;
}

.calc-delta.active .icon {
    color: green;
}