HTML, BODY {
    height: 100%;
}

BODY {
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
}

TH {
    vertical-align: top;
}

TD {
    vertical-align: top;
    word-break: break-word;
}

HEADER {
    background-color: #efefef;
    padding: 1em;
    border-bottom: 2px solid #666;
}

HEADER A {
    color: black;
    text-decoration: none;
}

HEADER A:hover {
    text-decoration: underline;
}


HEADER H1 {
    font-weight: normal;
    margin: 0;
}

HEADER P {
    margin: 0;
}

HEADER .supplemental {
    margin-right: 1em;
    display: inline;
}

.ui.table.topalign TD,
.ui.table.topalign TH {
    vertical-align: top;
}


.ui.segment.map {
    padding: .5em;
}

INPUT[type=submit] {
    padding: 0 1em;
    font-size: 4em;
}

.field SELECT {
    font-size: 1em;
}

.ui.focusable.blue.button:focus {
    background-color: green;
}

.results {
    margin-top: 2em;
    padding: 2em 1em;
    background-color: #f5f5f5;
}

.svg-arrow {
    display: block;
    float: left;
    margin-right: .5em;
    margin-top: .25em;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2em;
    height: 2em;
    background-size: 100%;
    text-indent: -9999px;
}

.svg-arrow.back {
    background-image: url('../arrow-left.svg');
}

.svg-arrow.home {
    background-image: url('../arrow-up.svg');
}

.recent-calls LI TIME {
    display: block;
}

.recent-calls LI DIV {
    font-size: .75em;
}