HTML, BODY {
    height: 100%;
}

BODY {
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
}

TH {
    vertical-align: top;
}

TD {
    vertical-align: top;
    word-break: break-word;
}

HEADER {
    background-color: #efefef;
    padding: 1em;
    border-bottom: 2px solid #666;
}

HEADER H1 {
    font-weight: normal;
    margin: 0 0 .5em 0;
}

.next-action {
    float: right;
}

.ui.table.topalign TD,
.ui.table.topalign TH {
    vertical-align: top;
}