{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.asset("css/alturl.css") }}
{% endblock %}

{% block scripts %}
    {{ macros.asset("js/delete.js") }}
    {{ macros.asset("js/alturl.js") }}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("new-item", "globe", "arrow-left", "arrow-right", "arrow-up", "calendar", "clock", "link", "bookmark", "delete", "comment", "user", "duplicate", "tag") }}

    <main>
        {% block content %}
            <header id="app-nav">
                <form method="post" action="{{ app_url }}">
                    <div class="field">
                        <input
                            autocapitalize="none"
                            autocomplete="off"
                            id="url"
                            name="url"
                            placeholder="URL"
                            type="search"
                            value="{{ url }}"
                        />
                    </div>
                    <div class="field">
                        <button>Visit</button>
                    </div>
                </form>
            </header>

            {% if unrecognized %}
                <p>That URL isn't supported here.</p>
            {% endif %}

            <header id="page-title">
                <h2>Bookmarks</h2>
            </header>

            <div id="collection">
                <ul>
                    {% for bookmark in bookmarks %}
                        <li>
                            <div class="actions">
                                {{ macros.deleteButton("/registry/" ~ bookmark.id, "li", "Delete this bookmark") }}
                            </div>
                            <a href="{{ bookmark.alt }}">{{ bookmark.schemeless_address }}</a>
                        </li>
                    {% endfor %}

                    {% if not bookmarks %}
                        <p>No URLs have been bookmarked yet.</p>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}
    </main>

{% endblock %}
