{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('alturl', 'alturl.css') }}
{% endblock %}


{% block scripts %}
    {{ macros.vueApp('main', ('discardable-record', 'discard-button')) }}
    {{ macros.staticAsset('alturl', 'alturl.js') }}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("new-item", "globe", "arrow-left", "calendar", "info", "link", "bookmark", "delete") }}

    <main>
        {% block content %}
            <header id="app-nav">
                <form method="post" action="{{ app_url }}">
                    <div class="field">
                        <input
                            type="search"
                            id="url"
                            name="url"
                            value="{{ url }}"
                            autocapitalize="none"
                            autocomplete="off"
                            placeholder="URL"
                        />
                    </div>
                    <div class="field">
                        <button>Visit</button>
                    </div>
                </form>
            </header>

            {% if unrecognized %}
                <p>That URL isn't supported here.</p>
            {% endif %}

            <header id="page-title">
                <h2>Bookmarks</h2>
            </header>

            {% set ns = namespace(bookmarks_found=False) %}

            <div id="collection">
                <ul>
                    {% for (id, bookmark_url, alt_url) in bookmarks %}
                        {% set ns.recipes_found = True %}
                        <discardable-record inline-template url="/registry?uid={{ id }}">
                            <li v-bind:style="styles">
                                <div class="actions"><discard-button tooltip="Delete this bookmark" /></div>
                                <a href="{{ alt_url }}">{{ bookmark_url }}</a>
                            </li>
                        </discardable-record>
                    {% endfor %}

                    {% if not ns.recipes_found %}
                        <p>No URLs have been bookmarked yet.</p>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}
    </main>

{% endblock %}
