{% extends "apps/alturl/alturl.jinja.html" %}

{% block main_toolbar %}
{% endblock %}

{% block content %}
    <header id="page-title">
        <h2>{{ feed_title }}</h2>
    </header>

    {% if not active_bookmark %}
        <a id="remove-bookmark" href="#" data-bookmark-id="{{ bookmark_id }}" {% if bookmark_id == 0 %}hidden{% endif %}>
            <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
            Remove bookmark
        </a>

        <a id="add-bookmark" href="#" data-url="{{ url.address }}" {% if bookmark_id > 0 %}hidden{% endif %}>
            <svg class="icon"><use xlink:href="#icon-new-item"></use></svg>
            Bookmark
        </a>
    {% endif %}

    <div id="collection">
        <ul>
            {% for story in stories %}
                <li class="headline {% if story.created|is_today %}today{% endif %}">
                    <h2 class="title">
                        <a href="{{ story.link.anonymized }}" target="_blank" rel="noopener noreferrer">
                            {{ story.title|safe|truncate(100) }}
                        </a>
                    </h2>
                    <time class="info">
                        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                        {{ story.created|relative_datetime }}
                    </time>
                    {% if story.comments.address %}
                    <span class="info">
                        <svg class="icon"><use xlink:href="#icon-link"></use></svg>
                        <a href="{{ story.comments.anonymized }}" target="_blank" rel="noopener noreferrer">
                            comments
                        </a>
                    </span>
                    {% endif %}

                    <div>
                        <span class="info">
                            <svg class="icon"><use xlink:href="#icon-globe"></use></svg>
                            {{ story.link.domain }}
                        </span>

                        {% for tag in story.tags %}
                            <span class="info">
                                <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                                {{ tag }}
                            </span>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
