{% extends "apps/alturl/alturl.jinja.html" %}

{% block main_toolbar %}
{% endblock %}

{% block content %}
    <header id="page-title">
        <h2>{{ feed_title }}</h2>
    </header>

    {% if not active_bookmark %}
        <p>
            <a id="add-record" href="#" data-url="{{ url.address }}">
                <svg class="icon"><use xlink:href="#icon-new-item"></use></svg>
                Bookmark
            </a>
        </p>
    {% endif %}

    <div id="collection">
        <ul>
            {% for story in stories %}
                {% set is_today = story.created|is_today %}
                {% set is_yesterday = story.created|is_yesterday %}
                <li class="headline {% if is_today %}today{% endif %}">
                    <h2 class="title">
                        <a href="{{ story.link.anonymized }}" target="_blank" rel="noopener noreferrer">
                            {{ story.title|safe|truncate(100) }}
                        </a>
                    </h2>
                    <time class="info">

                        {% if is_today %}
                            <svg class="icon"><use xlink:href="#icon-clock"></use></svg>
                            {{ story.created|dateformat("%-I:%M %p") }}
                        {% elif is_yesterday %}
                            <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                            yesterday at {{ story.created|dateformat("%-I:%M %p") }}
                        {% else %}
                            <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                            {{ story.created|dateformat("%Y-%m-%d %-I:%M %p") }}
                        {% endif %}
                    </time>
                    {% if story.comments.address %}
                    <span class="info">
                        <svg class="icon"><use xlink:href="#icon-link"></use></svg>
                        <a href="{{ story.comments.anonymized }}" target="_blank" rel="noopener noreferrer">
                            comments
                        </a>
                    </span>
                    {% endif %}

                    <div>
                        <span class="info">
                            <svg class="icon"><use xlink:href="#icon-globe"></use></svg>
                            {{ story.link.domain }}
                        </span>

                        {% for tag in story.tags %}
                            <span class="info">
                                <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                                {{ tag }}
                            </span>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
