{% extends "apps/alturl/alturl.jinja.html" %}

{% block main_toolbar %}
{% endblock %}

{% block content %}
    <header id="page-title">
        <h2>{{ url.display_domain }}</h2>
    </header>

    <header id="app-nav">
        <form method="post" action="{{ app_url }}">
            <input type="hidden" name="url" value="{{ url.address }}" />
            <div class="field">
                <input
                    autocapitalize="none"
                    autocomplete="off"
                    id="q"
                    name="q"
                    placeholder="Search terms"
                    type="search"
                    value="{{ q }}"
                />
            </div>
            <div class="field">
                <button>Search</button>
            </div>
        </form>
    </header>

    {% if not is_bookmarked %}
        <p>
            <a id="add-record" href="#" data-url="{{ url.address }}">
                <svg class="icon"><use xlink:href="#icon-new-item"></use></svg>
                Bookmark
            </a>
        </p>
    {% endif %}

    <div id="collection">
        <ul>
            {% for story in stories %}
                <li class="headline {% if story.created_utc|is_today %}today{% endif %}">
                    <h2 class="title">
                        {% if story.num_comments == 0 and not story.selftext %}
                            {{ story.title|safe|truncate(100) }}
                        {% else %}
                            <a href="{{ story.permalink.alt }}">
                                {{ story.title|safe|truncate(100) }}
                            </a>
                        {% endif %}
                    </h2>
                    <time class="info">
                        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                        {{ story.created_utc|relative_datetime }}
                    </time>

                    {# Internally link to the subreddit when not viewing the Reddit homepage. #}
                    {% if "r/" not in url.display_domain %}
                        <span class="info">
                            <svg class="icon"><use xlink:href="#icon-link"></use></svg>
                            <a href="{{ story.subreddit.alt }}">
                                {{ story.subreddit.text }}
                            </a>
                        </span>
                    {% endif %}

                    {# Externally link to the story URL if not a self-post. #}
                    {% if "self." not in story.domain %}
                        <span class="info">
                            <svg class="icon"><use xlink:href="#icon-link"></use></svg>
                            <a target="_blank" rel="noopeneer noreferrer" href="{{ story.url.anonymized }}">{{ story.domain }}</a>
                        </span>
                    {% endif %}

                    <span class="info">
                        <svg class="icon"><use xlink:href="#icon-comment"></use></svg>
                        {{ story.num_comments|pluralize('comment', 'comments') }}
                    </span>
                </li>

            {% endfor %}
        </ul>

        <footer class="pagination">
            {% if before_url %}
                <a href="{{ before_url }}" class="previous">
                    <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
                    Previous
                </a>
            {% endif %}

            {% if after_url %}
                <a href="{{ after_url }}" class="next">
                    Next
                    <svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg>
                </a>
            {% endif %}
        </footer>
    </div>

{% endblock %}
