{% extends "apps/alturl/alturl.jinja.html" %}

{% set default_date_format = "%Y-%m-%d %-I:%M %p" %}

{% macro commentBlock(comment) %}
    {% if comment.author %}
        <details id="t1_{{ comment.id }}" open class="comment {% if comment.author == story.author %}from-author{% endif %}">
            <summary>
                <time>{{ comment.created_utc|date(local=True)|dateformat(default_date_format) }}</time>
                by
                <a rel="noopeneer noreferrer" href="{{ app_url }}/reddit.com/u/{{ comment.author|lower }}">
                    {% if comment.author == story.author %}
                        <svg class="icon"><use xlink:href="#icon-user"></use></svg>
                    {% endif %}
                    {{ comment.author }}
                </a>

                {% if comment.parent_id.startswith("t1") %}
                    <a class="jump" href="#{{ comment.parent_id }}">
                        <svg class="icon"><use xlink:href="#icon-arrow-up"></use></svg>
                        parent
                    </a>
                {% endif %}

            </summary>
            <div class="body">
                {{ comment.body_html|unescape|better_html|retarget_html|safe }}
            </div>
            {% if comment.replies %}
                {% for reply in comment.replies.data.children %}
                    {{ commentBlock(reply.data) }}
                {% endfor %}
            {% endif %}
        </details>

    {%- endif -%}
{%- endmacro -%}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a href="{{ subreddit_alturl }}">
            <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
            r/{{ subreddit }}
        </a>
    </nav>
{% endblock %}

{% block content %}
    <div class="intro">
        <h2 class="title" v-pre>{{ story.title|safe }}</h2>

        <time class="info">
            <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
            {{ story.created_utc|date(local=True)|dateformat(default_date_format) }}
        </time>

        {% if story.num_comments > 0 %}
            <span class="info">
                <svg class="icon"><use xlink:href="#icon-comment"></use></svg>
                {{ story.num_comments|pluralize("comment", "comments") }}
            </span>
        {% endif %}

        <a class="info" rel="noopeneer noreferrer" href="{{ app_url }}/reddit.com/u/{{ story.author|lower }}">
            <svg class="icon"><use xlink:href="#icon-user"></use></svg>
            {{ story.author }}
        </a>

        <a class="info" target="_blank" rel="noopeneer noreferrer" href="{{ story.url.anonymized }}">
            <svg class="icon"><use xlink:href="#icon-globe"></use></svg>
            {% if "self." not in story.domain %}
                {{ story.domain }}
            {% else %}
                original
            {% endif %}
        </a>

        {% for subreddit, url in crossposts %}
            <a class="info" href="{{ url }}">
                <svg class="icon"><use xlink:href="#icon-duplicate"></use></svg>
                {{ subreddit }} crosspost
            </a>
        {% endfor %}

        {% if intro %}
            {{ intro|better_html|unescape|retarget_html|safe }}
        {% endif %}

    </div>

    <div id="comments">
        {% set ns = namespace(comment_count=0) %}

        {% for comment in comments %}
            {% set ns.comment_count = ns.comment_count + 1 %}
            {{ commentBlock(comment) }}
        {% endfor %}

        {% if ns.comment_count == 0 %}
            <p><em>No comments.</em></p>
        {% endif %}
    </div>
{% endblock %}
