{% extends "alturl.jinja.html" %}

{% macro commentBlock(comment) %}
    {% if comment.author %}

    <details open class="comment">
        <summary>
            <time>{{ comment.created_utc|localtime|dateformat('YYYY-MM-DD h:MM A') }}</time>
            by {{ comment.author }}

            {%- if comment.replies -%} ,
                {{ comment.replies|length|pluralize('reply', 'replies') }}
            {%- endif -%}
        </summary>
        <div class="body">
            {{ comment.body_html|unescape }}
        </div>
        {% if comment.replies %}
            {% for reply in comment.replies.data.children %}
                {{ commentBlock(reply.data) }}
            {% endfor %}
        {% endif %}
    </details>
    {%- endif -%}
{%- endmacro -%}

{% block content %}
    <header class="intro">
        <h2 class="title">{{ story.title|safe }}</h2>

        {% if story.selftext %}
            <p>{{ story.selftext|unescape }}</p>
        {% endif %}

        <time class="info">
            <svg class="icon"><use xlink:href="#icon-info"></use></svg>
            {{ story.created_utc|localtime|dateformat('YYYY-MM-DD') }}
        </time>

        <span class="info">
            <svg class="icon"><use xlink:href="#icon-info"></use></svg>
            {{ story.domain }}
        </span>

        {% if story.num_comments > 0 %}
        <span class="info">
            <svg class="icon"><use xlink:href="#icon-info"></use></svg>
                {{ story.num_comments|pluralize("comment", "comments") }}
        </span>
        {% endif %}
    </header>

    {% if not comments %}
        <p>No comments.</p>
    {% endif %}

    {% for comment in comments %}
        {{ commentBlock(comment) }}
    {% endfor %}
{% endblock %}

{% block secondary_nav %}
    <div>
        <a href="{{ subreddit_alturl }}">
            <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
            r/{{ story.subreddit}}
        </a>
    </div>

    <div>
        <a href="{{ story.url|anonymize }}" target="_blank">
            <svg class="icon"><use xlink:href="#icon-link"></use></svg>
            {{ story.domain }}
        </a>
    </div>

    <div>
        <a href="{{ ("https://reddit.com" ~ story.permalink)|anonymize }}" target="_blank">
            <svg class="icon"><use xlink:href="#icon-globe"></use></svg>
              original
        </a>
    </div>
{% endblock %}
