{% extends "alturl.jinja.html" %}

{% macro commentBlock(comment) %}
    {% if comment.author %}

    <details open class="comment">
        <summary>
            <time>{{ comment.created_utc|localtime|dateformat('YYYY-MM-DD h:MM A') }}</time>
            by {{ comment.author }}

            {%- if comment.replies -%} ,
                {{ comment.replies|length|pluralize('reply', 'replies') }}
            {%- endif -%}
        </summary>
        <div class="body">
            {{ comment.body_html|better_html|unescape }}
        </div>
        {% if comment.replies %}
            {% for reply in comment.replies.data.children %}
                {{ commentBlock(reply.data) }}
            {% endfor %}
        {% endif %}
    </details>
    {%- endif -%}
{%- endmacro -%}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a href="{{ subreddit_alturl }}">
            <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
            r/{{ subreddit }}
        </a>
    </nav>
{% endblock %}

{% block content %}
    <div class="intro">
        <h2 class="title">{{ story.title|safe }}</h2>

        <time class="info">
            <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
            {{ story.created_utc|localtime|dateformat('YYYY-MM-DD') }}
        </time>

        {% if story.num_comments > 0 %}
            <span class="info">
                <svg class="icon"><use xlink:href="#icon-info"></use></svg>
                {{ story.num_comments|pluralize("comment", "comments") }}
            </span>
        {% endif %}

        <a class="info" rel="noopeneer noreferrer" href="{{ app_url }}/reddit.com/u/{{ story.author|lower }}">
            <svg class="icon"><use xlink:href="#icon-globe"></use></svg>
            u/{{ story.author }}
        </a>

        <a class="info" target="_blank" rel="noopeneer noreferrer" href="{{ story.url|anonymize }}">
            <svg class="icon"><use xlink:href="#icon-globe"></use></svg>
            {% if "self." not in story.domain %}
                {{ story.domain }}
            {% else %}
                original
            {% endif %}
        </a>


        {% if story.selftext %}
            {{ story.selftext|better_html|unescape }}
        {% endif %}

    </div>

    <div id="comments">
        {% set ns = namespace(comment_count=0) %}

        {% for comment in comments %}
            {% set ns.comment_count = ns.comment_count + 1 %}
            {{ commentBlock(comment) }}
        {% endfor %}

        {% if ns.comment_count == 0 %}
            <p><em>No comments.</em></p>
        {% endif %}
    </div>
{% endblock %}
