{% extends "alturl.jinja.html" %}

{% block content %}
    {% for story in stories %}
        <p class="headline">
            <a href="{{ app_url }}/reddit.com/{{ story.permalink }}">{{ story.title }}</a>
            <time class="info">
                <svg class="icon"><use xlink:href="#icon-info"></use></svg>
                {{ story.created_utc|localtime|dateformat('YYYY-MM-DD') }}
            </time>
            {% if "r/" not in url %}
            <span class="info">
                <svg class="icon"><use xlink:href="#icon-info"></use></svg>
                r/{{ story.subreddit }}
            </span>
            {% endif %}
            <span class="info">
                <svg class="icon"><use xlink:href="#icon-info"></use></svg>
                {{ story.domain }}
            </span>

            <span class="info">
                <svg class="icon"><use xlink:href="#icon-info"></use></svg>
                {{ story.num_comments|pluralize('comment', 'comments') }}
            </span>
        </p>
    {% endfor %}
{% endblock %}
