{% extends "alturl.jinja.html" %}

{% block main_toolbar_links %}
    <li>
        <a href="{{ app_url }}">
            <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
            Bookmarks
        </a>
    </li>
    {% if not bookmark_id %}
        <li>
            <a href="#" id="save-bookmark">
                <svg class="icon"><use xlink:href="#icon-bookmark"></use></svg>
                Bookmark
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <header>
        <h2>{{ url }}</h2>
    </header>
    {% for story in stories %}
        <div class="headline">
            <h2 class="title"><a href="{{ app_url }}/reddit.com{{ story.permalink|lower }}">{{ story.title|safe }}</a></h2>
            <time class="info">
                <svg class="icon"><use xlink:href="#icon-info"></use></svg>
                {{ story.created_utc|localtime|dateformat('YYYY-MM-DD') }}
            </time>

            {# Internally link to the subreddit when not viewing the Reddit homepage. #}
            {% if "r/" not in url %}
            <span class="info">
                <svg class="icon"><use xlink:href="#icon-info"></use></svg>
                <a href="{{ app_url }}/reddit.com/r/{{ story.subreddit|lower }}">
                        r/{{ story.subreddit|lower }}
                </a>
            </span>
            {% endif %}

            {# Externally link to the story URL if not a self-post. #}
            {% if "self." not in story.domain %}
            <span class="info">
                <svg class="icon"><use xlink:href="#icon-info"></use></svg>
                <a target="_blank" rel="noopeneer noreferrer" href="{{ story.url|anonymize }}">{{ story.domain }}</a>
            </span>
            {% endif %}

            <span class="info">
                <svg class="icon"><use xlink:href="#icon-info"></use></svg>
                {{ story.num_comments|pluralize('comment', 'comments') }}
            </span>
        </div>
    {% endfor %}
{% endblock %}
