{% extends "base.jinja.html" %}

{% block stylesheets %}
    {{ macros.cacheBustedStylesheet('htmlhead', 'htmlhead.css') }}
{% endblock %}

{% block page_body %}
    <main>
        <div class="content-wrapper">
            {% if failure_message %}
            <div class="error message">{{ failure_message }}</div>
            {% endif %}

            {% if status_code and status_code != 200 %}
            <div class="error message">The URL returned a {{ status_code }}.</div>
            {% endif %}

            <form method="post" action="{{ app_url }}">
                <div class="field">
                    <label for="url">URL:</label>
                    <input type="text" id="url" name="url" value="{{ url|default('', true) }}" autofocus/>
                </div>

                <div class="third-column">
                    <div class="field">
                        <label for="url">Username:</label>
                        <input type="text" id="username" name="username" value="{{ username|default('', true) }}"/>
                    </div>
                </div>
                <div class="third-column">
                    <div class="field">
                        <label for="url">Password:</label>
                        <input type="password" id="password" name="password" value="{{ password|default('', true) }}"/>
                    </div>
                </div>
                <div class="field">
                    <button>Fetch</button>
                </div>
            </form>

            {% if tags %}

                <div class="table-wrapper">

                    <table class="key-value">
                        <caption>Found {{ tags|length }} tags.</caption>
                        <tbody>
                            {% for tag, attributes, text in tags %}
                                <tr>
                                    <th>
                                        {{ tag }}
                                        <div class="smaller">tag #{{ loop.index }}</div>
                                    </th>
                                    <td>
                                        {% if attributes %}
                                            <dl>
                                                {% for key, value in attributes %}
                                                    <dt>{{ key|e }}</dt>
                                                    <dd>{{ value|autolink }}</dd>
                                                {% endfor %}
                                            </dl>
                                        {% endif %}

                                        {% if text %}
                                            <div class="text">{{ text|e }}</div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
