.bookmark {
    background-color: #fff;
    padding: .75em;
    margin-bottom: 1em;
}

.bookmark TIME {
    color: #666;
    font-size: .85em;
}


.bookmark H2 {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
}


.bookmark .comments {
    margin: 1em 0;
}

.bookmark .actions {
    float: right;
}


.date-group {
    margin-top: 2em;
    font-size: 1.5em;
}

.date-group:nth-of-type(1) {
    margin-top: 1em;
}