{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('wakeup', 'wakeup.css') }}
{% endblock %}

{% block app_message %}
    {% if sent %}
        <div id="app-message" class="success">Ping sent!</div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a href="{{ registry_url }}">
            <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
            Edit hosts
        </a>
    </nav>
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("edit") }}

    {% if not hosts %}
        <nav class="secondary">
            <div class="warning">No hosts found.</p>
        </nav>
    {% endif %}

    <main>
        <div id="hosts">
            {% for host, mac_address in hosts.items() %}
                <form class="host" method="POST" action="{{ app_url }}">
                    <input type="hidden" name="host" value="{{ host }}" />
                    <button>{{ host }}</button>
                </form>
            {% endfor %}
        </div>
    </main>
{% endblock %}
