{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('wakeup', 'wakeup.css') }}
{% endblock %}

{% block page_body %}
    <main>
        {{ macros.svgSymbols("add-item") }}

        <div class="{% if not sent %}hidden{% endif %} success message">Ping sent!</div>

        <header class="app-nav">
            <a href="{{ registry_url }}">
                <svg class="icon"><use xlink:href="#add-item"></use></svg>
                Add host
            </a>
        </header>

        <section>
            {% if not hosts %}
                <p>No hosts found.</p>
            {% endif %}

            {% for host, mac_address in hosts.items() %}
                <form class="host" method="POST" action="{{ app_url }}">
                    <input type="hidden" name="host" value="{{ host }}" />
                    <button>{{ host }}</button>
                </form>
                <span class="mac-address">{{ mac_address }}</span>
            {% endfor %}
        </section>
    </main>
{% endblock %}
