SECTION {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1em;
}

.description {
    font-size: .85em;
    display: block;
    margin-top: .5em;
}

.item {
    margin: 0;
    padding-bottom: 1em;
}

.item A.focus-candidate {
    margin-left: -1em;
}

.name {
    font-weight: bold;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
