.description {
    font-size: .85em;
    font-weight: normal;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1em;
    margin: 0 -1em;
    padding: 0 0 1em 0;
}

.item {
    color: inherit;
    padding: .5em 1em;
}

.item:focus {
    outline: 0;
    background-color: var(--focus-bg-color);
}

.name {
    font-weight: bold;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
