MAIN {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    font-size: .85em;
    font-weight: normal;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1em;
    margin: 0 -1em;
    padding: 0 0 1em 0;
}

.inverse {
    background-color: var(--secondary-bg-color);
    color: #fff;
}

.item {
    color: inherit;
    font-weight: bold;
    padding: .5em 1em;
}

.item:hover, .item:focus {
    outline: 0;
    background-color: var(--focus-bg-color);
}

.title {
    align-self: flex-end;
    font-size: 1.25em;
    margin: .5em 0 0 1em;
    grid-column: 1 / -1;
    font-style: italic;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
