MAIN {
    display: flex;
    flex-direction: column;
}

#transform-result {
    overflow-wrap: break-word;
    background-color: var(--tertiary);
    margin: 0 -1em;
    padding: 1em;
    flex-grow: 1;
}

#transform-result header {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

#transform-result header h2 {
    margin-right: 3em;
}


#transform-result header > div {
    margin-left: 2em;
}


#copy-target {
    white-space: pre-line;
}

#transformations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
};

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    #transformations {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Large devices */
@media (min-width: 992px) {
    #transformations {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    #transformations {
        grid-template-columns: repeat(8, 1fr);
    }
}
