<header>
    <ledger-add-button [routerLink]="['/accounts', 0, 'form']" [resourceName]="singularResourceName"></ledger-add-button>
</header>

<p *ngIf="accounts.length === 0">There are no accounts.</p>

<section class="accounts" *ngIf="accounts.length > 0">
    <h1>Accounts</h1>
    <div class="cards">
        <div class="card" [class.inactive]="account.closed_on" *ngFor="let account of accounts">
            <div class="title">
                {{account.name}}

                <a [routerLink]="['/accounts', account.uid, 'form']">
                    <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                </a>
            </div>

            <img *ngIf="account.logo_name" src="/ledger/logo/{{ account.uid}}" />

            <ul>
                <li *ngIf="account.closed_on">Closed {{ account.closed_on|date:'longDate' }}</li>

                <li *ngIf="!account.closed_on" class="balance">
                    {{ account.balance!|money }}
                </li>

                <li class="deposit"  *ngIf="account.total_pending! > 0">{{ account.total_pending!|money }} pending</li>
                <li class="withdrawl" *ngIf="account.total_pending! < 0">{{ account.total_pending!|money }} pending</li>
                <li>
                    <a *ngIf="account.url">
                        <a href="{{ account.url }}" target="_blank" rel="noopener noreferer">Log In</a>
                    </a>
                </li>
            </ul>

            <footer>
                <p>
                    <a [routerLink]="['/transactions']" [queryParams]="{q: 'account:' + account.uid}">
                        Transactions
                    </a>
                </p>


                <p *ngIf="account.opened_on">Opened {{ account.opened_on|date: 'longDate' }}</p>

                <p *ngIf="account.note">{{ account.note }}</p>
            </footer>
        </div>
    </div>
</section>
