<header>
    <app-add-button [routerLink]="['/accounts', 0, 'form']" [resourceName]="singularResourceName"></app-add-button>
</header>

<section class="accounts" *ngIf="accounts.length > 0">
    <h1>Active Accounts</h1>
    <div class="cards">
        <div class="card" *ngFor="let account of activeAccounts()">
            <div class="title">
                {{account.name}}
            </div>

            <ul>
                <li>
                    {{ account.balance!|money }}
                    <span *ngIf="account.total_pending! > 0">/ {{ account.total_pending!|money }} pending</span>
                </li>
                <a [routerLink]="['/transactions']" [queryParams]="{account: account.uid}">
                    Transactions
                </a>
            </ul>

            <footer>
                <a [routerLink]="['/accounts', account.uid, 'form']">
                    Edit
                </a>
                <a *ngIf="account.url">
                    <a href="{{ account.url }}" target="_blank" rel="noopener noreferer">Log In</a>
                </a>

            </footer>
        </div>
    </div>
</section>

<section class="accounts inactive">
    <h1>Inactive Accounts</h1>
    <div class="cards">
        <div class="card" *ngFor="let account of inactiveAccounts()">
            <div class="title">
                <a [routerLink]="['/accounts', account.uid, 'form']">
                    {{account.name}}
                </a>
            </div>
            <ul>
                <li *ngIf="account.closed_on">Closed {{ account.closed_on|date:'longDate' }}</li>
            </ul>

            <footer>
                <div>
                    <a [routerLink]="['/transactions']" [queryParams]="{account: account.uid}">
                        Transactions
                    </a>
                </div>
            </footer>
        </div>
    </div>
</section>

<p *ngIf="accounts.length == 0">There are no accounts.</p>
