HEADER {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.accounts {
    padding-bottom: 2em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: column nowrap;
}

.card.inactive {
    background-color: #ccc;
}

.card .title {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #e5e5e5;
    border-radius: 10px 10px 0 0;
    line-height: 1.5;
    font-weight: bold;
}

.card ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    flex-grow: 2;
}

.card li {
    margin: 0;
    padding: 0.25em 0;
    text-align: center;
}

.card li.balance {
    font-size: 2em;
    letter-spacing: .1em;
}

.card footer {
    margin: 1em;
    font-size: .85em;
    border-top: 1px dashed #333;
}

.card footer details {
    white-space: pre-line;
}
