{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block main_toolbar %}
    <nav id="main-toolbar">
        {% if allow_cancel %}
        <a class="cancel" href="{{ app_url }}">
            <svg class="icon"><use xlink:href="#icon-x"></use></svg>
            Cancel
        </a>
        {% endif %}

        {% if allow_add %}
        <a id="add-record" href="{{ app_url }}/new">
            <svg class="icon"><use xlink:href="#icon-new-item"></use></svg>
            Add
        </a>
        {% endif %}

        {% if allow_delete %}
            <a class="delete"
               href="#"
               data-delete-url="{{ app_url }}/{{ entry_id }}"
               data-delete-redirect="{{ app_url }}"
               data-delete-resource-name="entry">
                <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                Delete
            </a>
        {% endif %}

    </nav>
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("new-item", "arrow-right", "arrow-left", "x") }}
    {% block content %}
    {% endblock %}
{% endblock %}
