{% extends "apps/foodlog/foodlog.jinja.html" %}

{% block stylesheets %}
    {{ macros.asset("css/activity.css") }}
{% endblock %}

{% block content %}
    <main>
        <header id="app-nav">
            <form method="get" action="{{ app_url }}">
                <div class="field">
                    <input
                        autocapitalize="none"
                        autocomplete="off"
                        id="q"
                        name="q"
                        placeholder="Search term"
                        type="search"
                        value="{{ query }}"
                    />
                </div>
                <div class="field">
                    <button>
                        Search
                    </button>
                </div>
            </form>
        </header>

        {% if activity %}
            <section class="table-sleeve">
                <div class="activity-chart">
                    <div class="column-heading"></div>
                    <div class="row-heading">Sun</div>
                    <div class="row-heading">Mon</div>
                    <div class="row-heading">Tue</div>
                    <div class="row-heading">Wed</div>
                    <div class="row-heading">Thu</div>
                    <div class="row-heading">Fri</div>
                    <div class="row-heading">Sat</div>

                    {% for record in activity %}
                        {% if loop.first or loop.index0 % 21 == 0 %}
                            <div class="column-heading">{{ record['date']|dateformat('%b') }}</div>
                        {% elif loop.index0 % 7 == 0 %}
                            <div class="column-heading"></div>
                        {% endif %}

                        {% if record['tally'] == 0 %}
                            <div class="tally0"></div>
                        {% else  %}
                            <a href="#" title="{{ record['tally'] }}x on {{ record['date']|dateformat('%b %-d, %Y') }}" class="{{ 'tally' ~ record['tally']}}"></a>
                        {% endif %}

                    {% endfor %}
            </section>
        {% endif %}

        <section class="table-sleeve">
            {% if entry_count == 0 %}
                <p clas="warning">No entries found.</p>
            {% endif %}

            {% if entry_count > 0 %}
            <table id="matches">
                <thead>
                    <tr>
                        <th width="15%">Date</th>
                        <th width="10%">Time</th>
                        <th>Foods Eaten</th>
                        <th width"10%">Overate?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                        <tr>
                            <td><a href="{{ app_url }}/{{ entry.id }}/edit">{{ entry.consumed_on|dateformat("%B %d, %Y") }}</a></td>
                            <td>{{ entry.consumed_on|dateformat("%-I:%M %p") }}</td>
                            <td>{{ entry.foods_eaten }}</td>
                            {% if entry.overate %}
                                <td class="warning">Yes</td>
                            {% else %}
                                <td>No</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ macros.pagination(pagination_url, offset, per_page, entry_count) }}
            {% endif %}
        </section>
    </main>
{% endblock %}
