#recipe section:nth-of-type(1) {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    align-content: stretch;
}

#recipe.with-ingredients section:nth-of-type(1) div:nth-child(1) {
    background-color: var(--tertiary);
    padding: 1em;
}

#recipe header ul li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1em;
    line-height: 2;
}

#recipe header ul li:last-of-type {
    margin-right: 0;
}


#recipe UL {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#recipe UL LI {
    margin-bottom: 1em;
}

#recipe P {
    padding: .25em;
}

#recipe P:hover {
    background-color: var(--secondary);
}

#editor {
    display: flex;
    flex-flow: column;
}

#editor form {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

#editor .stretch {
    flex-grow: 1;
}

#editor textarea {
    height: 100%;
}

#tagset ul {
    padding-left: 0;
    list-style-type: none;
}

#tagset li {
    display: inline;
    margin-right: 2em;
    white-space: nowrap;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    #recipe.with-ingredients section:nth-of-type(1) {
        grid-template-columns: 22em 1fr;
    }

}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
