#attachments {
    margin: 0;
    padding: 1em 0 0 0;
}

#attachments LI {
    display: inline-flex;
    align-items: center;
    margin: 0 1em 1em 0;
}

#attachments LI .actions {
    margin-right: 0.5em;
    background-color: var(--grey);
}

#collection time {
    margin-right: 1em;
    margin-bottom: 0.75em;
    display: block;
}

#recipe H1 {
    font-size: 1.15em;
    margin: 2em 0 0.5em 0;
    border-bottom: 1px solid currentColor;
}

#recipe SECTION:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    margin-bottom: 0;
    border-top: 1px solid var(--grey);
}

#recipe SECTION UL {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#recipe SECTION P, #recipe SECTION LI {
    break-inside: avoid;
    padding: 0 0 .5em 0;
    margin: 0;
}

#directions {
    padding-top: 1em;
    padding-bottom: 1em;
}

#ingredients {
    padding-top: 1em;
    margin-bottom: 1em;
}

#recipe SECTION P:hover, #recipe SECTION LI:hover {
    cursor: pointer;
}

#recipe SECTION P:hover, #recipe SECTION LI:hover {
    background-color: var(--secondary);
}

#recipe FOOTER {
    font-size: .85em;
    padding: 1em 0;
}

#recipe FOOTER TIME {
    display: block;
    margin-bottom: 1em;
}

#editor {
    display: flex;
}

#editor FORM {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto 1fr auto;
}

#editor .stretch {
    display: grid;
    grid-template-rows: auto 1fr;
}

#editor TEXTAREA {
    height: 100%;
}

#tagset ul {
    padding-left: 0;
    list-style-type: none;
}

#tagset LI {
    display: inline;
    margin-right: 2em;
    white-space: nowrap;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    #attachments {
        border-top: 1px solid var(--grey);
    }

    #ingredients {
        border-right: 1px solid var(--grey);
    }

    #directions {
        padding-top: 1em;
        columns: 28em;
        column-fill: auto;
        column-gap: 3em;
        margin: 0 auto;
    }

    #recipe {
        display: grid;
        grid-template-rows: auto 1fr;
        margin-bottom: 2.25em;
    }

    #recipe.with-ingredients SECTION:nth-of-type(1) {
        grid-template-columns: 16em 1fr;
    }

    #recipe FOOTER {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--grey);
    }

    #recipe FOOTER TIME {
        display: inline-block;
        margin-right: 2em;
        margin-bottom: 0;
    }
}

/* Large devices */
@media (min-width: 992px) {
    #directions {
        column-fill: balance;
    }

    #recipe FOOTER TIME:last-of-type {
        margin-right: 0;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
