{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/select-all.js"></script>
{% endblock %}

{% block page_body %}
<main>
    <form class="content-wrapper" method="post" action="/transform">
        <div class="field">
            <label for="value">Input:</label>
            <textarea id="value" name="value">{{ value|default('', true) }}</textarea>
        </div>
        <div class="field">
            <label for="style">Convert to:</label>

            <div class="field">
                {% for option in styles %}
                <input type="radio" class="inline" name="style" value="{{ option }}" {% if option == style or option == default_style %}checked{% endif %} />
                <label class="inline">{{ option|title }}</label>
                {% endfor %}
            </div>
        </div>

        <div class="field">
            <button>Convert</button>
        </div>
    </form>


    {% if result %}
    <div class="content-wrapper">
        <p><a href="#" data-selection-target="#result" class="select-all" data-selection-immediate="1" rel="noreferrer">Select All</a></p>
        <div id="result">{{ result|nl2br() }}</div>
    </div>
    {% endif %}
</form>
</main>

{% endblock %}
