{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.asset("css/transform.css") }}
{% endblock %}

{% block scripts %}
    {{ macros.asset("js/clipboard.js") }}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("copy") }}
    <main>
        <form method="post" action="/transform">
            <div class="field">
                <label for="value">Input</label>
                <textarea id="value" name="value">{{ value|default('', true) }}</textarea>
            </div>

            <div class="field">
                <div id="transformations" class="field">
                    {% for transform in transforms if transform.value %}
                        <div class="transform">
                            <input
                                id="transform-{{ transform.value }}"
                                type="radio"
                                class="inline"
                                name="transform"
                                value="{{ transform.value }}"
                                {% if transform.value == current_transform %}checked{% endif %}
                            />
                            <label for="transform-{{ transform.value }}" class="inline">{{ transform.value|title }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="field">
                <button>Convert</button>
            </div>
        </form>

        {% if result %}
            <div id="transform-result">
                <header>
                    <div>
                        {{ macros.clipboardButton("copy-target", "Copy value") }}
                    </div>
                </header>
                <div id="copy-target">{{ result|escape() }}</div>
            </div>
        {% endif %}
    </main>
{% endblock %}
