{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('transform', 'transform.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.vueApp('main', ('clipboard-button',)) }}
{% endblock %}

{% block page_body %}
    <main>
        {{ macros.svgSymbols("copy") }}

        <form method="post" action="/transform">
            <div class="field">
                <label for="value">Input</label>
                <textarea id="value" name="value">{{ value|default('', true) }}</textarea>
            </div>
            <div class="field">
                <p>Transformation</p>

                <div id="transformations" class="field">
                    {% for transform in transforms %}
                        <div class="transform">
                            <input
                                id="transform-{{ transform }}"
                                type="radio"
                                class="inline"
                                name="transform"
                                value="{{ transform }}"
                                {% if transform == current_transform %}checked{% endif %}
                            />
                            <label for="transform-{{ transform }}" class="inline">{{ transform|title }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="field">
                <button>Convert</button>
            </div>
        </form>

        {% if result %}
            <div id="transform-result">
                <header class="app-nav">
                    <div class="actions">
                        <div><clipboard-button target-id="copy-target" label="Copy" /></div>
                    </div>
                </header>
                <div id="copy-target">{{ result|escape() }}</div>
            </div>
        </div>
        {% endif %}
    </main>
{% endblock %}
