#caller-id INPUT[type=text] {
    width: 100%;
    text-align: left;
}

.cancel {
    margin-left: 2em;
}

.blacklisted {
    background-color: black;
    color: white;
    padding: .5em;
}

.flex-parent {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.flex-item {
    min-width: 17em;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: .5em;
    margin: .5em;
}

.flex-item H2 {
    margin-top: 0;
}

TD {
    vertical-align: top;
}

.debug {
    margin: 2em auto;
}
