#caller-id INPUT[type=text] {
    width: 100%;
    text-align: left;
}

.content-wrapper {
    padding-bottom: 2em;
}

.cancel {
    margin-left: 2em;
}

.blacklisted {
    background-color: black;
    color: white;
    padding: .5em;
}

.flex-parent {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.flex-item {
    max-width: 50%;
    min-width: 17em;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: .5em;
    margin: .5em;
}

.flex-item H2 {
    margin-top: 0;
}

TD {
    vertical-align: top;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
