{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block main_toolbar %}
    <nav id="main-toolbar">
        {% if uid is defined or query %}
            <a class="cancel" href="{{ app_url }}">
                <svg class="icon"><use xlink:href="#icon-x"></use></svg>
                Cancel
            </a>
        {% endif %}

        {% if delete_url %}
            <a class="delete"
               href="#"
               data-delete-url="{{ delete_url }}"
               data-delete-redirect="{{ app_url }}"
               data-delete-resource-name="entry">
                <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                Delete
            </a>
        {% endif %}

    </nav>
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("new-item", "delete", "arrow-left", "arrow-right", "x", "calendar", "clock", "moon", "sun", "smile", "frown", "meh") }}
    {% block content %}
    {% endblock %}
{% endblock %}
