:root {
    --alturl-code: #FDF6E8;
}

h2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

code {
    display: inline-block;
    font-size: .85em;
    line-height: 1.3;
    background-color: var(--alturl-code);
    white-space: pre-wrap;
}

#collection .headline {
    display: block;
    margin-bottom: 1em;
}

#comments {
    border-top: 1px solid var(--grey);
    margin-top: 1em;
}

.comment a {
    word-break: break-all;
}

.comment h1, .comment h2, .comment h3, .comment h4, .comment h5, .comment h6,
.intro h1, .intro h2, .intro h3, .intro h4, .intro h5, .intro h6 {
    font-size: 1.1em;
    margin: 0 0 .5em 0;
}

.comment summary {
    margin: 0 -1em;
    padding: 1em;
    background-color: var(--tertiary);
    font-size: .75em;
}

.comment summary:hover {
    cursor: pointer;
}

.comment ul {
    margin-top: 0.5em;
    padding-left: 1.25em;
}

.comment ul li {
    margin-bottom: .5em;
}

.comment .body {
    padding: 0.5em 0;
}

.comment p {
    line-height: 1.4;
    margin: 0 0 .5em 0;
}

.comment blockquote {
    border-left: .25em solid var(--grey);
    font-style: italic;
    padding-left: 0.5em;
    font-family: monospace;
    margin: 1.5em 0;
    font-size: .85em;
    line-height: 1.2;
}

.comment blockquote p {
    line-height: inherit;
}

.info {
    font-size: .85em;
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
    margin-bottom: .5em;
}

.info svg {
    margin-right: .5em;
}

.unbookmark > * {
    display: inline-block;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
    .comment blockquote {
        font-size: 1em;
    }

    .comment .comment {
        margin-left: 1em;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
