[Unit]
Description=Medley
After=network.target

[Service]
Type=notify
NotifyAccess=all
Environment=MEDLEY_notify_systemd=True
Environment=MEDLEY_database_dir={{ medley_root }}/db
WorkingDirectory={{ medley_root }}
ExecStart={{ medley_root }}/medley

[Install]
WantedBy=default.target

# Local Variables:
# mode: conf
# End:
