server {
    listen 80;
    listen [::]:80;
    server_name {{ medley_hostname }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ medley_hostname }};
    ssl_certificate     {{ medley_ssl_certificate }};
    ssl_certificate_key {{ medley_ssl_key }};
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    access_log /var/log/nginx/medley-access.log;
    error_log /var/log/nginx/medley-error.log;

    location ~ \.(css|js|svg)$ {
        root {{ project_root }}/apps;
        sendfile on;
    }

    location / {
        proxy_read_timeout 300;
        proxy_pass http://127.0.0.1:8085;
        proxy_redirect off;
        gzip off;
        include /etc/nginx/proxy_params;
    }
}


# Local Variables:
# mode: nginx
# End:
