[Unit]
Description=Medley
After=network.target

[Service]
Type=notify
NotifyAccess=all
User=medley
Group=medley
Environment=MEDLEY_notify_systemd=True
Environment=MEDLEY_database_dir={{ project_root }}/db
WorkingDirectory={{ project_root }}
ExecStart={{ project_root }}/medley

[Install]
WantedBy=multi-user.target

# Local Variables:
# mode: conf
# End:
