[Unit]
Description=Medley
After=network.target

[Service]
Type=notify
NotifyAccess=all
Environment=MEDLEY_notify_systemd=True
Environment=MEDLEY_database_dir={{ project_root }}/db
WorkingDirectory={{ project_root }}
ExecStart=/usr/local/bin/medley

[Install]
WantedBy=default.target

# Local Variables:
# mode: conf
# End:
