<header>
    <ledger-delete-button *ngIf="canDelete()" (deletionConfirmed)="deleteAccount()" [resourceName]="singularResourceName"></ledger-delete-button>
</header>

<form (ngSubmit)="save()" [formGroup]="accountForm" autocomplete="off">
    <div class="field" [class.invalid]="(name.dirty || name.touched) && name.invalid">
        <label for="accountName">
            Account Name
            <span class="validation-message arrow-down" *ngIf="name.touched && name.hasError('required')">This field is required.</span>
            <span class="validation-message arrow-down" *ngIf="name.touched && name.hasError('unique')">An account with this name already exists.</span>
        </label>
        <input
            id="accountName"
            type="text"
            formControlName="name"
        />

    </div>

    <div class="field" [class.invalid]="(url.dirty || url.touched) && url.invalid">
        <label for="accountUrl">Account URL</label>
        <input
            id="accountUrl"
            type="url"
            formControlName="url"
        />
    </div>

    <div formGroupName="dates">
        <div class="field" [class.invalid]="(openedOn.dirty || openedOn.touched) && openedOn.invalid">
            <label for="accountOpened">Opened On</label>
            <input
                id="accountOpened"
                type="date"
                formControlName="opened_on"
                [max]="today"
            />
            <p *ngIf="openedOn.hasError('required')" class="validation-message">The account needs a name.</p>
        </div>

        <div class="field">
            <label for="accountClosed">
                <input
                    id="accountClosed"
                    type="checkbox"
                    [checked]="datesExpanded"
                    (click)="toggleAccountClosed($event)" /> This account is closed.
            </label>
        </div>

        <div *ngIf="datesExpanded" class="field" [class.invalid]="(closedOn.dirty || closedOn.touched) && (closedOn.invalid || dates.invalid)">
            <label for="accountClosed">Closed On</label>
            <input
                id="accountClosed"
                type="date"
                formControlName="closed_on"
                [max]="today"
            />

            <p *ngIf="dates.hasError('daterange')" class="validation-message">The close date must be after the open date.</p>
            <p *ngIf="closedOn.hasError('required')" class="validation-message">The close date must be specified.</p>
            <p *ngIf="closedOn.hasError('dateinpast')" class="validation-message">The close date must be in the past.</p>
        </div>
    </div>

    <div class="field" [class.invalid]="(note.dirty || note.touched) && note.invalid">
        <label for="accountNote">Notes</label>
        <textarea
            id="accountNote"
            type="text"
            formControlName="note"
        ></textarea>
    </div>

    <footer>
        <button type="submit" [disabled]="!accountForm.valid || !accountForm.dirty">Save</button>
    </footer>
</form>
