{% set min_x = 17 %}
{% set max_x = 300 %}
{% set min_y = 10 %}
{% set max_y = 110 %}
{% set x_label_height = 10 %}

<svg viewBox="0 0 {{ max_x + 10 }} {{ max_y + x_label_height }}" preserveAspectRatio="xMidYMax" class="scatter">
    <g class="x axis">
        <line x1="{{ min_x }}" y1="{{ max_y }}" x2="{{ max_x }}" y2="{{ max_y }}"></line>
    </g>

    <g class="y axis">
        <line x1="{{ min_x }}" y1="{{ min_y }}" x2="{{ min_x }}" y2="{{ max_y }}"></line>
    </g>


    <text x="{{ -1 * max_y / 2 }}" y="3" text-anchor="middle" class="legend" transform="rotate(270)">{{ y_legend }}</text>

    {% set step = (max_x - min_x) / (x_ticks - 1) %}
    <g class="x ticks">
        {% for i in range(x_ticks) %}
            {% set x = min_x + (i * step) %}
            <line x1="{{ x }}" y1="{{ max_y }}" x2="{{ x }}" y2="112" />
        {% endfor %}
    </g>

    <g class="x labels">
        {% for i in range(x_ticks) %}
            {% set x = min_x + (i * step) %}
            <g class="label-pair">
                <text x="{{ x }}" y="115">
                    {{ x_labels[i]|dateformat("%-I:%M %p") }}
                </text>
                <text x="{{ x  }}" y="119">
                    {{ x_labels[i]|dateformat("%Y-%m-%d") }}
                </text>
            </g>
        {% endfor %}
    </g>

    {% set step = (max_y - min_y) / (y_ticks - 1) %}
    <g class="y ticks">
        {% for i in range(y_ticks) %}
            {% set y = min_y + (i * step) %}
            <line x1="{{ min_x - 2 }}" y1="{{ y }}" x2="{{ min_x }}" y2="{{ y }}" />
        {% endfor %}
    </g>

    <g class="y labels">
        {% for i in range(y_ticks) %}
            {% set y = 100 - (i * step) + 10 %}
            <text x="13"
                  y="{{ y }}"
                  text-anchor="end"
                  alignment-baseline="middle"
            >{{ y_labels[i] }}</text>
        {% endfor %}
    </g>

    <g class="points">
        {% for point in points %}
            {% set x_distance_from_min = point[0].timestamp() - x_range[0].timestamp()  %}
            {% set x_ratio = x_distance_from_min / (x_range[1].timestamp() - x_range[0].timestamp()) %}

            {% if y_range[1] > 0 %}
                {% set y_ratio = point[1] / y_range[1] %}
            {% else %}
                {% set y_ratio = 1 %}
            {% endif %}

            {% set x = min_x + (max_x - min_x) * x_ratio %}
            {% set y = max_y - ((max_y - min_y) * y_ratio) %}

            {% set label_width = 42 %}
            {% if x > max_x / 2 %}
                {% set label_x = x - label_width - 5 %}
            {% else %}
                {% set label_x = x + 5%}
            {% endif %}

            <circle
                class="dot"
                cx="{{ x }}"
                cy="{{ y }}"
                r="1.5"
                data-tooltip-x="{{ label_x }}"
                data-tooltip-y="{{ y - 5 }}"
                data-tooltip-text1="{{ point[1] }} {{ y_unit }}"
                data-tooltip-text2="{{ point[0]|dateformat("%Y-%m-%d %-I:%M:%S %p") }}"
            />

        {% endfor %}
        <svg id="label" x="0" y="0" class="hidden">
            <rect x="0" y="0" width="42" height="10" rx="1" />
            <text x="2" y="4"></text>
            <text x="2" y="8"></text>
        </svg>
    </g>

    <script type="text/javascript">

        let label = document.getElementById('label');

        function hideLabel() {
            label.classList.add('hidden');
        }

        function showLabel(node) {
            if (!node.classList.contains('dot')) {
                return;
            }

            label.setAttribute('x', node.dataset.tooltipX);
            label.setAttribute('y', node.dataset.tooltipY);
            label.querySelector('text:first-of-type').innerHTML = node.dataset.tooltipText1;
            label.querySelector('text:last-of-type').innerHTML = node.dataset.tooltipText2;
            label.classList.remove('hidden');
        }

        document.addEventListener('mouseover', (e) => showLabel(e.target));
        document.addEventListener('mouseout', hideLabel);
    </script>

</svg>
