{% extends "base.jinja.html" %}

{% block stylesheets %}
    {{ macros.staticAsset("metrics", "metrics.css") }}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("chart", "arrow-left") }}

    <main>
        {% if metrics %}
            <div id="collection">
                <ul>
                    {% for metric in metrics %}
                        <li>
                            <a href="{{ app_url }}/{{ metric["key"] }}">
                                <svg class="icon icon-chart"><use xlink:href="#icon-chart"></use></svg>
                                {{ metric["key"] }}
                            </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if metric %}
            <header id="page-title">
                <h2>{{ metric }}</h2>
            </header>

            {% if points %}
                <p>
                    {{ x_range[0]|localtime|dateformat("MMMM D, LT") }}
                    to
                    {{ x_range[1]|localtime|dateformat("MMMM D, LT") }}.
                </p>
                <p>
                    Highest: {{ y_range[1] }} {{ unit }},
                    lowest: {{ y_range[0] }} {{ unit }},
                    Δ {{ y_range[1] - y_range[0] }} {{ unit }}.
                </p>
            {% endif %}

            {% if not points %}
                <p>Not enough data to plot.</p>
            {% else %}
                {% include "metrics-scatter.jinja.html" %}
            {% endif %}
        </main>
    {% endif %}
{% endblock %}
