{% extends "base.jinja.html" %}

{% block stylesheets %}
    {{ macros.staticAsset("metrics", "metrics.css") }}
{% endblock %}

{% block main_toolbar %}
    <nav id="main-toolbar">
        {% if metric %}
        <a href="{{ app_url }}">
            <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
            All metrics
        </a>
        {% endif %}

        {% block secondary_nav %}{% endblock %}
    </nav>
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("chart", "arrow-left") }}

    <main>
        {% if metrics %}
            <ul id="inventory">
                {% for metric in metrics %}
                    <li>
                        <a href="{{ app_url }}/{{ metric["key"] }}">
                            <svg class="icon icon-chart"><use xlink:href="#icon-chart"></use></svg>
                            {{ metric["key"] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if metric %}
            <header>
                <h2>{{ metric }}</h2>
            </header>

            {% if points %}
                <p>
                    {{ x_range[0]|localtime|dateformat("MMMM D, LT") }}
                    to
                    {{ x_range[1]|localtime|dateformat("MMMM D, LT") }}.
                </p>
                <p>
                    Highest: {{ y_range[1] }} {{ unit }},
                    lowest: {{ y_range[0] }} {{ unit }},
                    Δ {{ y_range[1] - y_range[0] }} {{ unit }}.
                </p>
            {% endif %}

            {% if not points %}
                <p>Not enough data to plot.</p>
            {% else %}
                {% include "metrics-scatter.jinja.html" %}
            {% endif %}
        </main>
    {% endif %}
{% endblock %}
