{% import "apps/static/templates/macros.jinja.html" as macros -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page_title }}</title>
        <base href="{{ app_url }}">

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        />

        <meta
            name="theme-color"
            content="#044B7F"
        />

        {{ macros.asset("css/medley.css") }}

        {% block stylesheets %}
        {% endblock%}

        <link rel="shortcut icon" href="/static/svg/medley.svg" />
        <link rel="mask-icon" href="/static/svg/medley.svg" color="black" />

        <meta name="medley-home" content="{{ '/' | internal_url }}" />
        <meta name="medley-app-home" content="{{ app_url }}" />
        <meta name="medley-startpage" content="{{ '/startpage' | internal_url }}" />
        <meta name="medley-registry" content="{{ '/registry' | internal_url }}" />

        {% block page_meta %}{% endblock %}
    </head>
    <body>
        <header id="page-header">
            <h1>
                <a href="{{ '/' | internal_url }}">Medley</a>
                {% if app_name -%}
                    : <a href="{{ app_url }}">{{ app_name|capitalize }}</a>
                {%- endif %}
            </h1>

            <span class="focus-buffer-display"></span>

            {% block main_toolbar %}
            {% endblock %}

            {% block cache_status %}
                {% if cached_on %}
                    <div>As of {{ cached_on|dateformat("%-I:%M %p") }}</div>
                {% endif %}
            {% endblock %}

        </header>

        {% block app_message -%}
            <template id="app-message-template">
                <p></p>
                <a id="app-message-close" href="#">✖</a>
            </template>
            <div id="app-message"></div>
        {%- endblock %}

        {% block page_body %}{% endblock %}

        <footer id="page-footer">
            {% block page_footer %}
            {% endblock %}
        </footer>

        {{ macros.asset("js/medley.js") }}

        {% block scripts %}{% endblock %}
    </body>
</html>
