{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('grids', 'grids.css') }}
{% endblock %}

{% block page_body %}
    <main>
        <header class="app-nav">
            <p>Available grids:</p>
            <ul class="inline-list">
                {% for name in names %}
                    <li><a href="?name={{ name }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
            {% if name and options["layout"] == "month" %}
                <p>Starting:</p>
                <ul class="inline-list">
                    <li><a href="?name={{ name }}&start={{ options["last_month"]|yearmonth }}">previous month</a></li>
                    <li><a href="?name={{ name }}&start={{ options["this_month"]|yearmonth }}">this month</a></li>
                    <li><a href="?name={{ name }}&start={{ options["next_month"]|yearmonth }}">next month</a></li>
                </ul>
            {% endif %}
        </header>

        {% if rows %}
            <div class="table-sleeve">
                <table class="grid">
                    <thead>
                        <tr>
                            {% for header in headers %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                {% for cell in row %}
                                    <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </main>
{% endblock %}
