{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('grids', 'grids.css') }}
{% endblock %}

{% block page_body %}
    <main>
        {% if name and options["layout"] == "month" %}
            <header class="app-nav">
                {{ macros.svgSymbols("calendar") }}
                <a href="{{ app_url }}?name={{ name }}&start={{ options["last_month"]|yearmonth }}">
                    <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                    {{ options.last_month.format("MMMM") }}
                </a>
                <a href="{{ app_url }}?name={{ name }}&start={{ options["next_month"]|yearmonth }}">
                    <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                    {{ options.next_month.format("MMMM") }}
                </a>
                <a href="?name={{ name }}&start={{ options["this_month"]|yearmonth }}">
                    <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                    Now
                </a>
            </header>
        {% endif %}

        {% if rows %}
            <div class="table-sleeve">
                <table class="grid">
                    <thead>
                        <tr>
                            {% for header in headers %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                {% for cell in row %}
                                    <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </main>
{% endblock %}
