{% extends "base.html" %}
{% import "macros.html" as macros -%}

{% block stylesheets %}
{{ macros.cacheBustedStylesheet('grids', 'grids.css') }}
{% endblock %}

{% block page_body %}

<main>
    <div class="content-wrapper">
        <header class="setup">
            <section>
                Available grids:
                <ul class="inline-list">
                    {% for name in names %}
                    <li><a href="?name={{ name }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </section>

            {% if name and options["layout"] == "month" %}
            <section>
                Starting:
                <ul class="inline-list">
                    <li><a href="?name={{ name }}&start={{ options["last_month"]|yearmonth }}">previous month</a></li>
                    <li><a href="?name={{ name }}&start={{ options["this_month"]|yearmonth }}">this month</a></li>
                    <li><a href="?name={{ name }}&start={{ options["next_month"]|yearmonth }}">next month</a></li>
                </ul>
            </section>
            {% endif %}
        </header>

        <div class="table-wrapper">
            {% if rows %}
            <table class="grid">
                <thead>
                    <tr>
                        {% for header in headers %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
