.capture {
    display: grid;
    grid-row-gap: 1em;
    grid-template-areas: "header"
                         "reqheader"
                         "reqresponse"
                         "reqbody";
}

.capture > header {
    grid-area: header;
    padding: .5em;
    display: flex;
    justify-content: space-between;
}

.capture header {
    position: relative;
    font-style: italic;
    text-transform: uppercase;
    border-bottom: 1px solid currentColor;
    margin-bottom: 1.5em;
}

.capture .options {
    float: right;
}

.capture .reqheader {
    grid-area: reqheader;
}

.capture .reqresponse {
    grid-area: reqresponse;
}

.capture .reqbody {
    grid-area: reqbody;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
    .capture {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
        grid-row-gap: 2em;
        grid-template-areas: "header header"
                             "reqheader reqresponse"
                             "reqbody reqbody";

    }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
