[Unit]
Description=Medley
After=network.target

[Service]
Type=notify
NotifyAccess=all
User=medley
Group=medley
Environment=MEDLEY_NOTIFY_SYSTEMD_AT_STARTUP=1
WorkingDirectory={{ project_root }}
ExecStart={{ project_root }}/venv/bin/python medley.py

[Install]
WantedBy=multi-user.target
