[Unit]
Description=Medley Failure Notifier

[Service]
Type=oneshot
ExecStart={{ project_root }}/venv/bin/python {{ project_root }}/scripts/failmail.py %i {{ admin_email }}

# Local Variables:
# mode: conf
# End:
