{% extends "templates/base.jinja.html" %}
{% import "templates/macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('whois', 'whois.css') }}
{% endblock %}

{% block scripts %}
    {% if ip_address %}
        <script src="https://www.google.com/jsapi"></script>
        {{ macros.staticAsset('shared', 'js/maps.js') }}
    {% endif %}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("search") }}

    <main>
        <header id="app-nav">
            <form id="search-form" method="get" action="/whois">
                <div class="field">
                    <input
                        type="search"
                        id="address"
                        name="address"
                        value="{{ address }}"
                        autocapitalize="none"
                        placeholder="IP or host"
                    />
                </div>
                <div class="field">
                    <button>Search</button>
                </div>
            </form>
        </header>

        {% if address %}
            <section id="ip-report">
                <dl>
                    {% if "customerRef" in whois.net %}
                        <dt>Owned By</dt>
                        <dd>{{ whois.net.customerRef["@name"] }}</dd>
                    {% endif %}

                    {% if "orgRef" in whois.net %}
                        <dt>Organization</dt>
                        <dd>{{ whois.net.orgRef["@name"] }}</dd>
                    {% endif %}


                    {% if ip_facts.geo.country_name == "United States" and ip_facts.geo.city and ip_facts.geo.region_code %}
                        <dt>City</dt>
                        <dd>{{ ip_facts.geo.city}}, {{ip_facts.geo.region_code }}</dd>
                    {% elif ip_facts.geo.city and ip_facts.geo.country_name %}
                        <dt>City</dt>
                        <dd>{{ ip_facts.geo.city }}, {{ ip_facts.geo.country_name }}</dd>
                    {% elif ip_facts.geo.country_name %}
                        <dt>Country</dt>
                        <dd>{{ ip_facts.geo.country_name }}</dd>
                    {% else %}
                        <dt>Country</dt>
                        <dd>Unknown</dd>
                    {% endif %}

                    {% if ip_facts.reverse_host %}
                        <dt>Reverse Host</dt>
                        <dd>{{ ip_facts.reverse_host }}</dd>
                    {% endif %}

                    <dt>
                        <dt>IP</dt>
                        <dd>{{ ip_address }}</dd>
                    </dt>

                    {% if ip_facts.geo.area_code%}
                        <dt>Area Code</dt>
                        <dd>{{ ip_facts.geo.area_code }}</dd>
                    {% endif %}

                    {% if ip_facts.geo.metro_code %}
                        <dt>Metro</dt>
                        <dd>{{ ip_facts.geo.metro_code }}</dd>
                    {% endif %}

                    {% if visit_days_count == 1 %}
                        <dt>Activity</dt>
                        <dd>
                            1 visit on {{ earliest_visit|localtime|dateformat('LL') }}
                        </dd>
                    {% endif %}

                    {% if visit_days_count > 1 %}
                        <dt>Activity</dt>
                        <dd>
                            {{ visit_days_count|pluralize('visit', 'visits') }}
                            since {{ earliest_visit|localtime|dateformat("LL") }}.

                            <p>Last seen {{ latest_visit|localtime|ago }}.
                        </dd>
                    {% endif %}

                    {% if visit_days_count > 0 %}
                        <dd>
                            <svg class="icon">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                            <a href="{{ visitors_url }}" rel="noreferrer">
                                view
                            </a>
                        </dd>
                    {% endif %}
                </dl>

                {% if ip_facts.geo.map_region %}
                    <div class="map"
                         data-latitude="{{ ip_facts.geo.latitude }}"
                         data-longitude="{{ ip_facts.geo.longitude }}"
                         data-region="{{ ip_facts.geo.map_region }}"
                    ></div>
                {% endif %}
            </section>
        {% endif %}
    </main>
{% endblock %}
