{% extends "base.html" %}

{% set page_title = "Whois" %}

{% set home_link = True %}

{% block scripts %}
{% if ip %}
<script src="https://www.google.com/jsapi"></script>
<script src="/static/js/maps.js"></script>
{% endif %}
{% endblock %}

{% block page_body %}

<main class="ui page grid stackable">

    {% if error %}
    <div class="ui sixteen wide column">
        <div class="ui red inverted segment">
            <p>{{ error }}</p>
        </div>
    </div>
    {% endif %}

    <div class="ui sixteen wide column">
        <form class="ui form" method="get" action="/whois">
            <div class="field">
                <label for="address">IP or host</label>
                <input type="text" id="address" name="address" value="{{ address }}"/>
            </div>
            <div class="field">
                <button class="ui button">Search</button>
            </div>
        </form>
    </div>

    {% if address %}
    <div class="eight wide column">
        <h1 class="ui medium header">Details</h1>
        <div class="ui segment">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        {% if "customerRef" in whois.net %}
                        <div class="header">Owned By</div>
                        <a href="{{ whois.net.customerRef["$"] }}" target="_blank">{{ whois.net.customerRef["@name"] }}</a>
                        {% endif %}

                        {% if ip_facts.geo.country_name == "United States" and ip_facts.geo.city and ip_facts.geo.region_code %}
                        <div class="header">City</div> {{ ip_facts.geo.city}}, {{ip_facts.geo.region_code }}
                        {% elif ip_facts.geo.city and ip_facts.geo.country_name %}
                        <div class="header">City</div> {{ ip_facts.geo.city }}, {{ ip_facts.geo.country_name }}
                        {% elif ip_facts.geo.country_name %}
                        <div class="header">Country</div> {{ ip_facts.geo.country_name }}
                        {% else %}
                        <div class="header">Country</div> Unknown
                        {% endif %}
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="header">Reverse Host</div>
                        {{ reverse_host }}
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">IP</div>
                        {{ ip }}
                    </div>
                </div>

                {% if ip_facts.geo.area_code%}
                <div class="item">
                    <div class="content">
                        <div class="header">Area Code</div>
                        {{ ip_facts.geo.area_code }}
                    </div>
                </div>
                {% endif %}

                {% if ip_facts.geo.metro_code %}
                <div class="item">
                    <div class="content">
                        <div class="header">Metro</div>
                        {{ ip_facts.geo.metro_code }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <h1 class="ui medium header">Activity</h1>
        <div class="ui segment">
            <p><a href="/visitors/?q=ip+{{ ip }}" class="content"><i class="sitemap icon"></i> search for website visits</a></p>

            <p><i class="linkify icon"></i> visit over <a href="{{ address|anonymize }}" rel="noreferer">HTTP</a>,
                <a href="https://{{ address }}" rel="noreferrer">HTTPS</a>
            </p>

        </div>

    </div>


    <div class="eight wide column">
        {% if ip_facts.geo.latitude and ip_facts.geo.longitude %}
        <h1 class="ui medium header">Location</h1>
        <div class="ui segment">
            <div class="map" data-latitude="{{ ip_facts.geo.latitude }}" data-longitude="{{ ip_facts.geo.longitude }}" data-region="{{ map_region }}"></div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</main>
{% endblock %}
