{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block page_meta %}
    {# Referrer policy, see http://caniuse.com/#feat=referrer-policy #}
    <meta name="referrer" content="same-origin" />
{% endblock %}

{% block page_body %}
    <main>
        <p id="redirection-status">Redirect in progress.</p>

        <script defer>
            const destination = window.location.search.replace(/^\?u=/, '') + window.location.hash;
            const status = document.getElementById('redirection-status');

            if (destination.startsWith('http') === false) {
                status.innerHTML = 'Cannot redirect because a URL was not provided.';
            } else {
                window.location.replace(destination);
            }
        </script>
    </main>
{% endblock %}
