{% extends "templates/base.jinja.html" %}
{% import "templates/macros.jinja.html" as macros -%}

{% block page_meta %}
    {# Referrer policy, see http://caniuse.com/#feat=referrer-policy #}
    <meta name="referrer" content="same-origin" />
{% endblock %}

{% block page_body %}
    <main>
        <p id="redirection-status">Redirect in progress.</p>

        <script defer>
            const parsedUrl = new URL(window.location);
            const destination = parsedUrl.searchParams.get('u') || '';
            const status = document.getElementById('redirection-status');

            if (destination.startsWith('http') === false) {
                status.innerHTML = 'Cannot redirect. No URL given. Destination unknown.';
            } else {
                window.location.replace(destination + window.location.hash);
            }
        </script>
    </main>
{% endblock %}
