{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block page_meta %}
    {# Referer policy, see http://caniuse.com/#feat=referrer-policy #}
    <meta name="referrer" content="same-origin" />
{% endblock %}

{% block page_body %}
    <main>
        <div class="content-wrapper align-center">
            {% if not dest %}

                <p>Cannot redirect because a destination was not specified.</p>

            {% endif %}

            {% if dest %}
                <p>Redirecting to {{ dest|escapejs }}...</p>

                <script>
                    setTimeout(function () {
                        window.location.replace('{{ dest|escapejs }}' + window.location.hash);
                    });
                </script>
            {% endif %}
        </div>
    </main>
{% endblock %}
