{% extends "base.html" %}

{% set page_title = "Calls" %}
{% set home_link = True %}

{% block page_body %}
<main class="ui stackable page grid">
    <div class="ui sixteen wide column">

	{% if calls|length == 0 %}
	<p>No calls.</p>
	{% endif %}

	{% if calls|length > 0 %}
	<div class="sleeve">
	    {% if prev_offset >= 0 %}
	    <a href="/calls?offset={{ prev_offset }}">Newer</a>
	    {% endif %}

	    {% if next_offset < total %}
            <a href="/calls?offset={{ next_offset }}">Older</a>
	    {% endif %}

            <table class="ui table unstackable">
		<thead>
		    <tr>
			<th>Date</th>
			<th>Source</th>
			<th>Channel</th>
			<th>Destination</th>
			<th>Duration</th>
			<th>Last App</th>
		    </tr>
		</thead>
		<tbody>
		    {% for call in calls %}
		    <tr>
			<td nowrap="nowrap">
			    {{ call["date"]|localtime("date") }}
			    <p class="small">{{ call["date"]|localtime("time12")}}</p>
			</td>
			<td>
			    {{ call["clid"] }}
			    <div class="small">{{ call["src"] }}</div>
			</td>
			<td>
			    <div class="small">{{ call["channel"] }}</div>
			</td>
			<td>
			    {{ call["dst"] }}
			    <div class="small">{{ call["dstchannel"] }}</div>
			</td>
			<td>
			    {{ call["duration"] }}
			    <p class="small">{{ call["end_date"]|localtime("time12")}}</p>

			</td>
			<td nowrap="nowrap">
			    {{ call["lastapp"] }}
			    <p class="small">{{ call["lastdata"]}}</p>
			</td>
		    </tr>
		    {% endfor %}
		</tbody>
	    </table>
	</div>
	{% endif %}
    </div>
</main>

{% endblock %}
