{% extends "apps/static/templates/base.jinja.html" %}

{% block page_body %}
    <main>
        {{ macros.svgSymbols("arrow-right", "arrow-left") }}

        {% if not calls %}
            <p>No calls.</p>
        {% else %}

            <section class="table-sleeve">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>From</th>
                            <th>Destination</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for call in calls %}
                            <tr>
                                <td nowrap>
                                    {{ call["date"]|dateformat("%Y-%m-%d") }}
                                    <div class="smaller">{{ call["date"]|dateformat("%-I:%M %p")}}</div>
                                </td>
                                <td nowrap>
                                    {{ call["clid"]|sane_callerid() }}
                                    <div class="smaller">{{ call["src"]|phonenumber(as_link=True)|safe }}</div>
                                </td>
                                <td nowrap>
                                    {% if call["dst"]|length < 3 or "NOANSWER" in call["dst"] %}
                                        {{ call["dst"]|phonenumber }}
                                    {% else %}
                                        {{ call["dst"]|phonenumber(as_link=True)|safe }}
                                    {% endif %}
                                </td>
                                <td nowrap>
                                    {{ call["duration"] }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>

            {{ macros.pagination(pagination_url, offset, per_page, total_records) }}
        {% endif %}
    </main>

{% endblock %}
