{% extends "base.html" %}

{% set page_title = "Archive" %}

{% set home_link = True %}

{% block scripts %}
<script src="/static/js/archive.js"></script>
{% endblock %}

{% block page_body %}

<main class="ui page grid stackable">
    <form class="ui form sixteen wide column" method="get" action="/archive">
        <div class="fields">
            <div class="fifteen wide field">
                <input type="text" id="q" name="q" value="{{ q }}"/>
            </div>
            <div class="one wide field">
                <button class="ui button">Search</button>
            </div>
        </div>
    </form>

    <div class="ui feed sixteen wide column">

        <p {% if entries %}class="hidden nothing-message"{% endif %}>Nothing found</p>

        {% for key, entries in entries.items() %}
        <h1 class="ui medium header">{{ entries[0].created|localtime("date-full") }}</h1>
        {% for entry in entries %}
        <div class="event">
            <div class="label">
                <i class="{{entry.record_type}} icon"></i>
            </div>
            <div class="content">
                <div class="date">
                    {{ entry.created|localtime("time12") }}
                </div>
                <div class="summary">
                    <a href="{{ entry.url|anonymize }}" rel="noreferrer" target="_blank">{{ entry.title }}</a>
                </div>
                <div class="meta">
                    <a href="{{ entry.domain|anonymize }}" rel="noreferrer" target="_blank">{{ entry.domain }}</a>
                </div>
                {% if not entry.has_fulltext %}
                <div class="meta">
                    No fulltext available
                </div>
                {% endif %}


                {% if entry.comments %}
                <div class="extra text}">
                    {{ entry.comments }}
                </div>

                {% endif %}
                <form method="post" action="/archive">
                    <input type="hidden" name="action" value="delete" />
                    <input type="hidden" name="bookmark_id" value="{{ entry.rowid }}" />
                    <noscript><button>Delete</button></noscript>
                    <a href="#" class="hidden delete">Delete</a>
                </form>


            </div>
        </div>
        {% endfor %}

        {% endfor %}
    </div>
</main>

{% endblock %}
