{% import "macros.jinja.html" as macros -%}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        />

        <meta
            name="theme-color"
            content="#044B7F"
        />

        {{ macros.staticAsset('shared', 'css/medley.css') }}

        {% block stylesheets %}{% endblock %}

        {% block app_icon -%}
        <link rel="shortcut icon" href="/shared/static/app-icon.png" />
        <link rel="mask-icon" href="/shared/static/app-icon.svg" color="black">
        {%- endblock %}

        <meta name="medley-home" content="{{ '/' | internal_url }}" />
        <meta name="medley-startpage" content="{{ '/startpage' | internal_url }}" />

        {% block page_meta %}{% endblock %}
    </head>
    <body>
        <header id="page-header">
            <h1>
                <a href="{{ '/' | internal_url }}">Medley</a>
                {% if app_name -%}
                    : <a href="{{ app_url }}">{{ app_name|capitalize }}</a>
                {%- endif %}
            </h1>

            <span class="focus-buffer-display"></span>

            {% block main_toolbar %}
            {% endblock %}

        </header>

        {% block app_message -%}
            <div id="app-message" hidden></div>
        {%- endblock %}

        {% block page_body %}{% endblock %}

        {{ macros.staticAsset('shared', 'js/medley.js') }}

        {% block scripts %}{% endblock %}
    </body>
</html>
