{% import "macros.jinja.html" as macros -%}
<!DOCTYPE html>
<html>
    <head>
        {% if app_name == "Homepage" -%}
            <title>Medley</title>
        {%- else -%}
            <title>{{ app_name or "Medley" }}</title>
        {%- endif %}

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        />

        <meta
            name="theme-color"
            content="#044B7F"
        />

        {{ macros.staticAsset('shared', 'css/medley.css') }}

        {% block stylesheets %}{% endblock %}

        {% block app_icon -%}
        <link rel="shortcut icon" href="/shared/static/app-icon.png" />
        <link rel="mask-icon" href="/shared/static/app-icon.svg" color="black">
        {%- endblock %}

        <meta name="medley-home" content="{{ '/' | internal_url }}" />
        <meta name="medley-startpage" content="{{ '/startpage' | internal_url }}" />

        {% block page_meta %}{% endblock %}
    </head>
    <body id="{{ body_id }}">
        <header id="page-header">
            <h1>
                <a href="{{ '/' | internal_url }}">Medley</a>
                {% if app_url -%}
                    : <a href="{{ app_url }}">{{ app_name }}</a>
                {%- endif %}
            </h1>

            <span class="focus-buffer-display"></span>
        </header>

        {% block app_message -%}
            <div id="app-message" hidden></div>
        {%- endblock %}

        {% block page_body %}{% endblock %}

        {{ macros.staticAsset('shared', 'js/medley.js') }}

        {% if use_service_workers -%}
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/worker.js').then(registration => {
                    console.info(`Service worker registered with scope ${registration.scope}`);
                }).catch(error => console.error(error));
            } else {
                console.info('Service workers are not supported here.');
            }
        </script>
        {%- endif %}
        {% block scripts %}{% endblock %}
    </body>
</html>
