{% import "macros.jinja.html" as macros -%}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ app_name or "Medley" }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

        {{ macros.staticAsset('shared', 'css/normalize.css') }}
        {{ macros.staticAsset('shared', 'css/medley.css') }}

        {% block stylesheets %}{% endblock %}

        <link rel="apple-touch-icon" sizes="76x76" href="/shared/static/favicon/favicon-76.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="/shared/static/favicon/app-icon-120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/shared/static/favicon/app-icon-120.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/shared/static/favicon/app-icon-152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/shared/static/favicon/app-icon-180.png"/>
        <link rel="mask-icon" href="/shared/static/favicon/app-icon.svg" color="black">

        <meta name="msapplication-TileColor" content="#272e6a" />
        <meta name="msapplication-TileImage" content="/shared/static/favicon/app-icon-144.png" />

        {% block page_meta %}{% endblock %}

    </head>
    <body id="{{ body_id }}">
        {{ macros.svgSymbols("link", "arrow-right", "arrow-left") }}

        <header id="page-header">
            <h1>
                <a rel="home" href="/">Medley</a>
                {% if app_url %}
                    : <a href="{{ app_url }}">{{ app_name }}</a>
                {% endif %}
            </h1>

            <span class="focus-buffer-display"></span>
        </header>

        {% block page_body %}{% endblock %}

        {{ macros.staticAsset('shared', 'js/jquery-3.2.1.min.js') }}
        {{ macros.staticAsset('shared', 'js/medley.js') }}


        {% if use_service_workers %}
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/worker.js').then(registration => {
                    console.info(`Service worker registered with scope ${registration.scope}`);
                }).catch(error => console.error(error));
            } else {
                console.info('Service workers are not supported here.');
            }
        </script>
        {% endif %}

        {% block scripts %}{% endblock %}

    </body>
</html>
