<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700italic" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/medley.css" />

        {% block stylesheets %}{% endblock %}

        <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/favicon-76.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/app-icon-120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/app-icon-120.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/app-icon-152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/app-icon-180.png"/>
        <meta name="msapplication-TileColor" content="#272e6a" />
        <meta name="msapplication-TileImage" content="/static/favicon/app-icon-144.png" />

    </head>
    <body>

        <svg class="svg-defs" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <symbol id="icon-arrow-right" viewBox="0 0 1024 1024">
                    <title>arrow-right</title>
                    <path class="path1" d="M992 512l-480-480v288h-512v384h512v288z"></path>
                </symbol>
                <symbol id="icon-arrow-left" viewBox="0 0 1024 1024">
                    <title>arrow-left</title>
                    <path class="path1" d="M32 512l480 480v-288h512v-384h-512v-288z"></path>
                </symbol>
                <symbol id="icon-home" viewBox="0 0 1024 1024">
                    <title>home</title>
                    <path class="path1" d="M1024 590.444l-512-397.426-512 397.428v-162.038l512-397.426 512 397.428zM896 576v384h-256v-256h-256v256h-256v-384l384-288z"></path>
                    </symbol>
            </defs>
        </svg>


        <header id="page-header">
            <h1>{{ page_title }}</h1>

            {% if home_link %}
            <a class="home" href="/" title="Return to the homepage"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg></a>
            {% endif %}

        </header>

        {% block page_body %}{% endblock %}

        <div id="shortcuts">
            <i class="close icon"></i>
            <h1 class="header">
                Keyboard shortcuts
            </h1>
            <div class="content">
                <table class="ui two column table">
                    <thead>
                        <tr>
                            <th>If you press…</th>
                            <th>Then you…</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>H</td>
                            <td>go back to the homepage</td>
                        </tr>
                        <tr>
                            <td>ESC</td>
                            <td>go back to the page you were originally viewing</td>
                        </tr>
                        <tr>
                            <td>?</td>
                            <td>show the keyboard shortcut list</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/static/js/medley.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
