<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
        <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/medley.css" />
    </head>
    <body>
        <header>
            {% if back_link %}
            <a class="svg-arrow back" href="{{ back_link }}" title="Back to the main page">Back</a>
            {% endif %}

            {% if home_link %}
            <a class="svg-arrow home" href="/" title="Return to the homepage">Home</a>
            {% endif %}

            <h1>{{ page_title }}</h1>
            {% block page_header %}{% endblock %}
        </header>
        <main class="stackable ui grid">{% block page_body %}{% endblock %}</main>

        <script src="/static/js/jquery-2.1.1.min.js"></script>
        <script src="/static/js/medley.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
