{% extends "base.html" %}

{% set page_title = "Headers" %}
{% set home_link = True %}

{% block page_body %}

<main class="ui page grid stackable">
    <div class="column">
        <table class="ui definition table">
            <tbody>
                {% for key, value in headers %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
