{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/focus-as-you-type.js"></script>
<script src="/static/js/index.js"></script>
{% endblock %}

{% block page_body %}

<main class="ui page grid stackable">
    {% for name, description in user_facing_apps %}
    <div class="eight wide column">
        <a href="/{{ name }}" class="ui fluid card">
            <div class="content">
                <div class="header">{{ name}}</div>
                <div class="description">{{ description }}</div>
            </div>
        </a>
    </div>
    {% endfor %}

    <div class="ui divider"></div>

    <h1 class="ui header">Service Apps</h1>
    {% for name, description in service_apps %}
    <div class="eight wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">{{ name}}</div>
                <div class="description">{{ description }}</div>
            </div>
        </div>
    </div>
    {% endfor %}

</main>

{% endblock %}
