{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/focus-as-you-type.js"></script>
<script src="/static/js/index.js"></script>
{% endblock %}

{% block page_body %}

<main class="ui page grid stackable">
    {% for name, description in apps %}
    <div class="eight wide column">
        <a href="/{{ name }}" class="ui fluid card">
            <div class="content">
                <div class="header">{{ name}}</div>
                <div class="description">{{ description }}</div>
            </div>
        </a>
    </div>
    {% endfor %}
</main>

{% endblock %}
