{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/focus-as-you-type.js"></script>
<script src="/static/js/index.js"></script>
{% endblock %}

{% block page_body %}

<main>
    <div class="module-grid">
        {% for name, description in user_facing_apps %}
        <a class="module" href="/{{ name }}">
            <h2>{{ name }}</h2>
            <p>{{ description }}</p>
        </a>
        {% endfor %}
    </div>


    <h1 class="module-grid-title">Services</h1>
    <div class="module-grid">
        {% for name, description in service_apps %}
        <div class="module">
            <h2>{{ name}}</h2>
            <p>{{ description }}</p>
        </div>
        {% endfor %}
    </div>

</main>

{% endblock %}
