{% extends "base.html" %}

{% set page_title = "IP" %}
{% set home_link = True %}

{% block page_body %}

<main class="ui page grid">
        {% if result %}
        <div class="sixteen wide column">
            <p>{{ result }}</p>
        </div>
        {% else %}
        <div class="center aligned six wide centered column">
            <div class="ui segment">
                <p>Your address is {{ address }}</p>

                <p>The external address is {{ external_ip }}</p>
            </div>
        </div>
        {% endif %}
</main>
{% endblock %}
