{% extends "base.html" %}

{% set page_title = "Later" %}

{% set home_link = True %}

{% block scripts %}
<script src="/static/js/later.js"></script>
{% endblock %}


{% block page_body %}

<main class="ui page grid stackable">
    <div class="ui sixteen wide right aligned column">
        Bookmarklet:
        <a href="javascript:void(window.open('http://medley.lovett.link:8085/later?action=edit&comments=' + window.getSelection().toString() + '&url='+encodeURIComponent(window.location.href), 'later'))">⚡ later</a>

    </div>

    <div class="ui sixteen wide column">

        <div class="ui {% if error %}error{% endif %} form">

            <div class="ui error message">{{ error }}</div>
            <div class="hidden ui green message">Success!</div>

            <input type="hidden" name="action" value="save" />

            <div class="field">
                <label for="url">Title:</label>
                <input type="text" id="title" name="title" value="{{ title|default('', true) }}"/>
            </div>

            <div class="field">
                <label for="address">Address:</label>
                <input type="text" id="address" name="url" value="{{ url|default('', true) }}"/>
                <p class="shortcuts"><a class="remove-querystring" href="#">Remove querystring</a></p>
            </div>


            <div class="field">
                <label for="url">Tags:</label>
                <input type="text" id="tags" name="tags" value="{{ tags|default('', true) }}"/>
            </div>

            <div class="field">
                <label for="comments">Comments:</label>
                <textarea id="comments" name="comments">{{ comments|default('', true) }}</textarea>
            </div>

            <div class="field">
                <button class="ui submit button">Save</button>
            </div>
        </div>
    </div>

</main>


{% endblock %}
