{% extends "base.html" %}

{% set page_title = "Lettercase" %}
{% set home_link = True %}

{% block page_header %}
{% endblock %}

{% block page_body %}
<form class="sixteen wide column ui form" method="post" action="/lettercase">
    <div class="field">
        <label for="value">Input:</label>
        <textarea id="value" name="value" value="{{ value|default('', true) }}" autofocus></textarea>
    </div>
    <div class="field">
        <label for="style">Convert to:</label>
        <select id="style" name="style" class="ui">
            {% for option in styles %}
            <option value="{{ option }}" {% if option == style %}selected{% endif %}>{{ option|title }}case</option>
            {% endfor %}
        </select>
    </div>
    {% include "submit.html" %}
</form>

{% if result %}
<div class="results sixteen wide column">
    <p>{{ result }}</p>
</div>
{% endif %}
</form>

{% endblock %}
