{% macro copyToClipboard(value, light=False) %}
<a class="copy-to-clipboard" data-copytarget="{{ value }}" href="#">
    <svg class="icon icon-copy {% if light %}light{% endif %}"><use xlink:href="#icon-copy"></use></svg>
</a>
{% endmacro %}

{% macro cacheBustedStylesheet(app, file_name) %}
<link rel="stylesheet" type="text/css" href="{{ '/{}/static/{}'.format(app, file_name)|cache_bust }}" />
{% endmacro %}

{% macro cacheBustedScript(app, file_name) %}
<script src="{{ '/{}/static/{}'.format(app, file_name)|cache_bust }}"></script>
{% endmacro %}
