{# Instantiate a Vue application instance.

This loads the Vue library along with the desired component files. It also
instantiates a root Vue instance which renders each component. #}
{% macro vueApp(el_selector, components=(), app_name='app', with_library=True) %}

    {% if with_library %}
        <script src="/shared/static/js/vue.js"></script>
    {% endif %}

    {% for component in components %}
        {% if component.startswith('/') %}
            <script src="{{ component|cache_bust }}"></script>
        {% else %}
            <script src="{{ '/shared/static/components/{}.js'.format(component)|cache_bust }}"></script>
        {% endif %}
    {% endfor %}

    <script>
        const {{ app_name }} = new Vue({
            el: '{{ el_selector }}',
        })
    </script>
{% endmacro %}

{# Bring SVG symbol definitions onto the page in a hidden SVG tag.

This is the master list of all available symbols. Only the ones specified
in the argument list are returned.  #}
{% macro svgSymbols() %}
    <svg class="svg-defs" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            {% if "delete" in varargs %}
                <symbol id="delete" viewBox="0 0 1024 1024">
                    <title>Delete</title>
                    <path class="path1" d="M128 320v640c0 35.2 28.8 64 64 64h576c35.2 0 64-28.8 64-64v-640h-704zM320 896h-64v-448h64v448zM448 896h-64v-448h64v448zM576 896h-64v-448h64v448zM704 896h-64v-448h64v448z"></path>
                    <path class="path2" d="M848 128h-208v-80c0-26.4-21.6-48-48-48h-224c-26.4 0-48 21.6-48 48v80h-208c-26.4 0-48 21.6-48 48v80h832v-80c0-26.4-21.6-48-48-48zM576 128h-192v-63.198h192v63.198z"></path>
                </symbol>
            {% endif %}
            {% if "copy" in varargs %}
                <symbol id="copy" viewBox="0 0 32 32">
                    <title>Copy</title>
                    <path d="M20 8v-8h-14l-6 6v18h12v8h20v-24h-12zM6 2.828v3.172h-3.172l3.172-3.172zM2 22v-14h6v-6h10v6l-6 6v8h-10zM18 10.828v3.172h-3.172l3.172-3.172zM30 30h-16v-14h6v-6h10v20z"></path>
                </symbol>
            {% endif %}
            {% if "new-item" in varargs %}
                <symbol id="new-item" viewBox="0 0 32 32">
                    <title>New item</title>
                    <path d="M28.681 7.159c-0.694-0.947-1.662-2.053-2.724-3.116s-2.169-2.030-3.116-2.724c-1.612-1.182-2.393-1.319-2.841-1.319h-15.5c-1.378 0-2.5 1.121-2.5 2.5v27c0 1.378 1.122 2.5 2.5 2.5h23c1.378 0 2.5-1.122 2.5-2.5v-19.5c0-0.448-0.137-1.23-1.319-2.841zM24.543 5.457c0.959 0.959 1.712 1.825 2.268 2.543h-4.811v-4.811c0.718 0.556 1.584 1.309 2.543 2.268zM28 29.5c0 0.271-0.229 0.5-0.5 0.5h-23c-0.271 0-0.5-0.229-0.5-0.5v-27c0-0.271 0.229-0.5 0.5-0.5 0 0 15.499-0 15.5 0v7c0 0.552 0.448 1 1 1h7v19.5z"></path>
                </symbol>
            {% endif %}
            {% if "icon-tag" in varargs %}
                <symbol id="icon-tag" viewBox="0 0 32 32">
                    <title>tag</title>
                    <path d="M30.5 0h-12c-0.825 0-1.977 0.477-2.561 1.061l-14.879 14.879c-0.583 0.583-0.583 1.538 0 2.121l12.879 12.879c0.583 0.583 1.538 0.583 2.121 0l14.879-14.879c0.583-0.583 1.061-1.736 1.061-2.561v-12c0-0.825-0.675-1.5-1.5-1.5zM23 12c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"></path>
                </symbol>
            {% endif %}

        </defs>
    </svg>
{% endmacro %}


{% macro staticAsset(app, file_name, cache_bust=True) %}
    {% if cache_bust %}
        {% set url_path = "/{}/static/{}".format(app, file_name)|cache_bust %}
    {% else %}
        {% set url_path = "/{}/static/{}".format(app, file_name) %}
    {% endif %}

    {% if file_name.endswith("css") %}
        <link rel="stylesheet" type="text/css" href="{{ url_path }}" />
    {% endif %}

    {% if file_name.endswith("js") %}
        <script src="{{ url_path }}"></script>
    {% endif %}
{% endmacro %}

{%- macro link(text, url, separator="") -%}
{{separator}} <a href="{{url}}" rel="noreferrer">{{text}}</a>
{%- endmacro -%}

{% macro queryPlan(rows) -%}
    {% if rows|count > 0 %}
        <div class="content-wrapper debug">
            <a href="#" class="toggle-trigger" rel="noreferrer"><span>Show</span> query details</a>
            <div class="toggle-target hidden" style="padding-top: 1em">
                <table>
                    <thead>
                        <tr>
                            <th>selectid</th>
                            <th>order</th>
                            <th>from</th>
                            <th>detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td>{{ row.selectid }}</td>
                                <td>{{ row.order }}</td>
                                <td>{{ row.from }}</td>
                                <td>{{ row.detail }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{%- endmacro -%}
