{# Instantiate a Vue application instance.

This loads the Vue library along with the desired component files. It also
instantiates a root Vue instance which renders each component. #}
{% macro vueApp(el_selector, components=(), app_name='app', with_library=True) %}

    {% if with_library %}
        <script src="/shared/static/js/vue.js"></script>
    {% endif %}

    {% for component in components %}
        <script src="{{ '/shared/static/components/{}.js'.format(component)|cache_bust }}"></script>
    {% endfor %}

    <script>
        const {{ app_name }} = new Vue({
            el: '{{ el_selector }}',
        })
    </script>
{% endmacro %}

{# Bring SVG symbol definitions onto the page in a hidden SVG tag.

This is the master list of all available symbols. Only the ones specified
in the argument list are returned.  #}
{% macro svgSymbols() %}
    <svg class="svg-defs" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            {% if "delete" in varargs %}
                <symbol id="delete" viewBox="0 0 1024 1024">
                    <title>Delete</title>
                    <path class="path1" d="M128 320v640c0 35.2 28.8 64 64 64h576c35.2 0 64-28.8 64-64v-640h-704zM320 896h-64v-448h64v448zM448 896h-64v-448h64v448zM576 896h-64v-448h64v448zM704 896h-64v-448h64v448z"></path>
                    <path class="path2" d="M848 128h-208v-80c0-26.4-21.6-48-48-48h-224c-26.4 0-48 21.6-48 48v80h-208c-26.4 0-48 21.6-48 48v80h832v-80c0-26.4-21.6-48-48-48zM576 128h-192v-63.198h192v63.198z"></path>
                </symbol>
            {% endif %}
            {% if "copy" in varargs %}
                <symbol id="copy" viewBox="0 0 32 32">
                    <title>Copy</title>
                    <path d="M20 8v-8h-14l-6 6v18h12v8h20v-24h-12zM6 2.828v3.172h-3.172l3.172-3.172zM2 22v-14h6v-6h10v6l-6 6v8h-10zM18 10.828v3.172h-3.172l3.172-3.172zM30 30h-16v-14h6v-6h10v20z"></path>
                </symbol>
            {% endif %}

        </defs>
    </svg>
{% endmacro %}


{% macro cacheBustedStylesheet(app, file_name) %}
<link rel="stylesheet" type="text/css" href="{{ '/{}/static/{}'.format(app, file_name)|cache_bust }}" />
{% endmacro %}

{% macro cacheBustedScript(app, file_name) %}
<script src="{{ '/{}/static/{}'.format(app, file_name)|cache_bust }}"></script>
{% endmacro %}

{%- macro link(text, url, separator="") -%}
{{separator}} <a href="{{url}}" rel="noreferrer">{{text}}</a>
{%- endmacro -%}

{% set bookmarkletIcon = "🔖" %}
