{% extends "base.html" %}

{% block page_body %}
<div class="sixteen wide column">
    <h1 class="ui segment small inverted {% if result == "ok"%}green{%else%}red{%endif%} header">{{ result|capitalize}}</h1>

    {% for command in commands %}
    <div class="ui segment">
        <p>{{ command|join(" ") }}</p>
        <p>{{ command_results[loop.index0][0] }}</p>

        {% if command_results[loop.index0][1] %}
        <p>{{ command_results[loop.index0][1] }}</p>
        {% endif %}
    </div>

    {% endfor %}
</div>

{% endblock %}
