{% extends "base.html" %}


{% if state_name %}
{% set page_title = "Phone Lookup: " + number_formatted %}
{% set back_link = "/phone" %}
{% else %}
{% set page_title = "Phone Lookup" %}
{% set home_link = True %}
{% endif %}

{% block scripts %}
<script src="https://www.google.com/jsapi"></script>
<script src="/static/js/maps.js"></script>
{% endblock %}

{% block page_body %}
{% if number %}
<div class="eight wide column">

    {% if history|length > 0 and history[0]["clid"] != number %}
    <h1 class="ui top attached tiny inverted green header">Caller ID</h1>
    <div class="ui segment attached">
        {{ history[0]["clid"] }}
    </div>
    {% endif %}

    <h1 class="ui top attached tiny inverted green header">Links</h1>
    <div class="ui segment attached">
        <p class="supplemental"><a href="{{ whitepages_url }}" target="_blank" rel="noreferrer">Search Whitepages.com</a></p>
        <p class="supplemental"><a href="{{ bing_url }}" target="_blank" rel="noreferrer">Search Bing</a></p>
    </div>

    {% if history|length > 0 %}
    <h1 class="ui top attached tiny inverted green header">Recent Calls</h1>
    <div class="ui segment attached">
        <ul class="ui list recent-calls">
            {% for entry in history %}
            <li>
                <time>{{ entry["date"]|datetime("time12")}} on {{ entry["date"]|datetime("date-full") }}</time>
                <div>Called {{ entry["dst"]}} for {{ entry["duration"] }} ending with {{ entry["lastapp"] }}</div>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="ui basic segment">
        <div class="ui tiny teal button toggle-trigger"><span>Show</span> Sparql Queries</div>
        <div class="toggle-target hidden">
            {% for query in sparql %}
            <pre>{{ query|unindent|escape }}</pre>
            {% endfor %}
        </div>
    </div>
</div>

<div class="eight wide column">
    <h1 class="ui top attached tiny inverted green header">
        Location{%if  state_name %}: {{ state_name }}{% endif %}
    </h1>
    <div class="ui segment attached">
        <p>{{ comment }}</p>
    </div>
    <div class="map" data-region="US" data-location="{{state_abbreviation}}"></div>

</div>
{% else %}
<form class="ui form sixteen wide column" method="get" action="/phone">
    <div class="field">
        <label for="number">Number:</label>
        <input type="text" id="number" name="number" autofocus/>
    </div>

    {% include "submit.html" %}
</form>
{% endif %}
{% endblock %}
