{% extends "base.html" %}

{% set page_title = "Visitors" %}

{% set home_link = True %}

{% block scripts %}
<script src="/static/js/visitors.js"></script>
{% endblock %}

{% block page_body %}

<main class="ui stackable page grid">
    <div class="ui sixteen wide column">
        <form class="ui form" method="get" action="/visitors">
            <div class="field">
                <label for="saved">Saved Queries</label>
                <select id="saved">
                    <option value=""></option>
                    {% for query in saved_queries %}
                    <option value="{{ query.value }}" {% if query.key == active_query %}selected="selected"{% endif %}>{{ query.key }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="field">
                <label for="q">Query:</label>
                <textarea id="q" name="q">{{ q|default('', true) }}</textarea>
                <div class="shortcuts">
                    <strong>Shortcuts:</strong>
                    <a href="#" class="ui mini button item" data-keyword="date" data-value="today"><i class="calendar icon"></i> Today</a>
                    <a href="#" class="ui mini button item" data-keyword="date" data-value="yesterday"><i class="calendar icon"></i> Yesterday</a>
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <button id="submit" class="ui button"><i class="send icon"></i> Run query</button>
                </div>
                <div class="field">
                    <button id="save" class="ui button"><i class="bookmark icon"></i> Save query</button>
                </div>
            </div>
        </form>
    </div>

    {% if results|length() == 0 %}
    <div class="sixteen wide column">
        <div class="ui segment">
            <p>No results found.</p>
        </div>
    </div>
    {% endif %}


    {% if results|length() > 0 %}
    <div class="sixteen wide column">

        <div class="ui segment">
            <div class="ui grid">
                <div class="ten wide column">
                    {% if result_limit < total_matches %}
                    <p>Showing {{ result_limit }} of {{ total_matches|pluralize("match", "matches") }}</p>
                    {% else %}
                    <p>Showing {{ total_matches|pluralize("match", "matches") }}</p>
                    {% endif %}
                </div>
                <div class="six wide right aligned column">
                    <a id="matches-master-toggle" class="master-toggle" href="#"><span class="label">expand</a> all</a>
                </div>
            </div>
        </div>

        <div id="deltas" class="ui segment hidden">
        </div>
        <div class="sleeve">
            <table id="matches" class="ui table unstackable">
                <thead>
                    <tr>
                        <th class="one wide">Location</th>
                        <th class="three wide">IP</th>
                        <th class="five wide">Date</th>
                        <th class="five wide">Request</th>
                        <th class="one wide">Code</th>
                        <th class="one wide"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr class="result">
                        <td>
                            <span class="help" title="{{ result.ip_facts.geo.country_name }}"><i class="{{ result.ip_facts.geo.country_code|lower()}} flag"></i></span>
                            {% if result.ip_facts.geo.continent == "NA" %}
                            {{ result.ip_facts.geo.region_code|default("", true) }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="/visitors?q=ip+{{ result.ip }}" title="Search for visits from this address">{{ result.ip }}</a>
                            {% if result.ip_facts.organization %}
                            <p class="small">{{ result.ip_facts.organization }}</p>
                            {% endif %}

                            {% for annotation in result.ip_facts.annotations %}
                            <p class="small">{{ annotation }}</p>
                            {% endfor %}
                        </td>
                        <td nowrap="nowrap">
                            <a class="calc-delta" data-timestamp-unix="{{ result.timestamp_unix }}" href="#"><i class="icon flag"></i></a>
                            <a href="/visitors?q=date+{{ result.timestamp|localtime('date') }}" title="Search for visits on this date to this page">{{ result.timestamp|localtime('date') }}</a>
                            at {{ result.timestamp|localtime('time12') }}

                            {% if result.ip_facts.geo.time_zone %}
                            <p class="small">
                                {{ result.timestamp|localtime('time12', result.ip_facts.geo.time_zone) }} local time
                            </p>
                            {% endif %}

                            <p class="small delta {% if loop.last %}hidden{% endif %}" data-default="{{ result.delta}}"><i class="icon wait"></i> <span class="value">{{ result.delta }}</span></p>
                        </td>
                        <td nowrap="nowrap">
                            <a href="/visitors?q=date+{{ result.timestamp|localtime('date') }},include+{{result.method}}+{{result.uri}}" title="Search for visits to this page">{{ result.method }} {{ result.uri|truncate(30, True) }}</a>
                            <p class="small">
                                {{ result.agent|useragent()|truncate(50) }}
                                {% if result.referrer and result.referrer_domain not in site_domains  %}
                                <br/>
                                Referrer: <a href="{{ result.referrer }}" target="_blank" rel="noreferrer">{{ result.referrer_domain }}</a>
                                {% endif %}
                            </p>
                        </td>
                        <td><span class="help" title="{{ result.statusCode|status_message()}}">{{ result.statusCode }}</span></td>
                        <td class="right aligned">
                            <a href="#" class="toggle toggle-next-row"><i class="cubes icon"></i><span class="label">more</span></a>
                        </td>
                    </tr>
                    <tr class="expandable">
                        <td colspan="6">
                            <p class="wordwrap"><code>{{ result.line }}</code></p>

                            <div class="ui grid">
                                <div class="right floated right aligned eight wide column horizontal linkset">
                                    <a href="/annotations/ip:{{ result.ip}}"> <i class="bookmark icon"></i> annotate</a>
                                    <a href="/whois/{{ result.ip }}" target="_blank"><i class="search icon"></i> whois</a>
                                </div>

                                {% if result.ip_facts.geo.city %}
                                <div class="left floated eight wide column">
                                    <i class="map icon"></i>
                                    {{ result.ip_facts.geo.city|default("", true) }}
                                </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="ui segment">
            <p>This query ran in {{ duration|round(4) }} seconds</p>
        </div>

        {% endif %}
    </div>
</main>

{% endblock %}
