{% extends "base.html" %}

{% set page_title = "Visitors" %}

{% set home_link = True %}

{% block scripts %}
<script src="/static/js/visitors.js"></script>
{% endblock %}

{% block page_body %}

<main class="ui page grid stackable">
    <div class="ui sixteen wide column">
        <form class="ui form" method="get" action="/visitors">
            <div class="field">
                <label for="saved">Saved Queries</label>
                <select id="saved">
                    {% for query in queries %}
                    <option value="{{ query.value }}">{{ query.key }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="field">
                <label for="q">Query:</label>
                <textarea id="q" name="q">{{ q|default('', true) }}</textarea>
                <div class="shortcuts">
                    <strong>Shortcuts:</strong>
                    <a href="#" class="item" data-keyword="date" data-value="today"><i class="calendar icon"></i> Today</a>
                    <a href="#" class="item" data-keyword="date" data-value="yesterday"><i class="calendar icon"></i> Yesterday</a>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <button id="submit" class="ui button"><i class="send icon"></i> Run query</button>
                </div>
                <div class="field">
                    <button id="save" class="ui button"><i class="bookmark icon"></i> Save query</button>
                </div>
            </div>
        </form>
    </div>

    {% if results != none %}
    <div class="ui sixteen wide column">

        {% if results|length() == 0 %}
        <div class="ui segment">
            <p>No results found.</p>
        </div>
        {% endif %}

        {% if results|length() > 0 %}
        <table class="ui table">
            <thead>
                <tr>
                    <th class="three wide">IP</th>
                    <th class="one wide">Date</th>
                    <th class="two wide">Time</th>
                    <th class="five wide">Request</th>
                    <th class="one wide">Response</th>
                    <th class="one wide"></th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>
                        <span class="help" title="{{ result.geo.country_name }}"><i class="{{ result.geo.country_code|lower()}} flag"></i></span>
                        <a href="/visitors?q=include+{{ result.ip }}" title="Search for visits from this address">{{ result.ip|truncate(20, true) }}</a>
                        <div>{{ result.ip_label|default('', true) }}</div>
                    </td>
                    <td><a href="/visitors?q=date+{{ result.local_date }}%0Ainclude+{{ result.method}}+{{result.uri}}" class="nowrap" title="Search for visits on this date to this page">{{ result.local_date }}</a></td>
                    <td><span class="nowrap">{{ result.local_time }}</span></td>
                    <td>
                        <a href="/visitors?q=include+{{result.method}}+{{result.uri}}" title="Search for visits to this page">{{ result.method }} {{ result.uri|truncate(50, True) }}</a>
                        <p>
                            {{ result.agent|useragent() }}
                            {% if result.referrer and result.referrer_domain not in site_domains  %}
                            <br/>
                            Referrer: <a href="{{ result.referrer }}" target="_blank" rel="noreferrer">{{ result.referrer_domain }}</a>
                            {% endif %}
                        </p>
                    </td>
                    <td><span class="help" title="{{ result.statusCode|status_message()}}">{{ result.statusCode }}</span></td>
                    <td class="right aligned">
                        <a href="#" class="row-toggle"><i class="cubes icon"></i><span class="label">more</span></a>
                    </td>
                </tr>
                <tr class="expandable">
                    <td colspan="6" class="active">
                        <p><code>{{ result.line }}</code></p>

                        <div class="ui grid">
                            <div class="right floated right aligned two wide column">
                                <a href="/whois/{{ result.ip }}"><i class="search icon"></i> whois</a>
                            </div>
                            <div class="right floated right aligned two wide column">
                                <a href="/annotations/ip:{{ result.ip}}"><i class="bookmark icon"></i> annotate</a>
                            </div>
                            <div class="left floated left aligned twelve wide column">
                                <i class="map icon"></i>

                                {% if result.geo.country_code == "US" %}
                                {{ result.geo.city|default("", true) }}
                                {{ result.geo.region_code|default("", true) }}
                                {% else %}
                                {{ result.geo.city|default("", true) }}
                                {{ result.geo.country_name}}
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    {% endif %}
</main>

{% endblock %}
