{% extends "base.html" %}

{% set back_link = "/whois" %}

{% if not address %}
{% set page_title = "Whois Lookup" %}
{% set home_link = True %}
{% set back_link = None %}
{% else %}
{% set page_title = "Whois Lookup: " + address|escape  %}
{% set back_link = "/whois" %}
{% endif %}

{% block scripts %}
{% if ip %}
<script src="https://www.google.com/jsapi"></script>
<script src="/static/js/maps.js"></script>
{% endif %}
{% endblock %}

{% block page_header %}

{% endblock %}

{% block page_body %}

{% if error %}
<div class="sixteen wide column">
    <div class="ui red inverted segment">
        <p>{{ error }}</p>
    </div>
</div>
{% endif %}

{% if not address %}
<form class="ui form sixteen wide column" method="get" action="/whois">
    <div class="field">
        <div class="ui input">
            <label for="address">IP Address</label>
            <input type="text" id="address" name="address" autofocus/>
        </div>
    </div>
    {% include "submit.html" %}
</form>
{% endif %}

{% if address %}
<div class="eight wide column">

    <h1 class="ui top attached small inverted green header">
        Location:
        {% if geo.country_name == "United States" and geo.city and geo.region_code %}
        {{ geo.city}}, {{geo.region_code }}
        {% elif geo.city and geo.country_name %}
        {{ geo.city }}, {{ geo.country_name }}
        {% elif geo.country_name %}
        {{ geo.country_name }}
        {% else %}
        Unknown
        {% endif %}
    </h1>
    <div class="ui segment attached">
        <div class="ui list">
            <div class="item">
                <div class="content">
                    <div class="header">Reverse Host</div>
                    {{ reverse_host }}
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">IP</div>
                    {{ ip }}
                </div>
            </div>

            {% if geo.area_code%}
            <div class="item">
                <div class="content">
                    <div class="header">Area Code</div>
                    {{ geo.area_code }}
                </div>
            </div>
            {% endif %}

            {% if geo.metro_code %}
            <div class="item">
                <div class="content">
                    <div class="header">Metro</div>
                    {{ geo.metro_code }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% if whois %}
    <h1 class="ui top attached small inverted green header">Whois</h1>
    <table class="ui small table attached segment topalign">
        <tbody>
            {% for line in whois %}
            <tr>
                {% if not line[1] %}
                <td class="eleven wide" colspan="2">{{ line[0] }}</td>
                {% else %}
                <th class="five wide">{{ line[0] }}</th>
                <td class="eleven wide">{{ line[1]|urlize(30) }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<div class="eight wide column">
    {% if geo.latitude and geo.longitude %}
    <div class="ui segment map" data-latitude="{{ geo.latitude }}" data-longitude="{{ geo.longitude }}" data-region="{{ map_region }}"></div>
    {% endif %}
</div>
{% endif %}

{% endblock %}
