{% extends "base.html" %}

{% set page_title = "Whois" %}

{% set home_link = True %}

{% block scripts %}
{% if ip %}
<script src="https://www.google.com/jsapi"></script>
<script src="/static/js/maps.js"></script>
{% endif %}
{% endblock %}

{% block page_body %}

<main class="ui page grid stackable">

    {% if error %}
    <div class="ui sixteen wide column">
        <div class="ui red inverted segment">
            <p>{{ error }}</p>
        </div>
    </div>
    {% endif %}

    <div class="ui sixteen wide column">
        <form class="ui form" method="get" action="/whois">
            <div class="field">
                <label for="address">IP or host</label>
                <input type="text" id="address" name="address" value="{{ address }}"/>
            </div>
            <div class="field">
                <button class="ui button">Search</button>
            </div>
        </form>
    </div>

    {% if address %}
    <div class="eight wide column">
        <h1 class="ui medium header">Details</h1>
        <div class="ui segment">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        {% if geo.country_name == "United States" and geo.city and geo.region_code %}
                        <div class="header">City</div> {{ geo.city}}, {{geo.region_code }}
                        {% elif geo.city and geo.country_name %}
                        <div class="header">City</div> {{ geo.city }}, {{ geo.country_name }}
                        {% elif geo.country_name %}
                        <div class="header">Country</div> {{ geo.country_name }}
                        {% else %}
                        <div class="header">Country</div> Unknown
                        {% endif %}
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <div class="header">Reverse Host</div>
                        {{ reverse_host }}
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="header">IP</div>
                        {{ ip }}
                    </div>
                </div>

                {% if geo.area_code%}
                <div class="item">
                    <div class="content">
                        <div class="header">Area Code</div>
                        {{ geo.area_code }}
                    </div>
                </div>
                {% endif %}

                {% if geo.metro_code %}
                <div class="item">
                    <div class="content">
                        <div class="header">Metro</div>
                        {{ geo.metro_code }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        {% if whois %}
        <h1 class="ui  medium header">Whois</h1>
        <table class="ui striped table">
            <tbody>
                {% for line in whois %}
                <tr>
                    {% if not line[1] %}
                    <td class="eleven wide" colspan="2">{{ line[0] }}</td>
                    {% else %}
                    <td class="five wide">{{ line[0] }}</td>
                    <td class="eleven wide">{{ line[1]|urlize(30) }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="eight wide column">
        {% if geo.latitude and geo.longitude %}
        <h1 class="ui medium header">Location</h1>
        <div class="ui segment">
            <div class="map" data-latitude="{{ geo.latitude }}" data-longitude="{{ geo.longitude }}" data-region="{{ map_region }}"></div>
        </div>
        {% endif %}

        <h1 class="ui medium header">Activity</h1>
        <div class="ui segment">
            <p><a href="/visitors/?q=include+{{ ip }}" class="content"><i class="sitemap icon"></i> search for website visits</a></p>

            <p><i class="linkify icon"></i> visit over <a href="http://{{ address }}" rel="noreferer">HTTP</a>,
                <a href="https://{{ address }}" rel="noreferrer">HTTPS</a>
            </p>

        </div>
    </div>
    {% endif %}
</main>
{% endblock %}
