{% extends "base.html" %}

{% block page_title %}Whois{% if address %} for {{ address }} {% endif %}{% endblock %}

{% block scripts %}
<script src="https://www.google.com/jsapi"></script>
<script src="/static/js/maps.js"></script>
{% endblock %}

{% block body %}

<header>

    {% if not address %}
    <h1>Whois Lookup</h1>

    <form method="get" action="/whois">
        <div class="ui massive icon input">
            <input type="text" id="address" name="address" placeholder="IP Address" autofocus/>
            <i class="search icon"></i>
        </div>
    </form>
    {% else %}

    <p class="next-action"><a href="/whois">Locate another address</a></p>


    {% if geo.country_name == "United States" and geo.city and geo.region_code %}
    <h1>{{ address }}: {{ geo.city }}, {{ geo.region_code }}</h1>
    {% elif geo.city and geo.country_name %}
    <h1>{{ address }}: {{ geo.city }}, {{ geo.country_name }}</h1>
    {% elif geo.country_name %}
    <h1>{{ geo.address }}: {{ geo.country_name }}</h1>
    {% else %}
    <h1>{{ address }}: location unknown</h1>
    {% endif %}

    {% if geo.metro_code %}
    <p>Metro: {{ geo.metro_code }}</p>
    {% endif %}

    {% if geo.area_code %}
    <p>Area code: {{ geo.area_code }}</p>
    {% endif %}

    {% endif %}

</header>

<main class="{% if geo.country_code and whois %}two{% endif %} column stackable ui grid">
    {% if whois %}
    <div class="wide column">
        <table class="ui small table topalign">
            <tbody>
                {% for line in whois %}

                <tr>
                    <th {% if not line[1] %}colspan="2"{% endif %}>{{ line[0] }}</th>
                    {% if line[1] %}
                    <td>{{ line[1]|urlize(30) }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if geo.latitude and geo.longitude %}
    <div class="column">
        <div class="map" data-latitude="{{ geo.latitude }}" data-longitude="{{ geo.longitude }}" data-region="{{ map_region }}"></div>
    </div>
    {% endif %}
</main>

{% endblock %}
