.code-204 TD {
    background-color: #fcebd3;
}

.code-404 TD {
    background-color: #DA251C;
    color: white;
}

.code-404 A {
    color: white;
}

.code-410 TD {
    background-color: #e5e5e5;
}

.code-301 TD {
    background-color: #ccc;
}

TD {
    vertical-align: top;
}

TD A {
    text-decoration: none;
}

TD P {
    margin: 0;
    line-height: 1.75;
}

TR TH {
    background-color: #666;
    color: #fff;
}

TEXTAREA[name=q] {
    height: 10em;
}

.calc-delta.active .icon {
    fill: green;
}

.flag-icon {
    padding: .25em;
    margin-bottom: .25em;
    box-shadow: 1px 2px 2px 0 rgba(50, 50, 50, 1);
}

TR.expandable {
    display: none;
}

TR.expandable TD {
    background-color: #efefef;
    padding: .5em 1em;
}


TR.expandable .meta {
    font-size: .85em;
}

TR.expandable.expanded {
    display: table-row;
}

.table-top {
    overflow: hidden;
    padding: 1em 0;
}

.table-top .left {
    float: left;
}

.table-top .right {
    float: right;
}

.actions A {
    margin-left: 3em;
}

.delete {
    margin-left: 1em;
    vertical-align: top;
}

#matches {
    margin-bottom: 5em;
}

.next-actions a {
    margin-right: 1em;
}

.next-actions svg {
    padding: .5em .5em .5em 0;
    fill: #666;
}
