{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.asset("css/speak.css") }}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("edit", "muted", "unmuted") }}

    <main>
        <div id="status">
            {% if muted_by_schedule and not muted_temporarily %}
                <svg class="icon"><use xlink:href="#icon-muted"></use></svg>
                <p>Currently muted.</p>
                <p>
                    Automatic muting is scheduled from

                    {% for schedule in schedules %}
                        {{ schedule|replace("\n", " to ") }}

                        {%- if not loop.last %}, {% endif %}

                    {%- endfor -%}.
                </p>
            {% elif muted_temporarily %}
                <svg class="icon"><use xlink:href="#icon-muted"></use></svg>
                <p>Currently muted.</p>
            {% else %}
                <svg class="icon"><use xlink:href="#icon-unmuted"></use></svg>
                <p>Currently unmuted.</p>
            {% endif %}
        </div>


        <div id="actions">
            {% if muted_by_schedule and not muted_temporarily %}
                <form method="POST" action="{{ app_url }}">
                    <input type="hidden" name="action" value="mute" />
                    <button><svg class="icon"><use xlink:href="#icon-muted"></use></svg> Stay muted</button>
                </form>
            {% endif %}

            {% if muted_by_schedule and muted_temporarily %}
                <form method="POST" action="{{ app_url }}">
                    <input type="hidden" name="action" value="unmute" />
                    <button><svg class="icon"><use xlink:href="#icon-unmuted"></use></svg> Resume schedule</button>
                </form>
            {% endif %}

            {% if not muted_by_schedule and not muted_temporarily %}
                <form method="POST" action="{{ app_url }}">
                    <input type="hidden" name="action" value="mute" />
                    <button><svg class="icon"><use xlink:href="#icon-muted"></use></svg> Mute</button>
                </form>
            {% endif %}

            {% if not muted_by_schedule and muted_temporarily %}
                <form method="POST" action="{{ app_url }}">
                    <input type="hidden" name="action" value="unmute" />
                    <button><svg class="icon"><use xlink:href="#icon-unmuted"></use></svg> Unmute</button>
                </form>
            {% endif %}

            <form method="GET" action="{{ registry_url }}">
                <input type="hidden" name="q" value="speak:mute" />
                <button><svg class="icon"><use xlink:href="#icon-edit"></use></svg> Edit schedule</button>
            </form>
        </div>
    </main>
{% endblock %}
