{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block main_toolbar %}
    <nav id="main-toolbar">
        <a id="edit-record" class="template-edit" href="{{ registry_url }}">
            <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
            Edit
        </a>
    </nav>
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("edit") }}

    <main>
        {% if muted_by_schedule %}
            <p>Automuted by schedule.</p>
        {% endif %}

        {% if schedules %}
            <p>
                Auto muting occurs between

                {% for schedule in schedules %}
                    {{ schedule|replace("\n", " and ") }}

                    {%- if not loop.last %} and between {% endif %}
                {%- endfor -%}.
            </p>
        {% endif %}

        {% if not muted_by_schedule %}
            {% if not muted %}
                <p>Not currently muted.</p>
            {% else %}
                <p>Currently muted.</p>
            {% endif %}
        {% endif %}

        {% if not muted_by_schedule %}
            {% if not muted %}
                <form method="POST" action="{{ app_url }}">
                    <input type="hidden" name="action" value="mute" />
                    <button>Mute now</button>
                </form>
            {% else %}
                <form method="POST" action="{{ app_url }}">
                    <input type="hidden" name="action" value="unmute" />
                    <button>Unmute</button>
                </form>
            {% endif %}
        {% endif %}


    </main>
{% endblock %}
