{% extends "apps/static/templates/base.jinja.html" %}

{% block stylesheets %}
    {{ macros.asset("css/config.css") }}
{% endblock %}

{% block page_body %}
    <main>
        <section>
            {% for key, value in config %}
                <dl>
                    <dt>{{ key }}</dt>
                    {% if value %}
                        <dd>{{ value }}</dd>
                    {% else %}
                        <dd><em>Not set</em></dd>
                    {% endif %}
                </dl>
            {% endfor %}
        </section>

        <section>
            <h1>
    </main>
{% endblock %}
