{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/phone/phone.css" />
{% endblock %}

{% block scripts %}
<script src="/static/phone/phone.js"></script>
{% endblock %}



{% block page_body %}

<main>
    <form class="content-wrapper" method="get" action="/phone">
        <div class="{% if not error %}hidden{% endif %} error message">{{ error }}</div>
        <div class="field">
            <label for="number">Number</label>
            <input type="text" id="number" name="number" placeholder="enter a phone number or area code" value=""/>
        </div>
        <div class="field">
            <button>Search</button>
        </div>
    </form>

    {% if number %}

    <h1 class="align-center">{{ number|phonenumber }}</h1>

    <div class="content-wrapper flex-parent">
        <div class="flex-item">
            <section>
                <h2>Caller ID</h2>

                <div id="caller-id-display">
                    <p id="callerid-display-value">
                        {{ caller_id or "Unknown caller" }}
                    </p>

                    <p><a href="#" class="edit-callerid" rel="noreferrer">Edit</a></p>
                </div>

                <form id="caller-id" class="hidden" method="post" action="/callerid">
                    <input type="hidden" name="cid_number" value="{{ number|default('') }}" />

                    <div class="hidden error message"></div>

                    <div class="field">
                        <input type="text" name="cid_value" value="{{ caller_id|default('') }}"/>
                    </div>

                    <div class="field">
                        <button class="small">Update</button>
                        <a href="#" class="cancel reset-callerid">Cancel</a>
                    </div>
                </form>
            </section>
        </div>

        <div class="flex-item">
            <h2>Status</h2>

            <form class="blacklist form {% if not blacklisted %}hidden{% endif %} panel" method="post" action="/blacklist">
                <input type="hidden" name="number" value="{{ number|default('') }}" />
                <input type="hidden" name="action" value="remove" />

                <div class="hidden error message">asdf</div>

                <p class="blacklisted">Blacklisted on <span id="blacklist-date">{{ blacklisted|localtime("date-full") }}</span></p>

                <button class="small">Remove</button>
            </form>

            <form class="blacklist form {% if blacklisted %}hidden{% endif %} panel" method="post" action="/blacklist">
                <input type="hidden" name="number" value="{{ number|default('') }}" />
                <input type="hidden" name="action" value="add" />

                <div class="hidden error message"></div>

                <p>Not blacklisted</p>

                <button class="small">Add</button>
            </form>
        </div>
        <div class="flex-item">
            <h2>Location</h2>
            {% if state_name %}
            <p>{{ state_name }}</p>
            {% else %}
            <p>Unknown</p>
            {% endif %}

            {% if comment %}
            <p>{{ comment }}</p>
            {% endif %}
        </div>
        <div class="flex-item">
            <h2>Search</h2>
            <p>{{ number|websearch("google") }}, {{ number|websearch("bing") }}</p>
        </div>
    </div>
    {% if history|length > 0 %}
    <div class="content-wrapper">
        <h2>History</h2>

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Direction</th>
                    <th>Duration</th>
                    <th>Last App</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                {{ entry }}
                <tr>
                    <td nowrap="nowrap">
                        {{ entry["date"]|localtime("date") }} at
                        {{ entry["date"]|localtime("time12")}}
                    </td>
                    <td>
                        {% if entry["direction"] == "incoming" %}
                        ⬅️
                        {{ entry["direction"] }} call from
                        <a href="?number={{ entry["src"] }}">{{ entry["src"]|phonenumber }}</a>
                        {% else %}
                        ➡️
                        {{ entry["direction"] }} call to
                        <a href="?number={{ entry["dst"] }}">{{ entry["dst"]|phonenumber }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ entry["duration"] }}
                    </td>
                    <td nowrap="nowrap">
                        {{ entry["lastapp"] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if number %}
    <div class="content-wrapper debug">
        <a href="#" class="toggle-trigger" rel="noreferrer"><span>Show</span> SPARQL queries</a>
        <div class="toggle-target hidden">
            {% for query in sparql %}
            <p><a href="{{ query[1]|snorql }}" rel="noreferrer" target="_blank">{{ query[0] }}</a></p>
            <pre>{{ query[1]|unindent|escape }}</pre>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    {% endif %}
</main>

{% endblock %}
