{% extends "base.html" %}

{% set page_title = "Phone" %}
{% set home_link = True %}

{% block scripts %}
<script src="https://www.google.com/jsapi"></script>
<script src="/static/js/maps.js"></script>
<script src="/static/phone/phone.js"></script>
{% endblock %}



{% block page_body %}

<main class="ui page grid stackable">

    <form class="ui form sixteen wide column" method="get" action="/phone">
        <div class="field">
            <label for="number">Number</label>
            <input type="text" id="number" name="number" placeholder="enter a phone number or area code" value="{{ number }}"/>
        </div>
        <div class="field">
            <button class="ui button">Search</button>
        </div>
    </form>

    {% if number %}

    <div class="eight wide column">

        <h1 class="ui medium header">Caller ID</h1>
        <div class="ui segment">

            <div class="panel">
                <div class="ui grid">
                    <div class="fourteen wide column">
                        <p id="callerid-display-value">
                            {{ caller_id|default('Unknown') }}
                        </p>
                    </div>
                    <div class="one wide column">
                        <a href="#" class="panel-trigger">Edit</a>
                    </div>
                </div>
            </div>

            <div class="hidden panel">
                <form id="caller-id" class="ui form" method="post" action="/callerid">
                    <input type="hidden" name="cid_number" value="{{ number|default('') }}" />
                    <div class="field">
                        <input type="text" name="cid_value" value=""/>
                    </div>
                    <div class="field">
                        <button class="ui small button">Update</button>
                        <a href="#" class="panel-trigger form-reset nudge-right">Cancel</a>
                    </div>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>

        <h1 class="ui medium header">Blacklist</h1>

        <div class="ui {% if blacklisted %}inverted{% endif %} segment">

            <form class="ui blacklist form {% if not blacklisted %}hidden{% endif %} panel" method="post" action="/blacklist">
                <input type="hidden" name="number" value="{{ number|default('') }}" />
                <input type="hidden" name="action" value="remove" />
                <p>Added <span id="blacklist-date">{{ blacklisted|localtime("date-full") }}</span></p>
                <button class="ui mini button">Remove</button>
                <div class="ui error message"></div>
            </form>

            <form class="ui blacklist form {% if blacklisted %}hidden{% endif %} panel" method="post" action="/blacklist">
                <input type="hidden" name="number" value="{{ number|default('') }}" />
                <input type="hidden" name="action" value="add" />
                <p>Not blacklisted</p>
                <button class="ui mini button">Add</button>
                <div class="ui error message"></div>
            </form>
        </div>


        {% if state_name %}
        <h1 class="ui medium header">Location: {{ state_name }}</h1>
        <div class="ui segment">
            <h2 class="ui tiny header"></h2>
            <p>{{ comment }}</p>
        </div>
        {% endif %}

        {% if history|length > 0 %}
        <h1 class="ui medium header">Call History</h1>

        <table class="ui table unstackable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                <tr>
                    <td nowrap="nowrap">
                        {{ entry["date"]|localtime("date") }}
                        <p class="small">{{ entry["date"]|localtime("time12")}}</p>
                    </td>
                    <td>
                        {{ entry["duration"] }}
                    </td>
                    <td nowrap="nowrap">
                        {{ entry["lastapp"] }}
                        <p class="small">{{ entry["dst"]}}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>

    <div class="eight wide column">
        <div class="map" data-region="US" data-location="{{state_abbreviation}}"></div>

        <h1 class="ui medium header">Links</h1>
        <div class="ui segment">
            <p class="supplemental"><a href="{{ whitepages_url|anonymize }}" target="_blank" rel="noreferrer"><i class="external link icon"></i> whitepages.com</a></p>
            <p class="supplemental"><a href="{{ bing_url|anonymize }}" target="_blank" rel="noreferrer"><i class="external link icon"></i> bing.com</a></p>
        </div>
    </div>
    {% endif %}

    <div class="ui sixteen wide column">
        {% if number %}
        <a href="#" class="toggle-trigger"><span>Show</span> SPARQL</a>
        <div class="toggle-target hidden">
            {% for query in sparql %}
            <pre>{{ query|unindent|escape }}</pre>
            {% endfor %}
        </div>
        {% endif %}
    </div>




</main>

{% endblock %}
