{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/phone/phone.css" />
{% endblock %}

{% block scripts %}
<script src="/static/phone/phone.js"></script>
{% endblock %}



{% block page_body %}

<main>
    <form class="content-wrapper" method="get" action="/phone">
        <div class="{% if not error %}hidden{% endif %} error message">{{ error }}</div>
        <div class="field">
            <label for="number">Number</label>
            <input type="text" id="number" name="number" placeholder="enter a phone number or area code" value="{{ number }}"/>
        </div>
        <div class="field">
            <button>Search</button>
        </div>
    </form>

    {% if number %}

    <div class="content-wrapper flex-parent">
        <div class="flex-item">
            <section>
                <h1>Caller ID</h1>

                <div id="caller-id-display">
                    <p id="callerid-display-value">
                        {{ caller_id|default('Unknown caller') }}
                    </p>

                    <a href="#" class="edit-callerid" rel="noreferrer">Edit</a>
                </div>

                <form id="caller-id" class="hidden" method="post" action="/callerid">
                    <input type="hidden" name="cid_number" value="{{ number|default('') }}" />
                    <div class="field">
                        <input type="text" name="cid_value" value="{{ caller_id|default('') }}"/>
                    </div>
                    <div class="field">
                        <button class="small">Update</button>
                        <a href="#" class="cancel reset-callerid" rel="noreferrer">Cancel</a>
                    </div>


                    <div class="hidden error message"></div>
                </form>
            </section>
        </div>
        <div class="flex-item">
            <h1>Status</h1>

            <form class="blacklist form {% if not blacklisted %}hidden{% endif %} panel" method="post" action="/blacklist">
                <input type="hidden" name="number" value="{{ number|default('') }}" />
                <input type="hidden" name="action" value="remove" />
                <p class="blacklisted">Blacklisted as of <span id="blacklist-date">{{ blacklisted|localtime("date-full") }}</span></p>
                <button class="small">Remove</button>
                <div class="hidden error message"></div>
            </form>

            <form class="blacklist form {% if blacklisted %}hidden{% endif %} panel" method="post" action="/blacklist">
                <input type="hidden" name="number" value="{{ number|default('') }}" />
                <input type="hidden" name="action" value="add" />
                <p>Not blacklisted</p>
                <button class="small">Add</button>
                <div class="hidden error message"></div>
            </form>
        </div>
        <div class="flex-item">
            {% if state_name %}
            <h1>Location</h1>
            <p>{{ state_name }}</p>
            <p>{{ comment }}</p>
            {% endif %}
        </div>
        <div class="flex-item">
            <p>{{ number|websearch("google") }}</p>
            <p>{{ number|websearch("bing") }}</p>
        </div>
    </div>
    {% if history|length > 0 %}
    <div class="content-wrapper">
        <h1>Call History</h1>

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                <tr>
                    <td nowrap="nowrap">
                        {{ entry["date"]|localtime("date") }}
                        <p class="small">{{ entry["date"]|localtime("time12")}}</p>
                    </td>
                    <td>
                        {{ entry["duration"] }}
                    </td>
                    <td nowrap="nowrap">
                        {{ entry["lastapp"] }}
                        <p class="small">{{ entry["dst"]}}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if number %}
    <div class="content-wrapper debug">
        <a href="#" class="toggle-trigger" rel="noreferrer"><span>Show</span> SPARQL</a>
        <div class="toggle-target hidden">
            {% for query in sparql %}
            <pre>{{ query|unindent|escape }}</pre>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    {% endif %}
</main>

{% endblock %}
