{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros with context -%}


{% block stylesheets %}
    {{ macros.asset("css/phone.css") }}
{% endblock %}

{% block app_message %}
    {% if error %}
        <div id="app-message" class="error">{{ error }}</div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block main_toolbar %}
    {% if number %}
    <nav id="main-toolbar">
        {{ number|websearch("google", label="Web search") }}
    </nav>
    {% endif %}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("globe") }}
    <main>
        <header id="app-nav">
            <form method="get" action="/phone">
                <div class="field">
                    <input
                        autocapitalize="none"
                        autocomplete="off"
                        id="number"
                        name="number"
                        placeholder="Phone number or area code"
                        type="search"
                        value="{{ number }}"
                    />
                </div>
                <div class="field">
                    <button>Search</button>
                </div>
            </form>
        </header>

        {% if number %}
            <section>
                {% if comment %}
                    <p>{{ comment }}</p>
                {% endif %}
            </section>
        {% endif %}

        {% if history %}
            <section>
                <h2>Call History</h2>

                <div class="table-sleeve">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Direction</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in history %}
                                <tr>
                                    <td>{{ entry["date"]|dateformat("%Y-%m-%d") }}</td>
                                    <td>{{ entry["date"]|dateformat("%-I:%M %p")}}</td>
                                    <td>{{ entry["direction"] }}</td>
                                    <td>{{ entry["duration"] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        {% endif %}

        {% if number %}
            <section>
                <details>
                    <summary>SPARQL</summary>
                    {% for query in sparql %}
                        <pre>{{ query|unindent|escape }}</pre>
                        <p><a href="{{ query|snorql }}" rel="noreferrer" target="_blank">run</a></p>
                    {% endfor %}
                </details>
            </section>
        {% endif %}
    </main>
{% endblock %}
