.content-wrapper {
    max-width: 30em;
    background-color: #fff;
    padding: 1em;
}

dd {
    margin-bottom: 2em;
    margin-left: 1.5em;
}

dt {
    padding-bottom: .5em;
}

dt a {
    text-decoration: none;
}
