main {
    flex: 0;
    display: grid;
    grid-gap: .5em;
    align-items: center;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
    main {
        grid-template-columns: 6em 1fr;
        grid-gap: 1em;
    }

    .bookmarklet-container A {
        display: block;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
