.content-wrapper {
    max-width: 30em;
    background-color: #fff;
    padding: 1em;
}

dd {
    margin-bottom: 2em;
}

dt {
    padding-bottom: .5em;
}

dt a {
    text-decoration: none;
}

.bookmarklet-container {
    text-align: left;
}

.bookmarklet-container a {
    min-width: 8em;
    text-align: center;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
