{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.asset("css/captures.css") }}
{% endblock %}

{% block scripts %}
    {{ macros.asset("js/clipboard.js") }}
{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("copy", "delete", "arrow-right", "arrow-left", "link") }}

    <main>
        <header id="app-nav">
            <form method="get" action="{{ app_url }}">
                <div class="field">
                    <input
                        type="search"
                        id="path"
                        name="path"
                        value="{{ path }}"
                        autocapitalize="none"
                        placeholder="URL"
                    />
                </div>
                <div>
                    <button>Search</button>
                </div>
            </form>
        </header>

        {% if not captures %}
            <p>No captures found.</p>
        {% endif %}

        {% for capture in captures %}
            <section>
                <div class="capture">
                    <header>
                        <div>
                            #{{ capture.rowid}} {{ capture.created|dateformat("%B %d at %-I:%M:%S %p")}}
                        </div>

                        <a href="{{ app_url }}/{{ capture.rowid }}">
                            <svg class="icon"><use xlink:href="#icon-link"></use></svg>
                        </a>
                    </header>

                    <div class="reqhead">
                        <header>Request Headers
                            <div class="options">
                                {{ macros.clipboardButton("reqhead-" ~ loop.index, "Copy headers") }}
                            </div>
                        </header>

                        <code id="reqhead-{{ loop.index }}">
                            {#- The awkward indentation here prevents unwanted whitespace when using copy-to-clipboard button. -#}
{{- capture.request_line }}
{%  for key, value in capture.request.headers.items() -%}
    {{ key }}: {{ value }}
{% endfor -%}
                        </code>
                    </div>

                    <div class="reqresponse">
                        <header>Response</header>
                        <p>{{ capture.response.status }}</p>
                    </div>

                    {% if capture.request.params %}
                        <div class="reqbody">
                            <header>
                                Request Body
                                <div class="options">
                                    {{ macros.clipboardButton("reqbodyparam-" ~ loop.index, "Copy body") }}
                                </div>
                            </header>
                            <code id="reqbodyparam-{{ loop.index }}">{{ capture.request.params }}</code>
                        </div>
                    {% endif %}

                    {% if capture.request.json %}
                        <div class="reqbody">
                            <header>
                                Request JSON
                                <div class="options">
                                    {{ macros.clipboardButton("reqbodyjson-" ~ loop.index, "Copy JSON") }}
                                </div>
                            </header>

                            <pre id="reqbodyjson-{{ loop.index }}">{{ capture.request.json|json }}</pre>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endfor %}

        {% if pagination_url %}
            {{ macros.pagination(pagination_url, offset, per_page, total_records) }}
        {% endif %}

    </main>
{% endblock %}
