{% extends "base.html" %}

{% macro selectAll(target) -%}
<a href="#" data-selection-target="#{{ target }}" class="select-all">Select All</a>
{%- endmacro %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/captures/captures.css" />
{% endblock %}

{% block scripts %}
<script src="/static/js/select-all.js"></script>
{% endblock %}

{% block page_body %}

<main>

    <form class="content-wrapper" method="get" action="/captures">
        <div class="field">
            <label for="number">Request URI</label>
            <input type="text" id="q" name="q" value="{{ q|default('', true) }}"/>
        </div>
        <div class="field">
            <button>Search</button>
        </div>
    </form>

    <div class="content-wrapper">
        {% if captures|length() == 0 %}
        <p>No captures found.</p>
        {% endif %}

        {% for capture in captures %}
        <div class="capture">
            <header>
                <div>{{ capture.created|localtime("datetime12")}}</div>
            </header>

            <div class="half-column">
                <section>
                    <h2>Request Headers</h2>
                    <p class="options">
                        {{ selectAll("reqhead-" ~ loop.index) }}
                    </p>

                    <code id="reqhead-{{ loop.index }}">
                    {{- capture.request_line }}
                    {% for key, value in capture.request.headers.items() -%}
                    {{ key }}: {{ value }}
                    {% endfor -%}
                    </code>
                </section>

                {% if capture.request.params %}
                <section>
                    <h2>Request body</h2>
                    <p class="options">
                        {{ selectAll("reqbodyparam-" ~ loop.index) }}
                    </p>
                    <code id="reqbodyparam-{{ loop.index }}">{{ capture.request.params }}</code>
                </section>
                {% endif %}

                {% if capture.request.json %}
                <section>
                    <h2>Request Body </h2>
                    <p class="options">
                        {{ selectAll("reqbodyjson-" ~ loop.index) }}
                    </p>

                    <pre id="reqbodyjson-{{ loop.index }}">{{ capture.request.json|json }}</pre>
                </section>
                {% endif %}
            </div>

            <div class="half-column">
                <section>
                    <h2>Response</h2>
                    <p>{{ capture.response.status }}</p>
                </section>
            </div>
        </div>
        {% endfor %}
    </div>

</main>

{% endblock %}
