{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/captures/captures.css" />
{% endblock %}

{% block page_body %}

<main>

    <form class="content-wrapper" method="get" action="/captures">
        <div class="field">
            <label for="number">Search</label>
            <input type="text" id="q" name="q" value="{{ q|default('', true) }}"/>
        </div>
        <div class="field">
            <button>Search</button>
        </div>
    </form>

    <div class="content-wrapper">
        {% if captures|length() == 0 %}
        <p>No captures found.</p>
        {% endif %}

        {% for capture in captures %}
        <div class="capture">
            <header>
                <div>{{ capture.created|localtime("datetime12")}}</div>
            </header>

            <div class="half-column">
                <section>
                    <h2>Request headers</h2>
                    <code>
                    {{- capture.request_line }}
                    {% for key, value in capture.request.headers.items() -%}
                    {{ key }}: {{ value }}
                    {% endfor -%}
                    </code>
                </section>

                {% if capture.request.params %}
                <section>
                    <h2>Request body</h2>
                    <code>{{ capture.request.params }}</code>
                </section>
                {% endif %}

            </div>

            <div class="half-column">
                {% if capture.request.json %}
                <section>
                    <h2>Request body JSON </h2>
                    <code>{{ capture.request.json }}</code>
                </section>
                {% endif %}


                <section>
                    <h2>Response status</h2>
                    <p>{{ capture.response.status }}</p>
                </section>


            </div>
        </div>
        {% endfor %}
    </div>

</main>

{% endblock %}
