{% extends "base.html" %}
{% import "macros.html" as macros -%}

{% block stylesheets %}
{{ macros.cacheBustedStylesheet('captures', 'captures.css') }}
{% endblock %}

{% block scripts %}
{{ macros.cacheBustedScript('shared', 'js/copy-to-clipboard.js') }}
{% endblock %}

{% block page_body %}

<main>

    <form class="content-wrapper" method="get" action="/captures">
        <div class="field">
            <label for="number">Request URI</label>
            <input type="text" id="query" name="query" value="{{ q|default('', true) }}"/>
        </div>
        <div class="field">
            <button>Search</button>
        </div>
    </form>

    <div class="content-wrapper">
        {% if captures|length() == 0 %}
        <p>No captures found.</p>
        {% endif %}

        {% for capture in captures %}
        <div class="capture">
            <header>
                <div>{{ capture.created|localtime("datetime12")}}</div>
            </header>

            <div class="half-column">
                <section>
                    <div class="options">
                        {{ macros.copyToClipboardBySelector("#reqhead-" ~ loop.index) }}
                    </div>
                    <h2>Request Headers</h2>

                    <code id="reqhead-{{ loop.index }}">
{#- The awkward indentation here prevents unwanted whitespace during copy-to-clipboard -#}
                    {{- capture.request_line }}
{%  for key, value in capture.request.headers.items() -%}
{{ key }}: {{ value }}
{% endfor -%}
                    </code>
                </section>

                {% if capture.request.params %}
                <section>
                    <div class="options">
                        {{ macros.copyToClipboardBySelector("#reqbodyparam-" ~ loop.index) }}
                    </div>
                    <h2>Request body</h2>
                    <code id="reqbodyparam-{{ loop.index }}">{{ capture.request.params }}</code>
                </section>
                {% endif %}

                {% if capture.request.json %}
                <section>
                    <div class="options">
                        {{ macros.copyToClipboardBySelector("#reqbodyjson-" ~ loop.index) }}
                    </div>
                    <h2>Request Body </h2>

                    <pre id="reqbodyjson-{{ loop.index }}">{{ capture.request.json|json }}</pre>
                </section>
                {% endif %}
            </div>

            <div class="half-column">
                <section>
                    <h2>Response</h2>
                    <p>{{ capture.response.status }}</p>
                </section>
            </div>
        </div>
        {% endfor %}
    </div>

</main>

{% endblock %}
