{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('captures', 'captures.css') }}
{% endblock %}

{% block scripts %}
    {{ macros.vueApp('main', ('clipboard-button',)) }}
{% endblock %}

{% block page_body %}
    <main>
        {{ macros.svgSymbols("copy", "delete", "arrow-right", "arrow-left", "link", "search", "close") }}

        <header class="app-nav">
            <form method="get" action="{{ app_url }}">
                <div class="field">
                    <label for="number">Request URI</label>
                    <input type="text" id="path" name="path" value="{{ path }}"/>
                </div>
                <div class="field">
                    <button>
                        <svg class="icon"><use xlink:href="#icon-search"></use></svg>
                    </button>
                </div>
            </form>
        </header>

        <nav class="secondary">
            {% if not captures %}
                <div class="warning">No captures found.</div>
            {% endif %}

            <div>{{ macros.cancelLink(path, app_url) }}</div>
        </nav>


        {% for capture in captures %}
            <section>
                <div class="capture">
                    <header class="inverted">
                        <div>
                            #{{ capture.rowid}} {{ capture.created|localtime|dateformat("LLL")}}
                        </div>

                        <a href="{{ app_url }}?cid={{ capture.rowid }}">
                            <svg class="icon icon-link"><use xlink:href="#icon-link"></use></svg>
                        </a>
                    </header>

                    <div class="reqhead">
                        <header>Request Headers
                            <div class="options">
                                <clipboard-button target-id="{{ "reqhead-" ~ loop.index }}" tooltip="Copy headers" />
                            </div>
                        </header>

                        <code id="reqhead-{{ loop.index }}">
                            {#- The awkward indentation here prevents unwanted whitespace during copy-to-clipboard -#}
{{- capture.request_line }}
{%  for key, value in capture.request.headers.items() -%}
    {{ key }}: {{ value }}
{% endfor -%}
                        </code>
                    </div>

                    <div class="reqresponse">
                        <header>Response</header>
                        <p>{{ capture.response.status }}</p>
                    </div>

                    {% if capture.request.params %}
                        <div class="reqbody">
                            <header>
                                Request Body
                                <div class="options">
                                    <clipboard-button
                                        target-id="{{ "reqbodyparam-" ~ loop.index }}"
                                        tooltip="Copy body"
                                    />
                                </div>
                            </header>
                            <code id="reqbodyparam-{{ loop.index }}">{{ capture.request.params }}</code>
                        </div>
                    {% endif %}

                    {% if capture.request.json %}
                        <div class="reqbody">
                            <header>
                                Request JSON
                                <div class="options">
                                    <clipboard-button
                                        target-id="{{ "reqbodyjson-" ~ loop.index }}"
                                        tooltip="Copy JSON"
                                    />
                                </div>
                            </header>

                            <pre id="reqbodyjson-{{ loop.index }}">{{ capture.request.json|json }}</pre>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endfor %}

        {% if captures %}
            <div class="pagination">
                {% if newer_offset %}
                    <a href="{{ app_url }}?offset={{ newer_offset }}&path={{ path }}" rel="noreferrer" class="next">
                        <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
                        Newer
                    </a>
                {% endif %}
                {% if older_offset %}
                    <a href="{{ app_url }}?offset={{ older_offset }}&path={{ path }}" rel="noreferrer" class="previous">
                        Older
                        <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </main>
{% endblock %}
