:root {
    --black: #323031;
    --primary: #044B7F;
    --secondary: #FBD1A2;
    --tertiary: #C7CEDB;
    --accent: #6A687A;
    --alert: #C42333;
    --white: #fff;
    --candidate: #5B8C5A;
    --grey: #D1D1D1;
    --offwhite: #f8f8f8;
    --success: #87D68D;
}

[hidden] {
    display: none !important;
}

A {
    color: var(--primary);
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
}

HTML {
    height: 100%;
}

BODY {
    font-family: system-ui, 'Corbel', 'FreeSans', 'Lucida Grande', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 16px;
    background-color: var(--offwhite);
}

BUTTON, INPUT[type=reset] {
    font-family: inherit;
    font-size: 1em;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
    padding: .5em 1em;
    height: 2.25em;
    line-height: 1;
    vertical-align: middle;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

BUTTON:hover {
    cursor: pointer;
}

BUTTON[disabled] {
    background-color: var(--grey);
    border: var(--grey);
    color: var(--black);
}

BUTTON[disabled] .icon {
    fill: var(--black);
}

BUTTON .icon {
    fill: var(--white);
    margin: 0 1em;
}

BUTTON + .label {
    margin-left: 1em;
}

BUTTON + .secondary-action, BUTTON + .cancel {
    display: inline-block;
    margin-left: 2em;
    color: var(--alert);
}

BUTTON.small {
    font-size: .85em;
    padding: .5em;
}

CODE {
    display: block;
    word-break: break-all;
    white-space: pre-line;
}

DETAILS SUMMARY {
    margin-bottom: 1em;
}

DT {
    font-weight: bold;
    margin-left: 0;
    margin-bottom: .25em;
}

DD {
    margin-bottom: 1em;
    margin-left: 0;
}

FIELDSET {
    border: 0;
    display: block;
    padding: 0;
}

H2 {
    margin: 0;
    padding: 0;
}

INPUT {
    font-size: 1em;
}

INPUT[type=reset] {
    background-color: var(--grey);
    color: var(--black);
    border-color: var(--grey);
}

INPUT[type=search] {
    -webkit-appearance: textfield;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

MAIN {
    flex: 1;
    padding: 0 0.75em;

}

MAIN > HEADER:nth-of-type(1) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 1em auto;
}

MAIN > HEADER:nth-of-type(1) H2 {
    font-size: 1.5em;
}

NAV.secondary {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1em;
}

NAV.secondary > DIV  {
    margin-right: 2em;
}

NAV.secondary > DIV A {
    display: inline-flex;
    justify-content: center;
    color: currentColor;
}

NAV.secondary > DIV A:hover .icon {
    fill: var(--primary);
}


NAV.secondary .field {
    font-size: 0.85em;
    padding-bottom: 0;
}

NAV.secondary DIV:last-of-type {
    margin-right: 0;
}

NAV.secondary .warning {
    color: var(--alert);
}

NAV.secondary FIELDSET {
    font-size: 0.85em;
}

NAV.secondary FIELDSET BUTTON,
NAV.secondary FIELDSET INPUT[type=reset] {
    margin-left: 1em;
}

P {
    line-height: 1.4;
}

SECTION {
    margin-bottom: 2em;
}

TABLE {
    min-width: 100%;
    margin: 0 auto 2em 0;
    font-size: .85em;
    border-collapse: collapse;
    border: 1px solid #333;
}

TABLE CAPTION {
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: .5em;
}

TABLE TR {
    border-bottom: 1px solid var(--black);
}

TABLE TR:last-child {
    border-bottom: none;
}

TABLE TH {
    background-color: var(--black);
    font-weight: bold;
    padding: .75em;
    white-space: nowrap;
    text-align: left;
    color: var(--white);
    vertical-align: top;
}

TABLE TD {
    padding: .75em;
    background-color: var(--white);
    word-break: break-word;
    vertical-align: top;
    border: 1px solid var(--black);
    line-height: 1.3;
}

TEXTAREA {
    font-size: 1em;
}

#app-message {
    padding: 1em;
}

#app-message p {
    margin: 0 0 1em 0;
}

#app-message p:last-of-type {
    margin-bottom: 0;
}

#collection ul {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-row-gap: 1em;
}

#collection li {
    display: flex;
    flex-flow: row nowrap;
}

#collection p {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

#collection .actions {
    display: flex;
    justify-content: flex-start;
    padding-right: 1em;
}

#collection .title {
    font-size: 1.1em;
    line-height: 1.3;
}

#collection .tags {
    margin-top: .25em;
    font-size: .85em;
}

#collection .tags A {
    margin-right: 1em;
}

#page-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: linear-gradient(45deg, var(--accent) 0%, var(--black) 100%);
    color: var(--white);
    padding: 0 0.75em;
    box-shadow: 0px 2px 2px 0px var(--black);
    align-items: center;
    line-height: 1;
    margin-bottom: 1em;
    min-height: 3.25em;
}

#page-header A {
    color: inherit;
}

#page-header H1 {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

#main-toolbar BUTTON {
    background-color: var(--grey);
    color: var(--black);
    border: 0;
    border-radius: 0;
}

#main-toolbar FIELDSET {
    margin-top: .5em;
    display: flex;
}

#main-toolbar FIELDSET INPUT {
    flex-grow: 1;
    padding: .25em;
    border-radius: 0;
    border: 0;
}

#main-toolbar A {
    color: inherit;
    display: inline-block;
    margin-right: 2em;
}

#main-toolbar A:last-child {
    margin-right: 0;
}

#main-toolbar A:hover {
    color: var(--secondary);
    text-decoration: none;
}

#main-toolbar svg {
    fill: currentColor;
}

.action-button {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.action-button svg {
    height: 100%;
}

.action-button .label {
    font-size: .5em;
    line-height: 2;
    text-transform: uppercase;
}

.action-button a {
    width: 1em;
    height: 1em;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s;
}

.app-nav {
    margin: auto;
    margin-bottom: 1em;
    max-width: 40em;
}

.app-nav > form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    align-items: end;
}

.app-nav .field {
    padding-bottom: 0;
}

.app-nav .options {
    grid-column: span 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.app-nav .options input[type=text],
.app-nav .options input[type=search],
.app-nav .options input[type=password] {
    width: auto;
}

.app-nav .options .field {
    margin-right: 1.5em;
    padding-bottom: 0;
}

.app-nav .options .field:last-of-type {
    margin-right: 0;
}


.app-nav .options label {
    display: inline-block;
    padding-right: .5em;
}

.clipboard-button a:hover {
    fill: white;
    background-color: var(--success);
}

.clipboard-button a.clicked {
    animation: clipboard-button .5s 1;
}

.clipboard-button form {
    position: absolute;
    top: -999em;
    left: -999em;
}

.copy-to-clipboard {
    text-decoration: none;
    display: inline-block;
    padding-right: .5em;
}

.discard-button a:hover {
    background-color: var(--alert);
    fill: var(--white);
}

.error {
    background-color: var(--alert);
    color: var(--white);
}

.link-button a:hover {
    fill: white;
    background-color: var(--success);
}

.link-button a.clicked {
    animation: clipboard-button .5s 1;
}

.notice {
    background-color: var(--secondary);
}

.field-group {
    display: flex;
    justify-content: space-between;
}

.field-group .field {
    flex: 1;
    margin-right: 1em;
}

.field-group .field:last-of-type {
    margin-right: 0;
}


.field .inline {
    display: inline-block;
    padding-right: 1em;
    vertical-align: middle;
}

.field INPUT.inline {
    padding-right: 2em;
}

.field INPUT[type=text],
.field INPUT[type=search],
.field INPUT[type=password],
.field INPUT[type=number],
.field TEXTAREA {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: .5em;
    width: 100%;
}

.field INPUT[type=text].inline {
    width: auto;
}

.field LABEL {
    display: block;
    margin: .25em 0;
}

.field TEXTAREA {
    height: 8em;
}

.field {
    padding-bottom: 1em;
}

.field .note {
    font-size: .75em;
    margin-top: .5em;
}

.focus-candidate {
    background-color: var(--accent);
    box-shadow: 0px 0px 0 10px var(--accent);
    color: var(--white);
}

.focus-candidate > * {
    color: var(--white) !important;
}

.help:hover {
    cursor: help;
}

.hidden {
    display: none;
}

.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
    padding-right: .5em;
}

.icon.inactive {
    fill: #ccc;
}

.inline-list {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.inline-list LI {
    display: inline;
}

.inline-list LI:after {
    content: ', ';
}

.inline-list LI:last-of-type:after {
    content: '';
}

.pagination .next {
    padding: 0 1em;
}

.pagination .previous {
    padding: 0 1em;
}

.pagination {
    margin: auto;
    text-align: center;
    padding: 1em 0;
}

.pagination A {
    text-decoration: none;
    color: inherit;
}

.pagination .icon {
    height: .75em;
    padding: 0;
    margin-top: -.1em;
}

.shortcuts {
    font-size: .85em;
    text-align: right;
}

.shortcuts A {
    display: inline-block;
    margin-left: 1em;
    padding: .5em 0;
}

.shortcuts BUTTON {
    margin-top: .5em;
    margin-left: 1em;
}

.smaller {
    font-size: .85em;
}

.success {
    background-color: var(--success);
}

.table-sleeve {
    max-width: 100%;
    overflow: auto;
}

@keyframes clipboard-button {
    0% {
        transform: rotate(0) scale(1);

    }

    20% {
        transform: rotate(10deg) scale(1.1);
    }

    60% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(0);
    }

}

/* Small devices */
@media (min-width: 576px) {
    MAIN {
        padding: 0 1em;
    }

    #page-header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    #collection ul {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4em;
    }

    #main-toolbar {
        margin-bottom: 0;
    }

    #main-toolbar FORM {
        order: 1;
        margin-left: 3em;
    }

    #main-toolbar FIELDSET {
        margin-top: 0;
    }

    #page-header {
        margin-bottom: 1.5em;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .table-sleeve {
        overflow: inherit;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    #page-header {
        min-height: 3em;
    }

    #collection ul {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* Print layout */
@media print {
    BODY {
        background-color: var(--white);
    }

    #page-header {
        display: none;
    }
}
