BODY {
    font-family: 'Lato', sans-serif;
    background-color: #efefef;
}

BUTTON {
    font-family: 'Lato', sans-serif;
    border-radius: .25em;
    border: 0;
    color: #fff;
    background-color: green;
    padding: .5em 1em;
}

BUTTON:hover {
    background-color: forestGreen;
    cursor: pointer;
}

BUTTON[disabled] {
    background-color: #ccc;
    border: #efefef;
    color: #efefef;
}

BUTTON.small {
    font-size: .85em;
    padding: .5em;
}

CODE {
    word-break: break-all;
    white-space: pre-line;
}

DT {
    font-weight: bold;
    margin-left: 0;
}

DD {
    margin-bottom: 1em;
    margin-left: 0;
}

DD.supplemental {
    font-size: .85em;
    padding-left: 1em;
    margin-top: -1em;
}

DD.supplemental A {
    text-decoration: none;
}

TABLE {
    min-width: 100%;
    margin: auto;
    background-color: white;
    font-size: .85em;
    border-collapse: collapse;
}

TABLE CAPTION {
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: .5em;
}

TABLE TR {
    border-bottom: 1px solid rgba(0, 0, 0, .03);
}

TABLE TR:last-child {
    border-bottom: none;
}

TABLE TH {
    font-weight: bold;
    padding: .75em;
    white-space: nowrap;
    text-align: left;
    background-color: rgba(0, 0, 0, .03);
}

TABLE TD {
    padding: .75em;
    background-color: #fff;
}

TABLE.key-value TH {
    text-align: right;
}

#page-header {
    background-color: #3366cc;
    color: white;
    padding: 1em;
    border-bottom: 2px solid #666;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

#page-header .icon {
    fill: #fff;
    width: 1.5em;
    height: 1.5em;
}

#page-header H1 {
    font-size: 1.5em;
    line-height: 1;
    margin: 0;
    font-weight: normal;
}

#shortcuts {
    display: none;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.bookmarklet-container {
    text-align: right;
}

.bookmarklet-container A {
    text-decoration: none;
}

.content-wrapper {
    width: 75%;
    margin: auto;
}

.error {
    background-color: #B03C25;
    color: white;
}

.field-group {
    display: flex;
    justify-content: space-between;
}

.field-group .field {
    flex: 1;
    margin-right: 1em;
}

.field-group .field:last-of-type {
    margin-right: 0;
}


.field .inline {
    display: inline-block;
    padding-right: 1em;
}

.field INPUT.inline {
    padding-right: 2em;
}

.field INPUT[type=text], .field TEXTAREA {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: .5em;
    width: 100%;
}

.field INPUT[type=text].inline {
    width: auto;
}

.field LABEL {
    display: block;
    margin: .25em 0;
}

.field TEXTAREA {
    height: 5em;
}

.field {
    padding-bottom: 1em;
}

.half-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.help:hover {
    cursor: help;
}

.hidden {
    display: none;
}

.icon {
    width: 1em;
    height: 1em;
    fill: #333;
    vertical-align: middle;
    padding-right: .5em;
}

.message {
    margin: 1em 0;
    padding: 1em;
}

.middle-column {
    padding: 0 1em;
}

.pagination .next {
    padding: 0 1em;
}

.pagination .previous {
    padding: 0 1em;
}

.pagination {
    margin: auto;
    text-align: center;
    padding: 1em 0;
}

.pagination A {
    text-decoration: none;
    color: inherit;
}

.pagination .icon {
    height: .75em;
    padding: 0;
    margin-top: -.1em;
}

.quarter-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.shortcuts A {
    margin-left: 1em;
}

.shortcuts {
    padding: 1em 0;
    font-size: .85em;
    text-align: right;
}

.smaller {
    font-size: .85em;
}

.strikeout {
    text-decoration: line-through;
}

.success {
    background-color: #90EE90;
    padding: .5em;
}

.svg-defs {
    display: none;
}

.table-wrapper {
    border: 1px solid #ccc;
}

TABLE.bordered {
    border: 1px solid #ccc;
}

TABLE.natural-width {
    min-width: auto;
}

.natural-width TABLE {
    min-width: inherit;
}

.one-line {
    white-space: nowrap;
}

.third-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

.two-third-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 66%;
}

.views .active {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.views LI {
    display: inline-block;
    margin-left: 1em;
}

.views {
    text-align: right;
}

.inline-list {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.inline-list LI {
    display: inline;
}

.inline-list LI:after {
    content: ', ';
}

.inline-list LI:last-of-type:after {
    content: '';
}

.copy-to-clipboard {
    text-decoration: none;
    display: inline-block;
    padding-right: .5em;
}

.icon-copy {
    transition: all 500ms;
}

.icon-copy.light {
    fill: white;
}

.icon-copy:hover {
    fill: green;
}

.icon-copy.copied {
    transform: scale(1.5) rotate(20deg);
}


@media only screen and (max-width: 600px) {
    .content-wrapper {
        overflow: auto;
        width: 95%;
    }
}

@media print {
    BODY {
        background-color: #fff;
    }

    .content-wrapper {
        width: 100%;
    }

    #page-header {
        display: none;
    }
}
