:root {
    --discard-bg-color: FireBrick;
    --highlight-bg-color: #f0cca5;
    --focus-bg-color: #f9ab55;
    --secondary-bg-color: #333;
}

A {
    color: #084887;
    text-decoration: none;
}

HTML {
    height: 100%;
}

BODY {
    font-family: system-ui, 'Corbel', 'FreeSans', 'Lucida Grande', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

BUTTON {
    font-family: inherit;
    border-radius: .25em;
    border: 0;
    background-color: #87D68D;
    padding: .5em 1.5em;
}

BUTTON:hover {
    cursor: pointer;
}

BUTTON[disabled] {
    background-color: #ccc;
    border: #efefef;
    color: #efefef;
}

BUTTON.small {
    font-size: .85em;
    padding: .5em;
}

CODE {
    word-break: break-all;
    white-space: pre-line;
}

DT {
    font-weight: bold;
    margin-left: 0;
}

DD {
    margin-bottom: 1em;
    margin-left: 0;
}

DD.supplemental {
    font-size: .85em;
    padding-left: 1em;
    margin-top: -1em;
}

DD.supplemental A {
    text-decoration: none;
}

MAIN {
    flex: 1;
    padding: 0 1em;
}

TABLE {
    min-width: 100%;
    margin: 0 auto 2em 0;
    font-size: .85em;
    border-collapse: collapse;
    border: 1px solid #333;
}

TABLE CAPTION {
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: .5em;
}

TABLE TR {
    border-bottom: 1px solid #333;
}

TABLE TR:last-child {
    border-bottom: none;
}

TABLE TH {
    background-color: #333;
    font-weight: bold;
    padding: .75em;
    white-space: nowrap;
    text-align: left;
    color: #fff;
    vertical-align: top;
}

TABLE TD {
    padding: .75em;
    background-color: #fff;
    word-break: break-word;
    vertical-align: top;
    border: 1px solid #000;
}

#page-header {
    background: #4B88A2;
    background: linear-gradient(45deg, #4B88A2 0%, var(--secondary-bg-color) 100%);
    color: #fff;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    margin-bottom: 1em;
}

#page-header a {
    color: inherit;
}

#page-header h1 {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

#shortcuts {
    display: none;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.app-nav {
    margin-top: 1em;
    margin-bottom: 2em;
}

.bookmarklet-container A {
    background-color: #4C699A;
    color: #fff;
    padding: .5em 1.5em;
    border-radius: .25em;
    font-size: .75em;
    text-transform: uppercase;
}

.content-wrapper {
    width: 75%;
    margin: auto;
}

.error {
    background-color: #B03C25;
    color: white;
}

.notice {
    background-color: #ffffcc;
}

.field-group {
    display: flex;
    justify-content: space-between;
}

.field-group .field {
    flex: 1;
    margin-right: 1em;
}

.field-group .field:last-of-type {
    margin-right: 0;
}


.field .inline {
    display: inline-block;
    padding-right: 1em;
}

.field INPUT.inline {
    padding-right: 2em;
}

.field INPUT[type=text], .field INPUT[type=password], .field TEXTAREA {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: .5em;
    width: 100%;
}

.field INPUT[type=text].inline {
    width: auto;
}

.field LABEL {
    display: block;
    margin: .25em 0;
}

.field TEXTAREA {
    height: 5em;
}

.field {
    padding-bottom: 1em;
}

.field .note {
    font-size: .75em;
    margin-top: .5em;
}

.focus-candidate {
    background-color: var(--highlight-bg-color);
    color: #000;
}

.half-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.help:hover {
    cursor: help;
}

.hidden {
    display: none;
}

.icon {
    width: 1em;
    height: 1em;
    fill: #333;
    vertical-align: middle;
    padding-right: .5em;
}

.icon.inactive {
    fill: #ccc;
}

.message {
    margin: -1em -1em 1em -1em;
    padding: 1em;
}

.message p {
    margin: 0 0 1em 0;
}

.message p:last-of-type {
    margin-bottom: 0;
}

.middle-column {
    padding: 0 1em;
}

.pagination .next {
    padding: 0 1em;
}

.pagination .previous {
    padding: 0 1em;
}

.pagination {
    margin: auto;
    text-align: center;
    padding: 1em 0;
}

.pagination A {
    text-decoration: none;
    color: inherit;
}

.pagination .icon {
    height: .75em;
    padding: 0;
    margin-top: -.1em;
}

.quarter-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.shortcuts A {
    display: inline-block;
    margin-left: 1em;
    padding: .5em 0;
}

.shortcuts {
    font-size: .85em;
    text-align: right;
}

.smaller {
    font-size: .85em;
}

.strikeout {
    text-decoration: line-through;
}

.plain {
    text-decoration: none;
}

.success {
    background-color: #87D68D;
}

.svg-defs {
    display: none;
}

.table-sleeve {
    width: 100%;
    overflow: auto;
}

.table-wrapper {
    border: 1px solid #ccc;
    margin-bottom: 2em;
}

TABLE.bordered {
    border: 1px solid #ccc;
}

TABLE.natural-width {
    min-width: auto;
}

.natural-width TABLE {
    min-width: inherit;
}

.one-line {
    white-space: nowrap;
}

.third-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

.two-third-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 66%;
}

.views .active {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.views LI {
    display: inline-block;
    margin-left: 1em;
}

.views {
    text-align: right;
}

.debug {
    margin: 2em auto;
}

.inline-list {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.inline-list LI {
    display: inline;
}

.inline-list LI:after {
    content: ', ';
}

.inline-list LI:last-of-type:after {
    content: '';
}

.copy-to-clipboard {
    text-decoration: none;
    display: inline-block;
    padding-right: .5em;
}

.icon-copy {
    transition: all 500ms;
}

.icon-copy.light {
    fill: white;
}

.icon-copy:hover {
    fill: green;
}

.icon-copy.copied {
    transform: scale(1.5) rotate(20deg);
}

.map {
    border: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
    .content-wrapper {
        overflow: auto;
        width: 95%;
    }
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}

/* Print layout */
@media print {
    BODY {
        background-color: #fff;
    }

    .content-wrapper {
        width: 100%;
    }

    #page-header {
        display: none;
    }
}

.actions {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.actions > * {
    margin: 0 .5em;
}

.actions > *:first-child {
    margin-left: 0;
}

.actions > *:last-child {
    margin-right: 0;
}


.action-button {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.action-button svg {
    height: 100%;
}

.action-button .label {
    font-size: .5em;
    line-height: 2;
    text-transform: uppercase;
}

.action-button a {
    width: 1em;
    height: 1em;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all .25s;
}

.clipboard-button a:hover {
    fill: white;
    background-color: MediumSeaGreen;
}

.clipboard-button a.clicked {
    animation: clipboard-button .5s 1;
}

.clipboard-button form {
    position: absolute;
    top: -999em;
    left: -999em;
}

@keyframes clipboard-button {
    0% {
        transform: rotate(0) scale(1);

    }

    20% {
        transform: rotate(10deg) scale(1.1);
    }

    60% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(0);
    }

}

.discard-button a:hover {
    background-color: var(--discard-bg-color);
    fill: #fff;
}
