{% extends "base.html" %}

{% set page_title = "IP" %}
{% set home_link = True %}

{% block page_body %}

<main class="ui page grid">
        {% if result %}
        <div class="sixteen wide column">
            <p>{{ result }}</p>
        </div>
        {% else %}
        <div class="center aligned sixteen wide centered column">
            <div class="ui segment">
                <p>Your address is <a href="/whois?address={{address}}">{{ address }}</a></p>

                <p>The external address is <a href="/whois?address={{ external_ip }}">{{ external_ip }}</a></p>
            </div>
        </div>
        {% endif %}
</main>
{% endblock %}
