{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.staticAsset('startpage', 'startpage.css') }}
{% endblock %}

{% block page_body %}
    <main id="editor">
        <form method="post" action="{{ post_url }}">
            <input type="hidden" name="page_name" value="{{ page_name }}" />

            <div class="field stretch">
                <textarea name="page_content">{{ page_content }}</textarea>
            </div>

            <div class="field">
                <button>{{ button_label }}</button>
                <a class="cancel" href="{{ cancel_url }}">Cancel</a>
            </div>
        </form>
    </main>
{% endblock %}
