{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% set body_id = 'startpage-edit' %}

{% block stylesheets %}
    {{ macros.staticAsset('startpage', 'startpage.css') }}
{% endblock %}

{% block page_body %}
    <main>
        <form method="post" action="{{ post_url }}">
            <input type="hidden" name="page_name" value="{{ page_name }}" />

            <div class="field">
                <textarea name="page_content">{{ page_content }}</textarea>
            </div>
            <div class="field">
                <button>{{ button_label }}</button>
                {{ macros.cancelLink(cancel_url, False) }}
            </div>
        </form>
    </main>
{% endblock %}
