{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros -%}

{% set body_id = 'startpage-edit' %}

{% block stylesheets %}
    {{ macros.staticAsset('startpage', 'startpage.css') }}
{% endblock %}

{% block page_body %}
    <main>
        <form method="post" action="{{ post_url }}">
            <input type="hidden" name="page_name" value="{{ page_name }}" />
            <fieldset>
                <header class="app-nav">
                    <button>{{ button_label }}</button>
                    <a href="{{ cancel_url }}">cancel</a>
                </header>
                <textarea name="page_content">{{ page_content }}</textarea>
            </fieldset>
        </form>
    </main>
{% endblock %}
