{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block stylesheets %}
    {{ macros.asset("css/startpage.css") }}

    {% if anonymizer_url %}
        <style type="text/css">
            A[href^="{{anonymizer_url}}"] {
                color: #369;
                font-style: normal;
            }
        </style>
    {% else %}
        <!-- Anonymizer inline style omitted -->
    {% endif %}

{% endblock %}

{% block page_body %}
    {{ macros.svgSymbols("edit") }}
    <main id="display">
        {% for section in page.sections() if not section.startswith("-") %}
            <section>
                <h1>
                    <a href="#{{ section|slug }}"
                       title="#{{ section|slug }}"
                       class="hash-focus-candidate"
                       data-hash-focus-id="{{ section|slug }}"
                    >{{ section }}</a>
                </h1>
                <ul>
                    {% for url, title in page.items(section): -%}

                        {%- if loop.first -%}
                            <li>
                        {%- endif -%}

                        {%- if not title.startswith("+") and not loop.first -%}
                            </li>
                            <li>
                        {% endif %}

                        {%- if title.startswith("+") -%}
                            {{ macros.link(title[1:], url, ",") }}
                        {%- else -%}
                            {{ macros.link(title, url) }}
                        {%- endif -%}

                        {% if loop.last -%}
                            </li>
                        {% endif -%}

                    {% endfor %}
                </ul>
            </section>
        {% endfor %}

        <section>
            <ul>
                <li>
                   <time>Modified {{ created|relative_datetime }}</time>
                </li>
                <li>
                    <a id="edit-record" href="{{ edit_url }}">
                        <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                        Edit
                    </a>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    {{ macros.asset("js/focus-as-you-type.js") }}
    {{ macros.asset("js/startpage.js") }}
{% endblock %}
