.content-wrapper {
    max-width: 800px;
}

.bookmark {
    background-color: #fff;
    padding: .75em;
    margin-bottom: 1.5em;
}

.bookmark H2 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.bookmark .details {
    font-size: .75em;
}

.bookmark .details p {
    display: inline-block;
    margin: .5em 1em 0 0;
}

.bookmark .tag {
    color: currentColor;
    display: inline-block;
}

.bookmark A {
    text-decoration: none;
}

.bookmark A:hover {
    text-decoration: underline;
}

.bookmark .actions {
    float: right;
}

.bookmark .comments {
    line-height: 1.4;
}

.tag-list {
    padding-left: 0;
    list-style-type: none;
    line-height: 1.4;
}

.tag-list LI {
    display: inline;
    padding-right: 1.5em;
    font-size: .85em;
    white-space: nowrap;
}


#all-tags {
    padding: 0 2em;
    column-count: 1;
    line-height: 1.5;
}

#all-tags LI {
    display: block;
}

@media (min-width: 600px) {
    #all-tags {
        column-count: 2;
    }
}

@media (min-width: 1024px) {
    #all-tags {
        column-count: 3;
    }
}

@media (min-width: 1100px) {
    #all-tags {
        column-count: 4;
    }
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
}

/* Extra large devices */
@media (min-width: 1200px) {
}
