.bookmark {
    padding: 1em 0;
}

.bookmark .title {
    font-size: 1.1em;
    font-weight: bold;
}

.bookmark .details {
    font-size: .75em;
}

.bookmark .details > * {
    display: inline-block;
    margin: 0 1em 0 0;
}

.bookmark .tag {
    color: currentColor;
    display: inline-block;
}

.bookmark .actions {
    float: right;
}

.bookmark .comments {
    line-height: 1.2;
    margin-bottom: 0;
}

.tag-list {
    padding-left: 0;
    list-style-type: none;
    line-height: 1.4;
}

.tag-list LI {
    display: inline;
    padding-right: 1.5em;
    font-size: .85em;
    white-space: nowrap;
}

#all-tags {
    column-count: 1;
    line-height: 1.5;
}

#all-tags LI {
    display: block;
}

/* Small devices */
@media (min-width: 576px) {
    #all-tags {
        column-count: 2;
    }
}

/* Medium devices */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {

    #all-tags {
        column-count: 3;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    #all-tags {
        column-count: 4;
    }
}
