.content-wrapper {
    max-width: 800px;
}

.bookmark {
    background-color: #fff;
    padding: .75em;
    margin-bottom: 1.5em;
}

.bookmark H2 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

.bookmark .details {
    font-size: .75em;
}

.bookmark .details p {
    display: inline-block;
    margin: .5em 1em 0 0;
}

.bookmark .tag {
    color: currentColor;
    display: inline-block;
}

.bookmark A {
    text-decoration: none;
}

.bookmark A:hover {
    text-decoration: underline;
}

.bookmark .actions {
    float: right;
}

.bookmark .comments {
    line-height: 1.4;
}
