body {
    background-color: #fff;
}

section {
    column-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    page-break-inside: avoid;
    margin-bottom: 1em;
    padding: 0.5em;
    box-sizing: border-box;
}

section:last-of-type {
    background-color: #eee;
    margin-bottom: 0;
}

section:last-of-type li {
    padding: .5em 0;
}

section:last-of-type li:last-of-type {
    padding-bottom: 0;
}


section.active {
    background-color: #D1E2F2;
}

section.active H1 {
    border-bottom-color: inherit;
}

section a {
    color: #FF4500;
    text-decoration: none;
}

section a:focus {
    outline: 0;
    background-color: #369;
    color: white;
}

section a:hover {
    text-decoration: underline;
}

section h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #cccccc;
    line-height: 2;
    margin-bottom: .5em;
}

section h1 a {
    color: inherit;
    font-style: inherit;
}


section h1 a:hover {
    text-decoration: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

li {
    line-height: 1.5;
    margin: 0;
}

li.group .all {
    font-style: normal;
    font-size: .75em;
    padding-left: .75em;
    text-transform: uppercase;
    visibility: hidden;
}

li.group:hover .all {
    visibility: visible;
    color: green;
}

#appcache-message {
    background-color: #ffc46f;
    padding: 1em 0;
    text-align: center;
    font-size: .85em;
    display: none;
    color: black;
    text-decoration: none;
}

.content-wrapper {
    width: auto;
}

/* Tablet and up */
@media (min-width: 768px) {
    body {
        font-size: .8em;
    }

    A.top {
        display: none;
    }

    .content-wrapper {
        column-gap: 2em;
        column-width: 15em;
        display: block;
        padding: 1em;
    }

}
