BODY {
    background-color: var(--white);
}

section {
    column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin: .5em 0;
    padding: .5em;
    box-sizing: border-box;
}

section:last-of-type {
    background-color: var(--secondary);
    margin-bottom: 0;
    padding: .5em;
    box-sizing: border-box;
}

section:last-of-type li {
    padding: .5em 0;
}

section:last-of-type li:last-of-type {
    padding-bottom: 0;
}

section a {
    padding: .25em;
    color: var(--alert);
}

section a:focus {
    outline: 0;
    background-color: var(--primary);
    color: var(--white);
    border-bottom-color: transparent;
}

section h1 {
    font-size: 1em;
    padding: 0;
    line-height: 1.5;
    margin: 0 0 .5em;
}

section h1 a {
    color: currentColor;
    display: block;
    border-bottom: 1px solid #cccccc;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

li {
    line-height: 1.6;
    margin: 0;
}

li.group .all {
    font-style: normal;
    font-size: .75rem;
    padding-left: .75em;
    text-transform: uppercase;
    visibility: hidden;
}

li.group:hover .all {
    visibility: visible;
    color: var(--green);
}

#startpage-edit TEXTAREA {
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
    font-family: monospace;
    height: 70vh;
}

/* Small devices */
@media (min-width: 576px) {
    #startpage-display main {
        column-gap: 1em;
        column-count: 2;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    #startpage-display main {
        column-count: 3;
    }
}

/* Large devices */
@media (min-width: 992px) {
    #startpage-display main {
        column-count: 4;
    }

    section {
        font-size: .875rem;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    #startpage-display main {
        column-count: 5;
    }
}
