<header>
    <form (ngSubmit)="search()" [formGroup]="searchForm" autocomplete="off">
        <div class="field">
            <input type="search" formControlName="query"/>
        </div>
        <div class="field">
            <button [disabled]="searchForm.invalid">Search</button>
        </div>
        <div *ngIf="query.value" class="field reset">
            <a href="#" (click)="clearSearch($event)">Clear Search</a>
        </div>
    </form>
    <app-add-button [routerLink]="['/transactions', 0, 'form']" [resourceName]="singularResourceName"></app-add-button>
</header>

<table *ngIf="transactions.length > 0">
    <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Account</th>
            <th>Details</th>
            <th class="align-right">Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions" [class.cleared]="transaction.cleared_on">
            <td><a [routerLink]="['/transactions', transaction.uid, 'form']">{{ transaction.occurred_on|date:'longDate' }}</a></td>
            <td *ngIf="transaction.cleared_on">
                <div>Cleared</div>
                <small>{{ transaction.cleared_on|date:'longDate' }}</small>
            </td>
            <td *ngIf="!transaction.cleared_on">
                <a title="Clear now" href="#" *ngIf="!transaction.cleared_on" (click)="clearTransaction($event, transaction)">Uncleared</a>
            </td>
            <td><a [routerLink]="['/accounts', transaction.account.uid, 'form']">{{ transaction.account.name }}</a></td>
            <td>
                {{ transaction.payee }}
                <p *ngIf="transaction.note">
                    <em>{{ transaction.note }}</em>
                </p>

                <ul class="tag-list" *ngIf="transaction.tags">
                    <li *ngFor="let tag of transaction.tags">
                        <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                        <a [routerLink]="['/transactions']" [queryParams]="{q: 'tags:' + tag}">{{ tag }}</a>
                    </li>
                </ul>
            </td>
            <td class="align-right">{{ transaction.amount|money }}</td>
            <td class="indicator"></td>
        </tr>
    </tbody>
</table>

<p *ngIf="transactions.length == 0">There are no transactions.</p>
