HEADER {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

FORM {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

FORM .field.reset A {
    margin-left: 1em;
    line-height: 2.25em;
}

TR, TD {
    border-left: 0;
    border-right: 0;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.tag-list {
    margin: 1em 0 0 0;
    padding: 0;
    list-style-type: none;
}

.tag-list LI {
    display: inline;
    padding-right: 1em;
}

.tag-list LI .icon {
    margin-right: .5em;
}

.minibanner {
    display: inline-block;
    text-transform: uppercase;
    padding: .5em;
    text-align: center;
    font-weight: bold;
    background-color: lemonchiffon;
}

.minibanner + P {
    margin-top: 0.75em;
}

TR.cleared .minibanner {
    background-color: lightgreen;
}
