<header>
    <app-add-button [routerLink]="['/transactions', 0, 'form']" [resourceName]="singularResourceName"></app-add-button>
</header>

<table *ngIf="transactions.length > 0">
    <thead>
        <tr>
            <th>Date</th>
            <th>Payee</th>
            <th>Amount</th>
            <th>Account</th>
            <th>Note</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions" [class.cleared]="transaction.cleared_on">
            <td><a [routerLink]="['/transactions', transaction.uid, 'form']">{{ transaction.occurred_on|date:'longDate' }}</a></td>
            <td>{{ transaction.payee }}</td>
            <td>{{ transaction.amount|money }}</td>
            <td><a [routerLink]="['/accounts', transaction.account.uid, 'form']">{{ transaction.account.name }}</a></td>
            <td>
                {{ transaction.note }}

                <ul class="tag-list" *ngIf="transaction.tags">
                    <li *ngFor="let tag of transaction.tags">
                        <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                        {{ tag }}
                    </li>
                </ul>
            </td>
            <td *ngIf="transaction.cleared_on">
                <div>Cleared</div>
                <small>{{ transaction.cleared_on|date:'longDate' }}</small>
            </td>
            <td *ngIf="!transaction.cleared_on">
                <a title="Clear now" href="#" *ngIf="!transaction.cleared_on" (click)="clearTransaction($event, transaction)">Uncleared</a>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="transactions.length == 0">There are no transactions.</p>
