HEADER {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

FORM {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

FORM .field.reset A {
    margin-left: 1em;
    line-height: 2.25em;
}

TR, TD {
    border-left: 0;
    border-right: 0;
}

.align-right {
    text-align: right;
}

TD.indicator {
    width: 1%;
    background-color: #ccc;
}

TR.cleared TD.indicator {
    background-color: SeaGreen;
}

.tag-list {
    margin: 1em 0 0 0;
    padding: 0;
    list-style-type: none;
}

.tag-list LI {
    display: inline;
    padding-right: 1em;
}
