<header>
    <form (ngSubmit)="search()" [formGroup]="searchForm" autocomplete="off">
        <div class="field">
            <input type="search" formControlName="query"/>
        </div>
        <div class="field">
            <button [disabled]="searchForm.invalid">Search</button>
        </div>
        <div *ngIf="query.value" class="field reset">
            <a href="#" (click)="clearSearch($event)">Clear Search</a>
        </div>
    </form>
    <app-add-button [routerLink]="['/transactions', 0, 'form']" [resourceName]="singularResourceName"></app-add-button>
</header>

<div class="selection-summary" [ngPlural]="selectionSize()">
    <ng-template ngPluralCase="=0"></ng-template>
    <ng-template ngPluralCase="=1">
        <div>1 transaction selected totaling {{ selectionTotal()|money }}</div>
    </ng-template>
    <ng-template ngPluralCase="other">
        <div>{{ selectionSize() }} transactions selected totaling {{ selectionTotal()|money }}</div>
    </ng-template>
</div>

<div class="pager">
    <div></div>
    <div *ngIf="count > 0">{{ this.offset + 1}} to {{ this.offset + transactions.length }} of {{ count }}</div>
    <div></div>
</div>

<table *ngIf="transactions.length > 0">
    <thead>
        <tr>
            <th>Date</th>
            <th>Account</th>
            <th>Details</th>
            <th class="align-right">Amount</th>
            <th class="align-right">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions"
            [class.cleared]="transaction.cleared_on"
            [class.selected]="transaction.selected"
            (click)="toggleSelection(transaction)">
            <td><a class="unbroken" [routerLink]="['/transactions', transaction.uid, 'form']">{{ transaction.occurred_on|date:'longDate' }}</a></td>
            <td>
                <div class="unbroken" *ngIf="transaction.accountId > 0">
                    {{ transaction.account!.name }} withdrawl
                </div>
                <div class="unbroken" *ngIf="transaction.destinationId > 0">
                    {{ transaction.destination!.name }} deposit
                </div>
            </td>
            <td>
                {{ transaction.payee }}
                <p *ngIf="transaction.note">
                    <em>{{ transaction.note }}</em>
                </p>

                <ul class="tag-list" *ngIf="transaction.tags">
                    <li *ngFor="let tag of transaction.tags; first as isFirst">
                        <svg *ngIf="isFirst" class="icon"><use xlink:href="#icon-tag"></use></svg>
                        <a [routerLink]="['/transactions']" [queryParams]="{q: 'tags:' + tag}">{{ tag }}</a>
                    </li>
                </ul>
            </td>
            <td class="align-right unbroken">{{ transaction.amount|money }}</td>
            <td class="align-right" *ngIf="transaction.cleared_on">
                <div class="minibanner">Cleared</div>
                <p class="unbroken">{{ transaction.cleared_on|date:'longDate' }}</p>
            </td>
            <td class="align-right" *ngIf="!transaction.cleared_on">
                <div class="minibanner">Pending</div>
                <p *ngIf="!transaction.cleared_on"><a href="#" (click)="clearTransaction($event, transaction)">Clear Now</a></p>
            </td>
        </tr>
    </tbody>
</table>

<div class="pager">
    <div>
        <a *ngIf="this.offset > 0" [routerLink]="[]" [queryParams]="{offset: 0}" queryParamsHandling="merge">
            ⏪️  <span>Newest</span>
        </a>
        <a *ngIf="this.offset > 0" [routerLink]="[]" [queryParams]="{offset: previousOffset}" queryParamsHandling="merge">
            ⬅️  <span>Newer</span>
        </a>
    </div>
    <div></div>
    <div>
        <a *ngIf="nextOffset < count" [routerLink]="[]" [queryParams]="{offset: nextOffset}" queryParamsHandling="merge">
            <span>Older</span> ➡️
        </a>
        <a *ngIf="nextOffset < count" [routerLink]="[]" [queryParams]="{offset: count - transactions.length}" queryParamsHandling="merge">
            <span>Oldest</span> ⏩
        </a>
    </div>
</div>




<p *ngIf="transactions.length == 0">There are no transactions.</p>
