{% extends "apps/static/templates/base.jinja.html" %}
{% import "apps/static/templates/macros.jinja.html" as macros -%}

{% block scripts %}
    {{ macros.asset("js/later.js") }}
    {{ macros.asset("js/shortcuts.js") }}
{% endblock %}

{% block app_message %}
    {% if bookmark.deleted %}
        <div id="app-message" class="error">
            <p>
                This URL was marked for removal at {{ bookmark.deleted|dateformat("%-I:%M %p") }}
            </p>
        </div>
    {% elif bookmark.rowid and not bookmark.deleted  %}
        <section id="app-message" class="notice">
            <p>
                {% if bookmark.updated %}
                    Last updated
                    {{ bookmark.updated|dateformat("%B %-d, %Y") }}.
                {% else %}
                    This URL was bookmarked on
                    {{ bookmark.added|dateformat("%B %-d, %Y") }}.
                {% endif %}

                <a href="{{ bookmarks_url }}">Switch to bookmarks</a>.
            </p>
        </section>
    {% else %}
        {{ super() }}
    {% endif %}

{% endblock %}


{% block page_body %}
    {{ macros.svgSymbols("link", "tag", "file", "filetext", "comment") }}
    <main>
        <form id="later-form" method="post" action="/bookmarks">
            <div class="field">
                <label for="title">Title</label>
                <input
                    type="text"
                    id="title"
                    name="title"
                    value="{{ title|default('', true)|e }}"
                    required
                />
            </div>

            <div class="field">
                <label for="url">
                    <svg class="icon"><use xlink:href="#icon-link"></use></svg>
                    URL
                </label>
                <input
                    type="text"
                    id="url"
                    name="url"
                    data-original-value="{{url.address}}"
                    value="{{ url.address|e }}"
                    required
                />

                <div class="shortcuts" {% if not url.address %}hidden{% endif %}>
                    <a href="#" data-field="url" data-shortcut="url-remove-path">Remove path</a>
                    <a href="#" data-field="url" data-shortcut="url-remove-query">Remove querystring</a>
                    <a href="#" data-field="url" data-shortcut="url-remove-hash">Remove hash</a>
                </div>
            </div>

            <div class="field">
                <label for="url">
                    <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
                    Tags
                </label>
                <input
                    type="text"
                    id="tags"
                    name="tags"
                    value="{{ tags|default('', true)|e }}"
                />
                <p class="note">Separate multiple tags by commas.</p>
            </div>

            <div class="field">
                <label for="comments">
                    <svg class="icon"><use xlink:href="#icon-comment"></use></svg>
                    Comments
                </label>
                <textarea
                    id="comments"
                    name="comments"
                >{{ comments|default('', true)|e }}</textarea>

                <div class="shortcuts" {% if not comments %}hidden{% endif %}>
                    <a href="#" data-field="comments" data-shortcut="sentence-trim-start">Trim sentence from start</a>
                    <a href="#" data-field="comments" data-shortcut="sentence-trim-end">Trim sentence from end</a>
                    <a href="#" data-field="comments" data-shortcut="set-value" data-value="">Clear</a>
                </div>
            </div>

            <div class="field">
                {% if bookmark.rowid %}
                    <button data-default-label="Update" data-progress-label="Please wait">Update</button>
                {% else %}
                    <button data-default-label="Save" data-progress-label="Please wait">Save</button>
                {% endif %}
            </div>
        </form>
    </main>
{% endblock %}
