{% extends "base.html" %}

{% set page_title = "Later" %}

{% set home_link = True %}

{% block scripts %}
<script src="/static/later/later.js"></script>
{% endblock %}


{% block page_body %}

<main class="ui page grid stackable">
    <div class="ui sixteen wide right aligned column">
        Bookmarklet:
        <a href="javascript:e=encodeURIComponent;m=document.querySelectorAll('META[name=description]');void(window.open('{{ base }}/later?comments=' + e(window.getSelection().toString()||(m.length>0?m[0].getAttribute('content'):'')) + '&url='+e(window.location.href) + '&title='+e(document.title), 'later'))">⚡ later</a>
    </div>

    <div class="ui sixteen wide column">

        <div class="ui {% if error %}error{% endif %} form">

            <div class="ui error message">{{ error }}</div>
            <div class="hidden ui green message">Success!</div>

            <div class="field">
                <label for="url">Title:</label>
                <input type="text" id="title" name="title" value="{{ title|default('', true)|e }}"/>
            </div>

            <div class="field">
                <label for="address">Address:</label>
                <input type="text" id="address" name="url" data-original-value="{{url|default('', true)}}" value="{{ url|default('', true)|e }}"/>
                <p class="shortcuts">
                    <a class="remove-querystring hidden" href="#">Remove querystring</a>
                    <a class="remove-hash hidden" href="#">Remove hash</a>
                    <a class="reset hidden" href="#">Clear</a>
                </p>
            </div>


            <div class="field">
                <label for="url">Tags:</label>
                <input type="text" id="tags" name="tags" value="{{ tags|default('', true)|e }}"/>
            </div>

            <div class="field">
                <label for="comments">Comments:</label>
                <textarea id="comments" name="comments">{{ comments|default('', true)|e }}</textarea>
                <p class="shortcuts">
                    <a class="trim-sentence-from-start hidden" href="#">Trim sentence from start</a>
                    <a class="trim-sentence-from-end hidden" href="#">Trim sentence from end</a>
                    <a class="trim-all hidden" href="#">Clear</a>
                </p>
            </div>

            <div class="field">
                <button class="ui submit button">Save</button>
            </div>
        </div>
    </div>

</main>


{% endblock %}
