{% extends "base.html" %}
{% import "macros.html" as macros -%}

{% block stylesheets %}
{{ macros.cacheBustedStylesheet('archive', 'archive.css') }}
{% endblock %}

{% block scripts %}
{{ macros.cacheBustedScript('archive', 'archive.js') }}
{% endblock %}

{% block svg_defs %}
{% endblock %}

{% block page_body %}

<main>
    <form class="content-wrapper" method="get" action="/archive">
        <div class="field">
            <input type="text" id="query" name="query" value="{{ query|default('', true) }}"/>
        </div>
        <div class="field-group">
            <div class="field">
                <button>Search</button>
            </div>
            <div class="field align-right">
                <a href="/archive">Reset</a>
            </div>
        </div>
    </form>

    <div class="content-wrapper">

        <p {% if bookmarks %}class="hidden nothing-message"{% endif %}>Nothing found</p>

        {% for bookmark in bookmarks %}

        <div class="bookmark">
            <div class="actions">
                <a href="#" class="delete" data-url="{{ bookmark.url }}" rel="noreferrer" title="Delete this bookmark">
                    <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
                </a>
            </div>

            <h2><a href="{{ bookmark.url|anonymize }}" rel="noreferrer" target="_blank">{{ bookmark.title }}</a></h2>
            <p class="meta">
                <time>{{ bookmark.added|localtime|dateformat("MMMM D, YYYY") }}</time>
                |
                <span class="domain">{{ bookmark.domain }}</span>
                | <a class="wayback" href="#" data-url="{{ bookmark.url }}">cache</a>
            </p>

            {% if bookmark.comments %}
            <p class="comments">
                {{ bookmark.comments }}
            </p>
            {% endif %}

            <div class="align-right">

            </div>
        </div>

        {% endfor %}
    </div>
</main>

{% endblock %}
