{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/archive/static/archive.css" />
{% endblock %}

{% block scripts %}
<script src="/archive/static/archive.js"></script>
{% endblock %}

{% block svg_defs %}
{% endblock %}

{% block page_body %}

<main>
    <form class="content-wrapper" method="get" action="/archive">
        <div class="field">
            <label for="q">Search terms</label>
            <input type="text" id="q" name="q" value="{{ q|default('', true) }}"/>
        </div>
        <div class="field-group">
            <div class="field">
                <button>Search</button>
            </div>
            <div class="field align-right">
                <a href="/archive">Reset</a>
            </div>
        </div>
    </form>

    <div class="content-wrapper">

        <p {% if entries %}class="hidden nothing-message"{% endif %}>Nothing found</p>

        {% for key, entries in entries.items() %}
        <div class="date-group">
            <h1>{{ entries[0].created|localtime("date-full") }}</h1>
            {% for entry in entries %}
            <div class="bookmark">
                <div class="actions">
                    <a href="#" class="delete" data-uid="{{ entry.rowid }}" rel="noreferrer" title="Delete this bookmark">
                        <svg class="icon icon-bin"><use xlink:href="#icon-bin"></use></svg>
                    </a>
                </div>

                <p class="meta">
                    <time>
                        {{ entry.created|localtime("time12") }}
                    </time>

                    from <span class="domain">{{ entry.domain }}</span>
                </p>

                <h2><a href="{{ entry.url|anonymize }}" rel="noreferrer" target="_blank">{{ entry.title }}</a></h2>

                {% if entry.comments %}
                <p class="comments">
                    {{ entry.comments }}
                </p>
                {% endif %}
                <div class="align-right">
                    <a class="wayback" href="#" data-url="{{ entry.url }}">cache</a>
                </div>

            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
