main header, main footer {
    padding: 1em 0;
}

#headlines {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    font-size: 15px;
}

#headlines a {
    text-decoration: none;
}

#headlines .group {
    padding-top: 1em;
}

#headlines h1 {
    font-size: 1.5em;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    line-height: 1;
}

#headlines ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#headlines .title {
    display: block;
    overflow: hidden;
}

#headlines li {
    margin: 0;
    padding: .75em 0;
    border-bottom: 1px solid #ccc;
}

#headlines ol p {
    margin: .5em 0 1em;
}

#headlines footer {
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    font-size: .75em;
    padding-top: 1em;
}

/* Tablet and up */
@media (min-width: 768px) {
    #headlines .group {
        width: 16em;
    }

    #headlines .title {
        height: 2.25em;
    }
}


@media (min-width: 1200px) {
    #headlines .group {
        width: 20em;
    }
}
