#headlines {
    display: grid;
    grid-gap: 2em;
}

ol {
    margin-top: 0;
    padding-left: 0;
    list-style-position: inside;
}

li {
    margin: 0;
    padding: .75em 0;
}

.clicked {
    text-decoration: line-through;
}

.item-nav {
    font-size: .85em;
    padding-top: .5em;
}

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices */
@media (min-width: 768px) {
    #headlines {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large devices */
@media (min-width: 992px) {
    #headlines {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
